<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}MT-EQuAl [ultimate]{% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}" />
        <!-- Bootstrap theme -->
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap-theme.min.css') }}" />
        <!-- Custom styles for this template -->
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/css/font-awesome.min.css') }}" />
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/css/alertify.min.css') }}" />
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/css/jquery-ui.css') }}" />
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap-select.css') }}" />
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/css/popModal.min.css') }}" />
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/css/theme.css') }}" />

        {% block stylesheets %}{% endblock %}

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.min.js') }}" ></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/jquery-ui.js') }}" ></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.cookie.js') }}" ></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.tablesorter.js') }}" ></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/bootstrap.min.js') }}" ></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/alertify.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/bootstrap-select.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/popModal.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/mtequal.js') }}" ></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />


    </head>
    <body>
    <div id="loadingDiv" class="loading" style="display: none"></div>

    <script>
            window.name = 'mtequal';
            var unsaved = false;

            {% if app.session.flashbag.peekAll|length > 0 %}
                {% for type, messages in app.session.flashbag.all %}
                    {% for message in messages %}
                        {% if type == "alert" %}
                            alertify.alert("","{{ message | raw }}");
                        {% else %}
                            notify("{{ message | raw }}","{{ type ? type : '' }}");
                            {# {{ message|trans({}, domain|default('messages')) }} #}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endif %}


            function checkTask (task, label) {
                var isCompleted = false;
                $.ajax({
                    url: "{{ path('api_check_task') }}",
                    data: {"task": task},
                    type: 'GET',
                    async: false,
                    cache: false,
                    crossDomain: false,
                    success: function (json) {
                        var data = jQuery.parseJSON(json);
                        if (data.completed) {
                            isCompleted=true;
                        } else {
                            $("#archivedoc").show();
                        }
                    }
                });
                if (isCompleted) {
                    disableForm(task);
                    return true;
                }
                return false;
            }

            function disableForm (task) {
                //disable all hrefs
                if (task != "import_corpus" && task != "guidelines") {
                    $('#form a').each(function () {
                        $(this).removeAttr("href");
                    });
                }
                if (task == "guidelines") {
                    //$('#annotationguide').html("<label>Evaluation instructions:</label>");
                    //jQuery('.nicEdit-main').attr('contenteditable','false');
                    //jQuery('.nicEdit-panel').hide();
                    //$('#controls').hide();
                    $("#form input, #form select, #form button").attr('disabled', true);
                    $("#fileupload").attr('disabled', false);
                    $("#cancel").attr('disabled', false);
                } else {
                    if (task == "import_corpus") {
                        $('#upfilediv').hide();
                    } else if (task == "evalformat") {
                        $('#controls').hide();
                    }
                    $("#form input, #form select, #form button").attr('disabled', true);
                }

                return false;
            }

            //get the latest comments
            function get_comments(objtype, id, showall) {
                $.ajax({
                    url: '{{ path('api_comment') }}',
                    type: 'GET',
                    data: {"obj": objtype, "refid": id, "showall": showall},
                    async: true,
                    cache: false,
                    crossDomain: true,
                    contentType: "application/json",
                    dataType: 'json',
                    success: function (json) {
                        var comments = "";

                        for (var i in json) {
                            var comment ="";

                            if (json[i].userid != "{{ app.session.get('mysession')['userid'] }}") {
                                {% if not app.session.get('project')['blindrev'] %}
                                    comment += "<code>" + json[i].username + "</code> - ";
                                {% else %}
                                    comment += "&nbsp;<span class='fa fa-user'></span>&nbsp;";
                                {% endif %}
                            }

                            comment += json[i].comment;
                            if (json[i].date) {
                                var d = eval('(' + JSON.stringify(json[i].date) + ')');
                                d = d.date.replace(".000000", "");
                                comment += " - <span class='date-mini'>"+ d +"</span>";
                            }
                            if (comments.length != 0) {
                                comments = "<br>" + comments;
                            }
                            comments = comment + comments;
                        }
                        if (json.length > 3) {
                            if (showall == 1) {
                                $("#comm" + id + "_more").css("visibility", "hidden");
                            } else {
                                $("#comm" + id + "_more").css("visibility", "visible").html("&nbsp;<button onclick='get_comments(\"sentence\", \"" + id + "\",1);' class='btn btn-xs round' title='show all comments'><small>view more</small><b>...</b></button>");
                            }
                        }
                        $("#comm" + id + "_history").html(comments);
                    }
                });
                return false;
            }

            //store the current comment
            function save_comment(id, comment) {
                if (!/^\s*$/.test(comment)) {
                    var sentid = id.replace(/^comm/, "");
                    $.ajax({
                        url: '{{ path('save_comment') }}',
                        type: 'POST',
                        data: {
                            "obj": "sentence",
                            "refid": sentid,
                            "comment": comment,
                            "_csrf_token": "{{ csrf_token('authenticate') }}"
                        },
                        async: false,
                        cache: false,
                        crossDomain: true,
                        success: function (response) {
                            var json = jQuery.parseJSON(response);
                            if (json.message == "OK") {
                                get_comments("sentence", sentid);
                                //$("#comm" + sentid + "_history").html(comment);

                                $("#log").append("...comment saved!");
                                setTimeout('$("#log").html("")', 3000);
                                $("#" + id + "_text").val('');
                            } else {
                                notify("Sorry! Your comment has not been saved correctly.", "danger");
                            }
                        },
                        error: function (response, xhr, err) {
                            //alert(err+"\nreadyState: "+xhr.readyState+"\nstatus: "+xhr.status+"\nresponseText: "+xhr.responseText);
                            notify("An unexpected error occurred saving comment!", "danger");
                        }
                    });
                }
                $("#" + id + "_label").show();
                return false;
            }

            function projectList () {
                $.ajax({
                    url: "{{ path('project_list') }}",
                    type: 'GET',
                    async: true,
                    cache: false,
                    crossDomain: false,
                    data: {"_random": "randomize"},
                    success: function (json) {
                        if (json.projects.length > 0) {
                            var projects = "";
                            for (var i in json.projects) {
                                if (json.projects[i].name != "") {
                                    projects += "\n<li><a class='nowrap' href='{{ path('admin') }}?pid=" + json.projects[i].id + "'><i class=\"fa fa-thumb-tack fa-fw\"></i> " + json.projects[i].name + "</a></li>";
                                }
                            }
                            $("#projectMenu").html(projects);
                        }
                    },
                    error: function (response, xhr, err) {
                        $("#projectMenu").html("&nbsp;<i>No project available!</i>");
                    }
                });
            }

            function projectMonitor () {
                $.ajax({
                    url: "{{ path('project_monitor') }}",
                    type: 'GET',
                    async: true,
                    cache: false,
                    crossDomain: false,
                    beforeSend: function () {
                        $("#projectMonitor").html("<br><img class='pull-right' src=\"{{ asset('bundles/app/img/loading.gif') }}\" alt='Loading...' width='16' />");
                    },
                    success: function (html) {
                        $("#projectMonitor").html(html);
                    }
                });
            }

            //synchronize the update of the project
            function projectCheck (lastupdate) {
                $.ajax({
                    url: "{{ path('project_check') }}",
                    cache: false,
                    async: false,
                    success: function (data) {
                        var modified=data.modified["date"];
                        if (modified && lastupdate != modified.replace(".000000", "")) {
                            projectMonitor();
                        } else {
                            setTimeout("projectCheck('" + lastupdate + "')", 15000);
                        }
                    }
                });
            }

            //update evalformat or guidelines by importing document
            function importDocument (id, type) {
                var question = 'Do you want to overwrite the current '+type+'?';
                if (type == "evalformat") {
                    question = 'Do you want to overwrite the current evaluation format?';
                }
                var confirm = alertify.confirm('', question, null, null).set('labels', {
                    cancel: 'Cancel',
                    ok: 'OK'
                });
                confirm.set('onok', function () {
                    unsaved = false;
                    window.open("{{ path('project_import') }}?id="+id+"&view=settings."+type+"&_csrf_token={{ csrf_token('authenticate') }}", "_self");
                });
            }

            $(function() {
                var showChar = 200;
                $('.more').each(function() {
                    var content = $(this).text();
                    if (content.length > showChar) {
                        var con = content.substr(0, showChar);
                        var hcon = content.substr(showChar, content.length - showChar);
                        var txt= '<div class="block">' + con +  '<span class="dots">...</span><span class="morecontent"><span>' + hcon + '</span>&nbsp;&nbsp;<button class="btn small round moretxt">read more</button></span></div>';
                        $(this).html(txt);
                    }
                });
                $(".moretxt").click(function() {
                    if ($(this).hasClass("sample")) {
                        $(this).removeClass("sample");
                        $(this).text("read more");
                    } else {
                        $(this).addClass("sample");
                        $(this).text("read less");
                    }
                    $(this).parent().prev().toggle();
                    $(this).prev().toggle();
                    return false;
                });
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>

        {% block navbar %}{% endblock %}
        {% block message %}{% endblock %}

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        <div class="navbar-log small" id="log"></div>
    </body>
</html>
