{% block message %}
    {% if messagetype is not defined %}
        {% set messagetype = "alert-warning" %}
    {% endif %}
    {# added message.twig the variable "messagetype". It can be: alert-danger, alert-warning, alert-success, alert-info,... #}
    <div class="alert {{ messagetype }} alert_message">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    <script>window.setTimeout(function() {
            $(".alert_message").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove();
            });
        }, 5000);
    </script>
{% endblock %}
