<div class="container-fluid">
    <form class="form-horizontal cardgrey" action="{{path('app_user_update')}}" method="POST">
    <input type=hidden name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <div class="container-fluid">
        <div class="form-group">
            <label class="control-label col-xs-3" for="username">Username:</label>
            <div class="col-xs-6">
                <input type="text" class="form-control" id="username" name="username" placeholder="" value="{{ app.session.get('mysession')['username'] }}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="firstname">First Name:</label>
            <div class="col-xs-6">
                <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name" value="{{ app.session.get('mysession')['firstname'] }}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="lastname">Last Name:</label>
            <div class="col-xs-6">
                <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name" value="{{ app.session.get('mysession')['lastname'] }}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="email">Email:</label>
            <div class="col-xs-6">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="{{ app.session.get('mysession')['email'] }}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="affiliation">Affiliation:</label>
            <div class="col-xs-6">
                <textarea rows="3" class="form-control" id="affiliation" name="affiliation" placeholder="Company / Institute / ...">{{ app.session.get('mysession')['affiliation'] }}</textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-xs-3" for="roles">Roles:</label>
            <div id="roletypes" class="col-xs-6"></div>
        </div>

        <div class="form-group">
            <label class="control-label col-xs-3" for="roles">Access token:</label>
            <div id="access_token" class="col-xs-6">{{ app.session.get('mysession')['access_token'] }} <a class="btn alert-info"  href="{{path('app_refresh_token')}}?_csrf_token={{ csrf_token('authenticate') }}&api_key=refresh">Refresh token</a></div>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Save" />
            <a type="reset" class="btn btn-default" href="{{ path('admin') }}?view=account.details">Cancel</a>
        </div>
    </div>

</form>
</div>


{% block javascripts %}
<script>
    //renderRoletypeMenu("#roletypes", "{{ path('api_roletype_report') }}");
    var myRoles = {{ app.session.get('mysession')['roles']|json_encode|raw }};
    $.ajax({
        type: 'GET',
        url: "{{ path('api_roletype_report') }}",
        async: false,
        cache: false,
        success: function (json) {
            var menu = '<select id="roles[]" name="roles[]" class="selectpicker" data-width="fit" multiple="multiple">';
            for (var i in json) {
                if (json[i].name != "owner" && json[i].name != "admin") {
                    menu += '<option value="' + json[i].name + '"';
                    if (myRoles.indexOf(json[i].name) != -1) {
                        menu += ' selected';
                    }
                    menu += '>' + json[i].name + '</option>\n';
                }
            }
            menu += '</select>';
            $("#roletypes").html(menu);
        },
        error: function (response, xhr, err) {
            //notify("There is no selected role yet","warning");
        }
    });
</script>
{% endblock %}