{% block title %}Change password{% endblock %}

{% block javascripts %}
    <script>
        var CHECKPASS = false;
        var PASSWORD = "";
        var PASSWORD_CONFIRM = "";

        function checkPassword (el) {
            if (el.name == "password") {
                PASSWORD = el.value;
            } else if (el.name == "password_confirm") {
                PASSWORD_CONFIRM = el.value;
            }

            if (PASSWORD == PASSWORD_CONFIRM) {
                CHECKPASS = true;
                $("#checkpassword").html("");
                $("#checkpasswordicon").html("");
                document.getElementById("submit").disabled = false;
            } else {
                CHECKPASS = false;
                $("#checkpassword").html('Mis-matched password!');
                $("#checkpasswordicon").html('<span class="fa fa-warning form-control-feedback"></span>');
                document.getElementById("submit").disabled = true;
            }
        }

        document.getElementById("submit").disabled = true;
    </script>
{%  endblock %}

<div class="container-fluid">
    <form class="form-horizontal cardgrey" action="{{path('app_password_change')}}" method="POST">
        <div class="container-fluid">
            <div class="form-group">
                <label class="control-label col-xs-3" for="old_password">Insert your old password</label>
                <div class="col-xs-6">
                    <input type="password" class="form-control" id="old_password" name="old_password" size=40 required="required" placeholder="" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3" for="password">Insert your new password</label>
                <div class="col-xs-6">
                    <input type="password" class="form-control" id="password" name="password" size=40 autocomplete="off" required="required" onkeyup="checkPassword(this)" placeholder="" value="">
                </div>
            </div>
            <div class="has-alert has-danger ">
                <span id="checkpassword" class="help-block"></span>
                <div id="checkpasswordicon" class="has-warning has-feedback"></div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3" for="password_confirm">Re-type the new password</label>
                <div class="col-xs-6">
                    <input type="password" class="form-control" id="password_confirm" name="password_confirm" size=40 autocomplete="off" required="required" onkeyup="checkPassword(this)" placeholder="" value="">
                </div>
            </div>

            <div class="form-group">
                <input type="submit" id="submit" class="btn btn-primary" value="Submit" />
                <a type="reset" class="btn btn-default" href="{{ path('admin') }}?view=account.changepassword">Cancel</a>
            </div>
        </div>
    </form>
</div>