{% extends 'base.twig' %}
{% block title %}MT-EQuAl - a Toolkit for Manual Assessment of Machine Translation Output{% endblock %}

{% block navbar %}
    {%  if app.session.get('mysession') is not defined %}
        No user logged in
    {% endif %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="{{ path('admin') }}">MT-EQuAl</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('dashboard') }}">
                            <i class="fa fa-dashboard fa-fw" title="Dashboard"></i>Dashboard</a></li>

            <li><a href="{{ path('project_new') }}" title="Create a new project">
                    <i class="fa fa-plus-square fa-fw"></i>Create</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="Available projects">
                            <i class="fa fa-thumb-tack fa-fw"></i>Projects <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <ul class="nav scrollable-menu" id="projectMenu"></ul>
                    {#<span class="nomobile">
                        <li role='separator' class='divider'>
                        <li><a href="{{ path('project_new') }}"><button><i class="fa fa-plus-square"></i> Create a new project</button></a></li>
                    </span>
                    #}
                        </ul>
                    </li>
                    <!-- /.dropdown-projects -->

                    <!--
                    <li class="dropdown">
                        <a class="dropdown-toggle navbar-brand" data-toggle="dropdown" onclick="$('#psearch').focus();" href="#" title="Find a project">
                            <i class="fa fa-search fa-fw"></i><i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-search">
                            <li>
                                <div class="content">
                                   <form style="color: #000">Search project: <input id="psearch" name="psearch" class="formo-control" placeholder="" type="text" autofocus/></form>
                                    <ul class="nav nav-sidebar scrollable-menu" id="projectSearch"></ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                    -->
                    <!-- /.dropdown-search -->

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="User settings">
                            <i class="fa fa-user fa-fw"></i>{{ app.session.get('mysession')['username'] }} <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="{{ path('admin') }}?view=account.details"><i class="fa fa-user fa-fw"></i> User Profile</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{{ path('app_user_logout') }}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="Help">
                            <i class="fa fa-question fa-fw"></i><i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-help">
                            <li><a href="{{ asset('bundles/app/docs/MT-Equal_User_Guide_1.5.pdf') }}" target="mtequalHref"><i class="fa fa-book fa-fw"></i> Manual</a></li>
                            <li><a href="{{ asset('bundles/app/docs/web-api/help.html') }}" target="mtequalHref">
                            {# <li><a href="{{ asset('/api/help') }}" target="mtequalHref"> #}
                            <i class="fa fa-book fa-fw"></i> Web API</a></li>
                        </ul>
                        <!-- /.dropdown-help -->
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}
    {% set route = app.request.attributes.get('_route') %}
    {% if view is not defined %}
        {% set view = 'overview' %}
    {% endif %}
    <div id="content">
        {% if app.session.get('project') == true %}
            {% set enableTasks = app.session.get('project')['etasks'] | keys %}

            <div class="row">
                <h3 class="pull-left" style="margin-left: 20px">
                    <small><i class="fa fa-thumb-tack fa-fw"></i></small>
                    {{ app.session.get('project')["name"] }}
                </h3>
                <div class="top-right nowrap" id="projectMonitor" style="position: fixed; z-index: 1019; width:100%; top: 45px; right: 0; padding: 2px; margin: 0">
                </div>
            </div>


        <div class="row container">
            <nav id="nav-main">
                <ul class="nav nav-tabs" role="navigation">
                    {% if "admin" in app.session.get('project')["roles"]
                        or "owner" in app.session.get('project')["roles"]
                        or "reviewer" in app.session.get('project')["roles"]
                        or "vendor" in app.session.get('project')["roles"] %}
                        <li {% if view starts with 'overview' %} class="active"{% endif %}>
                            <a href="{{ path('admin') }}">
                                <i class="fa fa-tasks text-grey" title="Project overview"></i><span class="nomobile"> Overview</span>
                            </a>
                        </li>
                        {#<li {% if view starts with 'monitor' %} class="active"{% endif %}>
                            <a href="{{ path('admin') }}?view=monitor">
                                <i class="fa fa-clock-o text-grey" title="Activity monitor"></i><span class="nomobile"> Monitor</span>
                            </a>
                        </li>
                        #}
                    {% endif %}

                    {% if "admin" in app.session.get('project')["roles"]
                        or "owner" in app.session.get('project')["roles"]
                        %}
                        <li {% if view ends with 'corpus' %} class="active"{% endif %}>
                            <a href="{{ path('admin') }}?view=corpus">
                                <i class="fa fa-file-text-o text-grey" title="Corpus"></i><span class="nomobile"> Corpus</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if "evaluator" in app.session.get('project')["roles"] %}
                        <li {% if view starts with 'evaluation' %} class="active"{% endif %}>
                            <a href="{{ path('admin') }}?view=evaluation">
                                <i class="fa fa-pencil-square-o text-grey" title="Evaluation"></i><span class="nomobile"> Evaluation</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if "reviewer" in app.session.get('project')["roles"] %}
                        <li {% if view starts with 'review' %} class="active"{% endif %}>
                            <a href="{{ path('admin') }}?view=review">
                                <i class="fa fa-eye text-grey" title="Review"></i>
                                <span class="nomobile"> Review</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if "admin" in app.session.get('project')["roles"]
                        or "owner" in app.session.get('project')["roles"]
                        or "reviewer" in app.session.get('project')["roles"]
                        or "vendor" in app.session.get('project')["roles"] %}
                        <li {% if view starts with 'report' %} class="active"{% endif %}>
                            <a href="{{ path('admin') }}?view=report">
                                <i class="fa fa-list-alt text-grey" title="Evaluation report"></i>
                                <span class="nomobile"> Evaluation report</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if "admin" in app.session.get('project')["roles"]
                        or "owner" in app.session.get('project')["roles"]
                        or "vendor" in app.session.get('project')["roles"] %}
                        <li {% if view starts with 'settings' %} class="active"{% endif %}>
                            {% if "vendor" in app.session.get('project')["roles"] %}
                                <a href="{{ path('admin') }}?view=settings.access">
                            {% else %}
                                <a href="{{ path('admin') }}?view=settings.details">
                            {% endif %}

                            <i class="fa fa-wrench text-grey" title="Project settings"></i>
                            <span class="nomobile"> Settings</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>

            {# menu column #}
            {% if view starts with 'settings' %}
                {% if "admin" in app.session.get('project')["roles"]
                    or "owner" in app.session.get('project')["roles"]
                    or "vendor" in app.session.get('project')["roles"] %}
                <div class="col-xs-2">
                    <div class="sidebar-nav">
                        <div class="navbar-default" role="navigation">
                            <div class="col-lg-1">
                                <div class="navbar-sidebar sidebar">
                                    <ul class="nav nav-sidebar">
                                        {% if "admin" in app.session.get('project')["roles"]
                                            or "owner" in app.session.get('project')["roles"]
                                        %}
                                            <span class="nomobile"><li class="disableitem">GENERAL</li></span>
                                            <li {% if view ends with 'details' %} class="active"{% endif %}>
                                                <a href="{{ path('admin') }}?view=settings.details">
                                                    <i class="fa fa-gear fa-fw" title="Project details"></i>
                                                    <span class="nomobile"> Project details</span>
                                                </a>
                                            </li>

                                            <li {% if view ends with 'delete' %} class="active"{% endif %}>
                                                <a href="{{ path('admin') }}?view=settings.delete">
                                                    <i class="fa fa-trash-o fa-fw" title="Delete project"></i>
                                                    <span class="nomobile"> Delete project</span>
                                                </a>
                                            </li>

                                            <li class="divider"></li>

                                            <span class="nomobile"><li class="disableitem">EVALUATION</li></span>
                                            <li {% if view ends with 'evalformat' %} class="active"{% endif %}>
                                                <a href="{{ path('admin') }}?view=settings.evalformat">
                                                    <i class="fa fa-check-square-o fa-fw" title="Evaluation format"></i>
                                                    <span class="nomobile"> Evaluation format</span>
                                                </a>
                                            </li>
                                            <li {% if view ends with 'guidelines' %} class="active"{% endif %}>
                                                <a href="{{ path('admin') }}?view=settings.guidelines">
                                                    <i class="fa fa-crosshairs fa-fw" title="Guidelines"></i>
                                                    <span class="nomobile"> Guidelines</span>
                                                </a>
                                            </li>
                                            <li class="divider"></li>
                                        {% endif %}

                                        <span class="nomobile"><li class="disableitem">CORPUS</li></span>
                                        {% if "admin" in app.session.get('project')["roles"]
                                            or "owner" in app.session.get('project')["roles"] %}
                                            <li {% if view ends with 'import' %} class="active"{% endif %}>
                                                <a href="{{ path('admin') }}?view=settings.import">
                                                    <i class="fa fa-upload" title="Import corpus"></i>
                                                    <span class="nomobile"> Import corpus</span>
                                                </a>
                                            </li>
                                        {% endif %}

                                        {% if "admin" in app.session.get('project')["roles"]
                                            or "owner" in app.session.get('project')["roles"]
                                            or "vendor" in app.session.get('project')["roles"] %}
                                            <li {% if view ends with 'export' %} class="active"{% endif %}>
                                                <a href="{{ path('admin') }}?view=settings.export">
                                                    <i class="fa fa-download" title="Export"></i>
                                                    <span class="nomobile"> Export corpus</span>
                                                </a></li>
                                            <li class="divider"></li>
                                        {% endif %}

                                        <span class="nomobile"><li class="disableitem">MANAGEMENT</li></span>
                                        <li {% if view ends with 'access' %} class="active"{% endif %}>
                                            <a href="{{ path('admin') }}?view=settings.access">
                                                <i class="fa fa-users fa-fw" title="User Invitation"></i>
                                                <span class="nomobile"> User Invitation</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div><!--/.nav-collapse -->
                        </div>
                    </div>
                </div>
                <div class="col-xs-10">
                    <div class="settings-panel">
                        {% include 'setting/'~view~'.twig' %}
                    </div>
                </div>
            {% else %}
                {% include 'exception/invalid.twig' %}
            {% endif %}

        {% else %}
                <div class="main mainpanel">
                    {% include 'panel/'~view~'.twig' %}
                </div>
            {% endif %}
        {% elseif view starts with 'account' %}
            <h3><small><i class="fa fa-user fa-fw"></i></small> User profile</h3>
            <div class="col-md-2">
                <div class="sidebar-nav">
                    <div class="navbar-default" role="navigation">
                        <div class="navbar-sidebar sidebar">
                            <ul class="nav nav-sidebar">
                                <li {% if view ends with 'details' %} class="active"{% endif %}>
                                    <a href="{{ path('admin') }}?view=account.details">
                                        <i class="fa fa-user fa-fw" title="Personal data"></i>
                                        <span class="nomobile"> Personal data</span>
                                    </a>
                                </li>
                                <li {% if view ends with 'changepassword' %} class="active"{% endif %}>
                                    <a href="{{ path('admin') }}?view=account.changepassword">
                                        <i class="fa fa-key fa-fw"></i>
                                        <span class="nomobile"> Change password</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div style="left: 214px; top:134px; border-left: 1px solid #444; float: right; right:0; background: #fff; display: block; height: 100%; overflow-y: auto; position: fixed;">
                    <div class="main mainpanel">
                        {% include 'default/'~view~'.twig' %}
                    </div>
                </div>
            </div>
        {% else %}
            <h3><small><i class="fa fa-dashboard fa-fw"></i></small> Dashboard</h3>
            <ul class="nav nav-tabs">
                <li {% if view starts with 'overview' %} class="active"{% endif %}>
                    <a href="{{ path('dashboard') }}"><i class="fa fa-desktop fa-fw"></i>
                        <span class="nomobile"> Overview</span>
                    </a>
                </li>
                <li {% if view starts with 'requests' %} class="active"{% endif %}>
                    <a href="{{ path('dashboard') }}?view=requests">
                        <i class="fa fa-bullhorn fa-fw"></i>
                        <span class="nomobile"> Requests</span>
                        {% if pending > 0 %}
                            <span class="badge alert-danger" title="pending roles">{{ pending }}</span>
                        {% endif %}
                    </a></li>
                {#
                <li {% if view starts with 'discussions' %} class="active"{% endif %}><a href="{{ path('dashboard') }}?view=discussions"><i class="fa fa-comments fa-fw"></i> Discussions</a></li>
                #}
            </ul>
            <div class="main mainpanel">
                {# requests #}
                {% if view == "requests" %}
                    {% include 'listing/requests.twig' %}

                {% elseif view == "discussions" %}
                    {% include 'listing/discussions.twig' %}

                {% else %}
                    {# overview #}
                    {% include 'listing/projects.twig' %}

                    {#
                    <div class="col-md-4">
                        {% include 'listing/activities.twig' %}
                    </div>
                    #}
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        projectList();
        {% if "admin" in app.session.get('project')["roles"]
               or "owner" in app.session.get('project')["roles"]
               or "reviewer" in app.session.get('project')["roles"]
               or "vendor" in app.session.get('project')["roles"] %}

                projectMonitor();
        {% endif %}
    </script>
{% endblock %}
