<!DOCTYPE html>
<html>
<head>
    <title>MT-EQuAl - REST APIs</title>
</head>
<body>
    <div class="pull-left">
        {% include '{{ asset('bundles/app/docs/web-api/sidebar.html') }}' %}
    </div>
    <div class="pull-right">
        {% include '{{ asset('bundles/app/docs/web-api/'~ page ~'.html') }}' %}
    </div>
</body>
</html>

