{% extends 'base.twig' %}
{% block stylesheets %}
    <!-- specific css for login -->
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/css/login.css') }}" />
{%  endblock %}
{% block title %}Login{% endblock %}

{% block javascripts %}
    <script>
        var CHECKPASS = false;
        var CHECKUSER = false;
        var CHECKEMAIL = false;
        var PASSWORD = "";
        var PASSWORD_CONFIRM = "";

        function check(what) {
            var search = $('#'+what).val().trim();
            if (search.length> 0) {
                setTimeout(function () {
                    if ($('#'+what).val() == search) { // Check the value searched is the latest one or not.
                        $.ajax({
                            type: "GET",
                            url: "{{ path('app_user_exist') }}",
                            data: {"search": search, "what": what},
                            cache: false,
                            beforeSend: function () {
                                $("#check"+what).html()
                            },
                            success: function (data) {
                                if (data == "unknown") {
                                    $("#check" + what + "icon").addClass("has-success").removeClass("has-error").html('<span class="fa fa-check form-control-feedback"></span>');
                                    $("#check" + what).html("");
                                    if (what == "username") {
                                        CHECKUSER = true;
                                    } else if (what == "email") {
                                        CHECKEMAIL = true;
                                    }
                                    if (CHECKPASS) {
                                        $("#signupbutton").prop("disabled", false);
                                    }
                                } else {
                                    $("#check"+what+"icon").removeClass("has-success").addClass("has-error").html('<span class="fa fa-warning form-control-feedback"></span>');
                                    if (data == "invalid") {
                                        $("#check"+what).html("<code>This "+what+" is invalid</code>");
                                    } else if (data == "used") {
                                        $("#check"+what).html("<code>This "+what+" is already taken</code>");
                                    }
                                    if (what == "username") {
                                        CHECKUSER = false;
                                    } else if (what == "email") {
                                        CHECKEMAIL = false;
                                    }
                                    $("#signupbutton").prop( "disabled", true);
                                }
                            }
                        })
                    }
                }, 500); // 1/2 sec delay to check.
            } else {
                $("#check"+what).html("");
                $("#check"+what+"icon").html("");
            }
        }

        function checkPassword (el) {
            if (el.name == "password") {
                PASSWORD = el.value;
            } else if (el.name == "password_confirm") {
                PASSWORD_CONFIRM = el.value;
            }

            if (PASSWORD == PASSWORD_CONFIRM) {
                CHECKPASS = true;
                $("#checkpassword").html("");
                $("#checkpasswordicon").addClass("has-success").removeClass("has-error").html('<span class="fa fa-check form-control-feedback"></span>');
                if (CHECKUSER && CHECKEMAIL) {
                    $("#signupbutton").prop( "disabled", false);
                }
            } else {
                CHECKPASS = false;
                $("#checkpassword").html('<code>Mis-matched password!</code>');
                $("#checkpasswordicon").removeClass("has-success").addClass("has-error").html('<span class="fa fa-warning form-control-feedback"></span>');
                $("#signupbutton").prop( "disabled", true);
            }
        }
        $("#signupbutton").prop( "disabled", true);
        $(document).on('shown.bs.modal', function (e) {
            $('[autofocus]', e.target).focus();
        });
    </script>
{%  endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('admin') }}">MT-EQuAl</a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a id="loginButton" class="btn btn-default btn-xs" data-toggle="modal" data-target="#login">Log in</a>
                </li>
                <li>
                    <a class="btn btn-default btn-xs" data-toggle="modal" data-target="#signup">Sign up</a>
                </li>

            </ul>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <div class="main">
        <div id="login" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLogin">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myLogin">Log in</h4>
                    </div>
                    <div class="modal-body">
                        <form id=loginform action="{{path('app_user_check')}}" method="POST" autocomplete="on">
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input class="form-control" type="text" required="required" id='user' name='user' placeholder="username or email" autofocus/>
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input class="form-control" type="password" required="required" name='password' placeholder="password"/>
                            </div>
                            <p>
                                <input type="submit" class="btn btn-primary" value="Login" />
                            </p>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <p>
                            <a class="btn" data-toggle="modal" data-target="#forgot">Forgot your password?</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div id="signup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySignup">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="mySignup">Sign up</h4>
                    </div>
                    <div class="modal-body">
                        <form action="{{path('app_user_create')}}" method="POST" autocomplete="off">
                            <span id="checkusername" name="checkusername"></span>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input class="form-control" required="required" type="text" id='username' name='username' value="" onmouseout="check('username')" onkeyup="check('username')" placeholder="username" autofocus/>
                                <div id="checkusernameicon"></div>
                            </div>
                            <span id="checkemail" name="checkemail"></span>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                <input class="form-control" required="required" type="email" id='email' name='email' value="" onmouseout="check('email')" onkeyup="check('email')" placeholder="email"/>
                                <div id="checkemailicon"></div>
                            </div>

                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input class="form-control" required="required" type="password" id="password" name='password' onkeyup="checkPassword(this)" value="" placeholder="password"/>
                                <div id="checkpasswordicon"></div>
                            </div>
                                <span id="checkpassword" name="checkpassword"></span>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input class="form-control" required="required" type="password" id="password_confirm" name='password_confirm' onkeyup="checkPassword(this)" value="" placeholder="confirm password"/>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-offset-3 col-xs-9">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" required="required" value="agree"> I agree to the <a href="{{ asset('bundles/app/terms-conditions.html') }}" target="terms">Terms and Conditions</a>.
                                    </label>
                                </div>
                            </div>
                            <p>
                                <input type="submit" class="btn btn-primary" name="signupbutton" id="signupbutton" value="Sign up" />
                            </p>
                        </form>
                    </div>
                </div>
            </div>
         </div>

        <div id="forgot" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myForgot">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myForgot">Forgot password </h4>
                    </div>
                    <div class="modal-body">
                    <form  id=forgotform action="{{path('app_password_forgot')}}" method="GET" autocomplete="on">
                        Enter your username or email address and we'll help you reset your password.
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i>/<i class="fa fa-envelope"></i></span>
                            <input class="form-control" id="reference" name="reference" required="required" type="text" placeholder="username or email" autofocus/>
                        </div>

                        <p>
                            <input type="submit" class="btn btn-primary" value="Submit"/>
                        </p>
                    </form>
                    </div>
                </div>
            </div>
        </div>

        {% include 'default/welcome.twig' %}
    </div>
<script>
    {% if view is defined and view == "login" %}
        $("#loginButton").click();
    {% endif %}
</script>
{%  endblock %}

