{% extends 'base.twig' %}
{% block stylesheets %}
    <!-- specific css for login -->
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/css/login.css') }}" />
{%  endblock %}
{% block title %}Reset password{% endblock %}

{% block javascripts %}
    <script>
        var CHECKPASS = false;
        var PASSWORD = "";
        var PASSWORD_CONFIRM = "";

        function checkPassword (el) {
            if (el.name == "password") {
                PASSWORD = el.value;
            } else if (el.name == "password_confirm") {
                PASSWORD_CONFIRM = el.value;
            }

            if (PASSWORD == PASSWORD_CONFIRM) {
                CHECKPASS = true;
                $("#checkpassword").html("");
                $("#checkpasswordicon").html("");
                document.getElementById("submit").disabled = false;
            } else {
                CHECKPASS = false;
                $("#checkpassword").html('Mis-matched password!');
                $("#checkpasswordicon").html('<span class="fa fa-warning form-control-feedback"></span>');
                document.getElementById("submit").disabled = true;
            }
        }

        document.getElementById("submit").disabled = true;
    </script>
{%  endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="admin">MT-EQuAl</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Help</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="panel panel-warning centered responsive">
            <div class="panel-heading">
                <h3 class="panel-title">Reset password</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" action="{{path('app_password_reset')}}" method="GET" autocomplete="off">
                    <input type=hidden name="email" value="{{ email }}"/>
                    <input type=hidden name="hash" value="{{ hash }}"/>
                    <div class="form-group input-group">
                        <span class="input-group-addon">Insert your new password &nbsp;</span>
                        <input class="form-control" required="required" type="password" id="password" name='password' onkeyup="checkPassword(this)" value="" placeholder="eg. abc123!"/>
                        <div id="checkpasswordicon" class="has-warning has-feedback"></div>
                    </div>
                    <div class="has-alert has-danger ">
                        <span id="checkpassword" name="checkpassword" class="help-block"></span>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">Re-type the new password</span>
                        <input class="form-control" required="required" type="password" id="password_confirm" name='password_confirm' onkeyup="checkPassword(this)" value="" placeholder="eg. abc123!"/>
                    </div>
                    <p>
                        <input type="submit" class="btn btn-primary" id="submit" name="submit" value="Submit"/>
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}