{% if corpus is not defined %}
    {% set corpus = "" %}
{%  endif %}
{% if "admin" in app.session.get('project')["roles"]
    or "owner" in app.session.get('project')["roles"]
%}

<div style="width: 100%; white-space: nowrap;" id="sentences"></div>
<script>

    function getTUs (corpus) {
        $.ajax({
            url: "{{ path('sentence_index') }}",
            data: {"corpus": corpus},
            type: 'GET',
            async: true,
            cache: false,
            crossDomain: false,
            beforeSend: function () {
                $("#sentences").html("<img src=\"{{ asset('bundles/app/img/loading.gif') }}\" alt='Loading...' width='16' />");
            },
            success: function (html) {
                $("#sentences").html(html);
            }
        });
    }

    getTUs("{{ corpus }}");
</script>
{%  else %}
    {% include 'exception/invalid.twig' %}
{%  endif %}
