{% if id is not defined %}
    {% set id = "" %}
{%  endif %}
{% if app.session.get('project') == true and "evaluator" in app.session.get('project')["roles"] %}
    <div class="container-fluid body-content" id="ajx_content"></div>
    <script>
        $.ajax({
            url: "{{ path('evaluation') }}",
            data: {"id": "{{ id }}"},
            type: 'GET',
            async: true,
            cache: false,
            crossDomain: false,
            success: function (html) {
                $("#ajx_content").html(html);
            }
        });
    </script>
{%  else %}
    {% include 'exception/invalid.twig' %}
{%  endif %}
