{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/app/js/nicEdit/nicEdit.js') }}" ></script>
{% endblock %}

{% block body %}
<div class="container-fluid">
    {# {% if app.session.get('project')["etasks"] | length > 0 %}
        <div class="verticalbar-box verticalbar-info" style="max-width: 700px;">
            <label><i class="fa fa-info-circle"></i>
                You don't have to complete any task.
            </label>
        </div>
        <div class="verticalbar-box verticalbar-warning" style="max-width: 700px;">
        <label><i class="fa fa-info-circle"></i>
            You have to complete the "{{ app.session.get('project')["etasks"] | keys | join("\", \"") | trans}}".
        </label>
        </div>
    {% endif %}
#}
    <div class="verticalbar-box" style="max-width: 700px;">
        <div class="block">
            <span class="label-round"><cite>Creation time:</cite></span> <label>{{ app.session.get('project')["created"] | date('Y-m-d H:i:s') }}</label>
            <span class="disabled pull-right">
                <small><span class="label-round"><cite>last update:</cite></span> <label>{{ app.session.get('project')["modified"] | timeago }}</label></small>
            </span>
            <br>
        </div>
        {% if app.session.get('project')["description"] | length > 0 %}
          <hr class="flatLine" />
          <span class="label-round"><cite>Description:</cite></span>
              <div class="panel-heading" style="padding: 0; margin: 0">
                  <div class='row more' style="font-size: 15px; font-family: Times, Verdana; padding: 3px">
                      {{ app.session.get('project')["description"] | raw }}
                  </div>
              </div>

        {% endif %}

    <hr class="flatLine" />
    <div class="block">
        <span class="label-round"><cite>Evaluation format:</cite></span>
        {% if app.session.get('project')["type"] == "" %}
            <code>not specified yet</code>
        {% else %}
            <label>{{ app.session.get('project')["type"] }}</label>
            {% if app.session.get('project')["type"] != "" %}
                <div class="row">
                    <div class="pull-right">
                        {% set ranges = app.session.get('project')['ranges'] | json_decode %}
                        <div class="nowrap" style="padding-right: 40px; margin-bottom: 7px">
                            {% for eval in ranges %}
                                {%  if app.session.get('project')["type"] == "tree" %}
                                    <div style='display: block;'>
                                        Q{{ eval.val }}: {{ eval.label | raw }}
                                    </div>
                                {% else %}
                                    <div class="evalbutton-example" style='background: {{ "#" ~ eval.color }}; border: {{ "4px solid #" ~ eval.color }};'>
                                        {{ eval.label | raw }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}

    </div>

    <hr class="flatLine" />
    <div class="block">
        <span class="label-round"><cite>Guidelines:</cite></span>
            {% if app.session.get('project')["instructions"] == "" %}
                <code>not specified yet</code>
            {% else %}
                <a href="javascript:toggleBox('instructionsBox', true);" class="btn btn-info pull-right">Instructions <b class="caret"></b></a>
                <div id="instructionsBox" style="display: none">
                    <div id="instructions" class="card container-fluid body-content">&nbsp;&nbsp;{{ app.session.get('project')["instructions"] | raw }}</div>
                </div>

                <script type="text/javascript">
                    var instructions = new nicEditor({iconsPath : '{{ asset('bundles/app/js/nicEdit/nicEditorIcons.gif') }}',
                        buttonList : []}).panelInstance('instructions',{hasPanel : false});
                    //read only instructions
                    nicEditors.findEditor("instructions").disable();
                </script>
            {% endif %}
    </div>

    <hr class="flatLine" />
    <div class="block">
        <span class="label-round"><cite>Uploaded corpus:</cite></span>
        {% if app.session.get('project')["corpus"] %}
            {% for item in app.session.get('project')["corpus"] %}
                {% if item.files == 0 %}
                    <code>no files uploaded yet</code>
                {% else %}
                    <label>{{ item.files }}
                    {% transchoice item.files %}
                        {0} file |{1} file |]1,Inf[ files
                    {% endtranschoice %}
                    {% if item.files > 0 %}
                        , {{ item.sentences }}
                        {% transchoice item.sentences %}
                            {0} TUs |{1} TU |]1,Inf[ TUs
                        {% endtranschoice %}
                    {% endif %}
                    </label>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <hr class="flatLine" />
    <div class="block">
        <span class="label-round"><cite>TUs to evaluate:</cite></span>
            {% if app.session.get('project')["tus"] %}
                <label>{{ app.session.get('project')["tus"] }}</label>
                {% if app.session.get('project')["intragree"] > 0 or app.session.get('project')['pooling'] != "" %}
                    <small>(
                    {% if app.session.get('project')["intragree"] > 0 %}
                        including {{ app.session.get('project')["intragree"] }}% redundant TUs for intra-annotator agreement evaluation
                    {% endif %}
                    {% if app.session.get('project')['pooling'] != "" %}
                        {% if app.session.get('project')["intragree"] > 0 %}
                            ,
                        {% endif %}
                        after TU pooling
                    {% endif %})</small>
                {% endif %}

            {% else %}
                <code>0</code>
            {% endif %}
    </div>

    <hr class="flatLine" />
    <div class="block">
        <span class="label-round"><cite>Number of MT targets:</cite></span>
        {% if app.session.get('project')["targets"] %}
            <label>{{ app.session.get('project')["targets"] | length }}</label>
        {% else %}
            <code>no target found</code>
        {% endif %}
    </div>

      {% if app.session.get('project')["targets"] | length > 0 %}
          <div class="row shadow">
              <div class="panel-heading">
                  <cite>Number of sentences </cite>
              </div>
              <div class="row nowrap">
                  {% for key, value in app.session.get('project')["targets"] %}
                      <div class="col-xs-3">
                          <div class="panel text-center">
                              <h3>{{ value.sentences }}</h3>
                              <div class="panel-footer">
                                  <span>system {{ key + 1 }}</span>
                                  <div class="clearfix"></div>
                              </div>
                          </div>
                      </div>
                      <!-- <li><b>{{ value.type }}</b>, {{ value.num }} sentences</li> -->
                  {% endfor %}
              </div>
          </div>
      {% else %}
          <hr class="flatLine" />
      {% endif %}

    <br>
    <div class="block">
        <span class="label-round"><cite>Your access level: </cite></span>
        <label>
        {% for role in app.session.get('project')["roles"] %}
            {{ role }}
            {% if not loop.last %}, {% endif %}
        {% endfor %}
        </label>
    </div>
    {% if roles is defined and roles|length > 0 %}
        <div class="row shadow">
            <div class="panel-heading">
                <cite>People involved</cite>
            </div>
            <div class="row nowrap">
            {% for item in roles %}
                <div class="col-xs-3">
                    <div class="panel text-center">
                        <h3>{{ item.num }}</h3>
                        <div class="panel-footer">
                            <span>{{ item.role }}</span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    {% endif %}

  </div>
</div>

{% endblock %}
