<div style="width: 100%; white-space: nowrap;" id="report"></div>
{% if "admin" in app.session.get('project')["roles"]
    or "owner" in app.session.get('project')["roles"]
    or "reviewer" in app.session.get('project')["roles"]
    or "vendor" in app.session.get('project')["roles"] %}
    <script>
        $.ajax({
            type: "GET",
            url: "{{ path('api_annotation_report') }}",
            cache: false,
            beforeSend: function () {
                $("#report").html("<img src=\"{{ asset('bundles/app/img/loading.gif') }}\" alt='Loading...' width='16' />");
            },
            success: function (data) {
                //$("#report").html(JSON.stringify(data,null,2));
                $("#report").html(data);
            }
        });
    </script>
{%  else %}
    {% include 'exception/invalid.twig' %}
{%  endif %}
