<script type="text/javascript" src="{{ asset('bundles/app/js/eModal.js') }}"></script>

{% if "reviewer" in app.session.get('project')["roles"] %}
    <div class="container-fluid">
        <div class="pull-right">
            {#
            <div class="btn btn-success" id='buttoncomplete'>
                <input type="checkbox" id='showcomplete'> Show only complete evaluations</input>
            </div>
            #}
            <div class="btn btn-default" id="buttondisa">
                <input type="checkbox" id='showdisa'> Show just disagreement</input>
            </div>
        </div>
    </div>

    <div class="container-fluid body-content" id="ajx_content"></div>


    <script type="text/javascript">
        $('#buttondisa').click(function() {
            $('#showdisa').click();
        });
        $('#showdisa').click(function(event) {
            if ($.cookie('review_disagreement')) {
                $.removeCookie('review_disagreement');
            } else {
                $.cookie("review_disagreement", "on");
            }
            getAgreement();
            event.stopPropagation();
        });

        {#
        $('#buttoncomplete').click(function() {
            $('#showcomplete').click();
        });
        $('#showcomplete').click(function(event) {
            if ($.cookie('review_complete')) {
                $.removeCookie('review_complete');
            } else {
                $.cookie("review_complete", "on");
            }
            getAgreement();
            event.stopPropagation();
        });
        #}

        function getAgreement() {
            $.ajax({
                url: "{{ path('agreement') }}",
                data: {"disagreement": $.cookie('review_disagreement'), "complete": $.cookie('review_complete')},
                type: 'GET',
                async: true,
                cache: false,
                crossDomain: false,
                success: function (html) {
                    //console.log(html);
                    $("#ajx_content").html(html);
                }
            });
        }
        if ($.cookie('review_disagreement') == "on") {
            $("#showdisa").attr('checked', true);
        } else {
            $("#showdisa").attr('checked', false);
        }
        /*
        if ($.cookie('review_complete') == "on") {
            $("#showcomplete").attr('checked', true);
        } else {
            $("#showcomplete").attr('checked', false);
        }
        */
        getAgreement();
    </script>
{%  else %}
    {% include 'exception/invalid.twig' %}
{%  endif %}
