<div style="border: 1px solid #444; padding: 10px">
    <p>
    	Dear <b>{{ username }}</b>,<br>
			&nbsp; &nbsp;your evaluations have been marked as not confirmed for the project "<b>{{ projectname }}</b>".
    </p>You have to go through your evaluations again and reconfirm them.
    <p>
        <a href="{{ hostname }}{{path('admin')}}" target="mtequal">
            <button>Check the status of the project "{{ projectname }}" in your dashboard</button></a>
    </p>
</div>
