<div style="border: 1px solid #444; padding: 10px">
    <p>
        Dear <b>{{ username }}</b>,<br>
        	&nbsp; &nbsp;the evaluation of the project "<b>{{ projectname }}</b>" is temporarily suspended.
    </p>
    <p>
        <a href="{{ hostname }}{{path('admin')}}" target="mtequal">
            <button>Check the status of the project "{{ projectname }}" in your dashboard</button></a>
    </p>
</div>
