<div style="border: 1px solid #444; padding: 10px">
    <p>
        Dear <b>{{ userTo }}</b>,<br>
        {% if username is defined %}
            &nbsp; &nbsp;the evaluation of the project "<b>{{ projectname }}"</b> has been completed by <b>{{ username }}</b>.
        {% else %}
            &nbsp; &nbsp;a user has completed the evaluation of the project "<b>{{ projectname }}</b>".
        {% endif %}
    </p>
    <p>
        <a href="{{ hostname }}{{path('admin')}}?view=monitor&pid={{ projectid }}" target="mtequal">
            <button>Check the status of the project "{{ projectname }}"</button></a>
    </p>
</div>
