<p>
    You're receiving this email because you requested a password reset.
</p>
Please click on the link below to reset your password:<br>
<a href='{{ hostname }}{{path('app_password_forgot')}}?reference={{ email }}&hash={{ hash }}' target="mtequal">
    {{ hostname }}{{path('app_password_forgot')}}?reference={{ email }}&hash={{ hash }}</a>