<div style="border: 1px solid #444; padding: 10px">
    {% if invitee != null %}
        Dear <b>{{ invitee }}</b>,<br>
        &nbsp;&nbsp;&nbsp;this notification alerts you that <b>{{ userFrom }}</b> re-invited <b>{{ userTo }}</b> to the project "<b>{{ projectname }}</b>" as {{ role }}.
    {% else %}
        <p> Dear <b>{{ userTo }}</b>,<br>
            &nbsp;&nbsp;&nbsp;the user <b>{{ userFrom }}</b> sent you an invitation to the project "<b>{{ projectname }}</b>".
        </p>
        <p>
            Your access role: <b>{{ role }}</b>
        </p>
        <p>
            Please click on the link below to accept or decline the invitation:
        </p>
        <p>
            <a href="{{ hostname }}{{path('api_role_reply')}}?hash={{ hash }}&action=declined" target="mtequal">
                <button>DECLINE</button></a>
        or
            <a href="{{ hostname }}{{path('api_role_reply')}}?hash={{ hash }}&action=accepted" target="mtequal">
                <button>ACCEPT</button></a>
        </p>
    {% endif %}
</div>
