<div style="border: 1px solid #444; padding: 10px">
    <p>
        Dear <b>{{ username }}</b>,<br>
        &nbsp;&nbsp;&nbsp;now the project "<b>{{ projectname }}</b>" can be reviewed.
    </p>
    <p>
        <a href="{{ hostname }}{{path('admin')}}" target="mtequal">
            <button>Check the status of the project "{{ projectname }}" in your dashboard</button></a>
    </p>
</div>
