<div style="border: 1px solid #444; padding: 10px">
    <p>
    	Dear <b>{{ username }}</b>,<br>
        &nbsp; &nbsp;your review has been marked as incomplete for the project "<b>{{ projectname }}</b>".
    </p>Please, check your review task and mark it again as complete.
    </p>
    <p>
        <a href="{{ hostname }}{{path('admin')}}" target="mtequal">
            <button>Check the status of the project "{{ projectname }}" in your dashboard</button></a>
    </p>
</div>
