{% set asrole = '' %}
{% if role is defined and role != "" %}
    {% set asrole = ' as <b>' ~ role ~ '</b>' %}
{% endif %}

<div style="border: 1px solid #444; padding: 10px">
    <p>
        {% if invitee != null %}
            Dear <b>{{ invitee }}</b>,<br>
            &nbsp;&nbsp;&nbsp;this notification alerts you that <b>{{ userFrom }}</b> revoked the access to <b>{{ userTo }}</b>{{ asrole | raw }} for the project "<b>{{ projectname }}</b>" .
        {% else %}
            Dear <b>{{ userTo }}</b>,<br>

            &nbsp;&nbsp;&nbsp;user <b>{{ userFrom }}</b> revoked your access to the project "<b>{{ projectname }}</b>"{{ asrole | raw }}.
        {% endif %}
    </p>
</div>
