<p>
    Thanks for signing up!<br>
    Your account has been created, you can activate it by pressing the url below.
</p>
Please click on the link below to activate your account:<br>
<a href="{{ hostname }}{{path('app_user_verify')}}?email={{ email }}&hash={{ hash }}" target="mtequal">{{ hostname }}{{path('app_user_verify')}}?email={{ email }}&hash={{ hash }}</a>