<div style="border: 1px solid #444; padding: 10px">
    <p>
    	Dear <b>{{ userTo }}</b>,<br>
			&nbsp; &nbsp;the task <b>{{ task }}</b> of the project "<b>{{ projectname }}</b>" has been marked as incomplete by <b>{{ userFrom }}</b>.
    <br>Now the task can be modified and marked again as complete.
    </p>
    <p>
        <a href="{{ hostname }}{{path('admin')}}" target="mtequal">
            <button>Check the status of the project "{{ projectname }}" in your dashboard</button></a>
    </p>
</div>
