.centered {
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 80px; left: 0; bottom: 0; right: 0;
}

.centered.responsive {
	width: 50%;
	height: 50%;
	min-width: 200px;
	max-width: 600px;
	padding: 10px;
}


