html {
  position: relative;
  margin:0; padding:0; overflow:hidden; height:auto;
  min-width:400px;
  width: auto !important;
  width:400px;
}
/*
 * Base structure
 */

body {
  /* Move down content because we have a fixed navbar that is 50px tall */
  padding-top: 50px;
  /* Margin bottom by footer height */
  margin-bottom: 30px;
  background: #f9f9f9;
}

.margin-top10 { margin-top:10px; }

tr.selected{
  background-color: #eaf6ff
}

div.output {margin-left: 2px; display: inline-block; font-family:Arial, Helvetica, Sans-Serif; font-size:15px; padding: 3px; margin-top: 8px; margin-right: 8px; width: auto; border: solid #aaa 1px; top: -10px}
div.token {display: inline-block; margin-bottom: 10px;}
div.reference {display: inline-block; font-family:Arial, Helvetica, Sans-Serif; font-size:14px; padding: 4px; width: 80%; white-space: normal; border-radius: 4px 4px 4px 4px;}
div.source {border: solid #bbb 1px; background: #fff; display: inline-block; font-family:Arial, Helvetica, Sans-Serif; font-size:15px; padding: 4px; width: 90%; white-space: normal; border-radius: 4px 4px 4px 4px;}

div.comment-box {
  display: table;
  float:right;
  padding: 0 5px 0 5px;
  margin-top: 5px;
  margin-bottom: 2px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 0 2px 0 15px;
}

.loading{position:fixed;top:0px;right:0px;width:100%;height:100%;background-color:#666;background-image:url('../img/loading2.gif'); background-repeat:no-repeat;background-position:center;z-index:10000000;  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */}

.tasktip + .tooltip > .tooltip-inner {
  height: 40px;
}

.evalbutton-example {
  display: inline-block;
  font-size: small;
  box-shadow: 2px 2px 2px 2px #888;
  border: #ccc;
  padding: 4px 6px 2px 6px;
  text-align: center;
  margin-right: 4px;
  cursor: default;
  border-radius: 2px;
}

.evalbutton {
  display: inline-block;
  box-shadow: 2px 2px 2px 2px #888;
  border: #ccc;
  padding: 4px 6px 2px 6px;
  text-align: center;
  margin-right: 4px;
  border-radius: 2px;
}

div.rating-box {
  background-color: white;
  position: relative;
  height: 32px;
  border: 1px solid #f5d8ab;
  display: block;
}

div.rating a {
  display: inline-block;
  width: 12px;
  padding: 5px 0;
  height: 28px;
  float: left;
  background-color: #f5d8ab;
  border-color: #f5d8ab;
  margin: 1px;
  text-align: center;
  cursor: pointer;
}

.btn-tocomplete {
  background-color: hsl(41, 85%, 35%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f0ad4e", endColorstr="#eb9316");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f0ad4e), to(#eb9316));
  background-image: -moz-linear-gradient(top, #f0ad4e, #eb9316);
  background-image: -ms-linear-gradient(top, #f0ad4e, #eb9316);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0ad4e), color-stop(100%, #eb9316));
  background-image: -webkit-linear-gradient(top, #f0ad4e, #eb9316);
  background-image: -o-linear-gradient(top, #f0ad4e, #eb9316);
  background-image: linear-gradient(#f0ad4e, #eb9316);
  padding: 1px 4px;
  border-color: #f0ad4e #eb9316 hsl(41, 85%, 29%);
  border: 1px solid #2c291d;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.39);
  -webkit-font-smoothing: antialiased;
  border-radius: 8px;
}

.current-rating {
  display: inline-block;
  vertical-align: top;
  color: red;
  cursor: default;
  text-align: center;
  font-size: 25px;
  width: 70px;
}

.cell-right {
  border-left: 1px solid #aaa;
  text-align: right
}

.div-metric-category {
  padding: 0 50px 0 0;
  margin-top: 20px;
}

.metric-value {
  width: 30px;
  padding-left: 10px;
  font-weight: bold;
  white-space: nowrap;
}
.metric-label {
  text-align: right;
}

.round {
  border: 1px solid #c7254e;
  padding: 0 3px;
  border-radius: 8px;
}

.shadow {
  background-color: #ccc;
  padding: 4px 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.sunken {
  display: inline;
  color: #c7254e;
  background: #f9f2f4;
  box-shadow: inset 1px 1px 3px #999;
}

.relief {
  display: inline;
  color: #424042;
  background: #f9ecf0;
  padding: 2px;
  box-shadow: inset 3px 1px 1px #999;
}

.box{
  position:relative;
  border-radius:3px;
  background:#efefef;
  border-top:3px solid #8bb0de;
  padding-top:5px;
  margin-bottom:5px;
  width:100%;
  box-shadow:0 1px 1px rgba(0,0,0,0.1)
}

.btn {
  cursor: pointer;
}

.btn:hover {
  outline: 0 none;
}

.btn:active {
  background: none;
}

.btn.round {
  border: 2px solid #0099cc;
  color: #0099cc;
  background: none;
  padding: 0 3px;
  border-radius: 12px;
}

.btn-primary.raised:active, .btn-primary.raised.active {
  background: #33a6cc;
  box-shadow: none;
  margin-bottom: -3px;
  margin-top: 3px;
}

span.date-mini {
  color: #fff;
  background: #888;
  font-size: 9px;
  border-radius: 6px;
  margin-right:5px;
  padding-left: 5px;
  padding-right:5px;
}

span.label-round {
  color: #454545;
  background: #ccc;
  border-radius: 6px;
  margin-right:5px;
  padding-left: 5px;
  padding-right:5px;
}

.navbar-collapse .sidebar .nav .label {
  position: absolute;
  top: 10px;
  right: 5px;
  text-indent: 0;
}
.navbar-collapse > .nav .label {
  margin: 2px 0 0;
}
.navbar-collapse > .nav .label {
  display: block;
}

/* navigation bar */
.navbar-top-links {
  margin-right: 0;
  color: #eee;
}

.navbar-top-links li {
  display: inline-block;
}

.navbar-top-links li:last-child {
  margin-right: 15px;
}

.navbar-log {
  position: fixed;
  background: #faebcc;
  right: 0;
  padding-right: 10px;
  padding-left: 10px;
  bottom: 0;
  z-index: 3001;
  color: #595959;
  white-space: nowrap;
  border-top: 1px solid #c4cedd;
  border-radius: 15px 2px 0 0;
}

/* Sidebar navigation */
.sidebar {
  width: 215px;
  position: fixed;
  height: auto;
  white-space: nowrap;
  top: 150px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  border-right: 1px solid #999;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


.navbar-top-links > .active > a,
.navbar-top-links > .active > a:hover,
.navbar-top-links > .active > a:focus {
  padding: 5px;
  min-height: 20px;
  bottom: 0;
  color: #000;
  background-color: #428bca;
}

.navbar-top-links .dropdown-menu li {
  display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}

.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
}
.navbar-top-links .dropdown-help {
  right: 0;
  left: auto;
}

/* scrollable dropdown menu */
.scrollable-menu {
  height: auto;
  width: 215px;
  max-height: 250px;
  overflow-x: hidden;
}

.scrollable-menu::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
}

.scrollable-menu::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: lightgray;
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.75);
}

.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

li.disableitem {
  color: #9d9d9d;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: small;
  padding-left: 10px;
}

.mainpanel {
  float:right;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  position: relative;
  max-height: calc(100vh - 140px);
  background: #fff;
  overflow-y: auto;
  overflow-x: hidden;
}

.fill {
  width: 100%;
}


/* Custom page CSS
-------------------------------------------------- */

body > .container {
  padding: 60px 15px 0;
  height: 100%;
}
.container .text-muted {
  margin: 10px;
}

.jumbotron {
  padding: 3px 10px 8px;
  margin-right: -30px;
  margin-left: -20px;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 0;
  max-height: 400px;
  max-width: 500px;
  overflow-y: hidden;
}

.footer {
  position:fixed;
  bottom:0;
  left: 0;
  width:100%;
  margin-bottom: 0;
  padding-bottom: 10px;
  background: #faebcc;
  overflow-y: hidden;
  max-height: 40px;
}

code {
  padding: 2px 2px;
  font-size: 80%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

fieldset {margin:10px 0;}
.hide {display:none;}

.nowrap {
  white-space: nowrap;
}

.btn-mte-invite {
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  float: none;
  margin-right: 3px;
  display: inline-block;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


.cardgrey {
  background: rgba(204, 204, 204, 0.75);
  border: solid 1px #666666;
  border-radius: 0 0 4px 4px;
  margin-top: 10px;
  padding: 8px;
  display: block;
  box-shadow: 0 2px 1px 0 rgba(119,119,119,0.5);
  word-break: normal;
  word-wrap: break-word;
}

/* Items card style */

.card {
  background: #d9edf7;
  border: solid 1px #828282;
  border-radius: 0 0 4px 4px;
  padding: 4px;
  margin-bottom: 5px;
  display: block;
  color: #004b87;
  box-shadow: 0 2px 1px 0 rgba(119,119,119,0.5);
  word-break: normal;
  word-wrap: break-word;
}

.fa-gold {color: #D9A441}
.fa-silver {color: #A8A8A8}
.fa-bronze {color: #965A38}

.text-grey {color: #8c8c8c;}
.text-darkgrey {color: #585858;}

.bg-grey {
  background-color: #eee;
}

.bg-white {
  background-color: #fff;
}

.bg-blue {
  padding: 0 3px;
  border-radius: 12px;
  background-color: #95c4d7;
}

.border-rev {
  background-color: #444;
  border-color: blue;
  border-width: 4px;
  border-style: solid;
}

.border-eval {
  border-color: red;
  border-width: 4px;
  border-style: solid;
}

/*
 * Main content
 */

.main {
  padding-right: 20px;
  padding-left: 20px;
}

.main .page-header {
  margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */

/* Table style */
.selecteditem {
  border-left: 1px solid #a94442;
}

.header {
  background-color: #d9d9d9;
  color: #000;
}

.noitem {
  border-top: 2px solid #000;
  cursor: default;
}

.iditem {
  border-top: 2px solid #aaa;
  background: #c4cedd;
}

.iditem:hover {
  background-color: #c4cedd !important;
}

.bg-primary:hover {
  color:#fff;
  background-color:#428bca !important;
}

.founditem {
  color: #000;
  font-size: 15px;
  background-color: #c4cedd;
  margin-bottom: 3px;
}

.content {
  text-align: center;
}

.resizeinput {
  display: block;
  margin: 0;
  padding-left: 0;
  width: auto;
  font-family: serif;
}

.dottedline {
  background-color: transparent;
  border-top: 2px dotted #444;
  height: 1px;
  margin: 5px;
  padding: 0;
  width: 100%;
  line-height: 1px;
  float: left;
}

.dottedBox {
  border-bottom: 2px dotted #444;
  border-left: 2px dotted #444;
  border-right: 2px dotted #444;
}

.flatLine {
  background-color: transparent;
  border-top: 1px solid #ddd;
  height: 1px;
  margin: 0;
  padding: 2px;
  width: 100%;
  line-height: 1px;
  float: left;
}

.statusbar {
  z-index: 10;
  position: fixed;
  bottom: 0;
  right: 20px;
  float: left;
  white-space: nowrap;
  background: #eed;
  margin: 3px;
  box-shadow: 10px 10px 3px rgba(0.4,0.4,0.4,0.4);
  -moz-box-shadow: 10px 10px 3px rgba(0,0,0,0.1);
  -webkit-box-shadow: 10px 10px 3px rgba(0,0,0,0.1);
  -o-box-shadow: 10px 10px 3px rgba(0,0,0,0.1);
}

.rowtable {
  border-bottom: solid 1px #555555;
}

.rowtable:nth-child(odd) {
  background: #9fafc2;
}



table.tablesorter {
  font-family:arial;
    background-color: #CDCDCD;
  font-size: 14px;
  width: 100%;
  text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
  background-color: #e6EEEE;
  border: 1px solid #FFF;
  font-size: 10pt;
  padding: 4px;
}
table.tablesorter tbody td {
  color: #3D3D3D;
  padding: 4px;
  background-color: #FFF;
  vertical-align: top;
}
table.tablesorter tbody tr.odd td {
  background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
  background-color: #9fd4f3;
}


/* report */
.import-report {
  width: 90%;
  padding: 5px;
  border: 2px solid #ccc;
  margin-bottom: 5px;
  border-radius: 1em;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  -moz-box-shadow: 0 1px 5px #333;
  -webkit-box-shadow: 0 1px 5px #333;
}

a.reportclose{
  float:right;
  margin-top:-14px;
  margin-left:-14px;
  cursor:pointer;
  color: #fff;
  border: 1px solid #AEAEAE;
  border-radius: 30px;
  background: #605F61;
  display: inline-block;
  line-height: 0;
  padding: 11px 3px;
  font-size: 20px;
  font-weight: bold;
}

.reportclose:before {
  content: "×";
}

.task-inprogress {
  background-color: #effdfb;
  border-color: #a5b3c2;
  color: #4a6785;
}

.task-due {
  background-color: #fff2c3;
  border-color: #c2a046;
  color: #4a6785;
}

.task-complete {
  background-color: #b9ffb0;
  border-color: #64aa6a;
  color: #2c291d;
}

.task {
  font-family: sans-serif;
  border: 1px solid #ccc;
  border-radius: 3px;
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  line-height: 99%;
  margin: 0;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
}

/* Customize alertify dialog */
.alertify-logs {
  position: fixed;
  z-index: 5000;
  top: 50px;
  right: 10px;
  width: auto;
  white-space: nowrap;
}

/*  alertify custom type */
.ajs-message.ajs-custom {top: 50px; color: #31708f;  background-color: #d9edf7;  border-color: #31708f; }

/* **************** */
/*  report overlay  */
/* **************** */

div .sendModal {
  position:absolute;
  border:solid 1px black;
  padding:8px;
  background-color:white;
  width:200px;
  z-index: 999;
  display:none;
}

/* ************* */
/* input spinner */
/* ************* */

.spinner {
  font-size: smaller;
  width: 90px;
}
.spinner input {
  text-align: right;
}

/* ************* */
/* input file    */
/* ************* */

.upfile {
  position: relative;
  margin-bottom: 1em;
}
.upfile-button {
  background-color: #505050;
  background-image: linear-gradient(bottom, #505050 0%, #707070 100%);
  background-image: -o-linear-gradient(bottom, #505050 0%, #707070 100%);
  background-image: -moz-linear-gradient(bottom, #505050 0%, #707070 100%);
  background-image: -webkit-linear-gradient(bottom, #505050 0%, #707070 100%);
  background-image: -ms-linear-gradient(bottom, #505050 0%, #707070 100%);
  background-image: -webkit-gradient(
          linear,
          left bottom,
          left top,
          color-stop(0, #505050),
          color-stop(1, #707070)
  );
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 2px solid #808080;
  color: #FFF;
  font: bold 12px Arial, Helvetica, sans-serif;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  width: 100%;
}
.upfile:hover .upfile-button {
  background-color: #606060;
  background-image: linear-gradient(top, #606060 0%, #808080 100%);
  background-image: -o-linear-gradient(top, #606060 0%, #808080 100%);
  background-image: -moz-linear-gradient(top, #606060 0%, #808080 100%);
  background-image: -webkit-linear-gradient(top, #606060 0%, #808080 100%);
  background-image: -ms-linear-gradient(top, #606060 0%, #808080 100%);
  background-image: -webkit-gradient(
          linear,
          left bottom,
          left top,
          color-stop(0, #606060),
          color-stop(1, #808080)
  );
  background-position: center bottom;
}
.upfile-button.disabled {
  background-color: #D0D0D0;
  color: #808080;
}


.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}

/* vertical bar */
.verticalbar-box.verticalbar-warning {
  border-left-color: #aa6708;
  background: #f8f7d2;
}

.verticalbar-box.verticalbar-info {
  border-left-color: #1b809e;
  background: #effdfb;
}

.verticalbar-box.verticalbar-danger {
  border-left: 6px solid #ce4844;
  background: #ffdad8;
}

.verticalbar-box.verticalbar-success {
  border-left: 6px solid #36573c;
  background: #e1fdd9;
}

.verticalbar-box {
  -webkit-align-items: baseline;
  -moz-align-items: baseline;
  align-items: baseline;
  margin-bottom: 20px;
  padding: 15px 15px 0 15px;
  background-color: #fff;
  border-left: 6px solid #598f63;
  border-right: 1px solid #aaa;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #999;
  border-radius: 4px;
  color: #454545;
  text-align: left;
}

.verticalbar-message {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-align: baseline;
  -webkit-align-items: baseline;
  -moz-align-items: baseline;
  align-items: baseline;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #fff;
  border-left: 6px solid #eb9316;
  border-radius: 4px;
  color: #454545;
  text-align: left;
}


/* show more button */
.more {
  background-color: #f0f0f0;
  margin: 10px;
}
.morecontent span {
  display: none;
}

a.moretxt {
  text-decoration: none;
  padding: 2px 2px;
  font-size: 80%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

.icon-leftup-corner {
  font-size: 12px;
  margin-left: 5px;
  left: 0px;
  top: 4px;
  position: absolute
}

.settings-panel {
  top:150px;
  left: 214px;
  border-left: 1px solid #6a6a6a;
  float: right;
  right: 0;
  background: #fff;
  z-index:1000;
  display: block;
  height: 95%;
  overflow-y: auto;
  position: fixed;
}

@media screen and (max-width: 740px) {
  .nomobile {
    font-size: 11px;
  }
}

@media screen and (max-width: 640px) {
  .nomobile {
    display:none;
  }
  .icon-leftup-corner {
    font-size: 10px;
    margin-left: 5px;
    left: 0px;
    top: 4px;
    position: absolute
  }
  .settings-panel {
    left: 44px;
  }
}
