* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
body {
    font-weight: 300;
    font-family: Circular,Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f33;
    background-color: #ffffff;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

pre {
    white-space: pre-wrap;
    font-size: 13px;
    display: block;
    padding: 11.5px;
    margin: 0 0 12px;
    line-height: 1.5;
    word-break: break-all;
    word-wrap: break-word;
    color: #616467;
    background-color: #fafafa;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

table {
    border-collapse:collapse;
    border-spacing:0;
    width:100%;
    margin-bottom:1em;
    border:none
}
table td, th {
    padding:8px;
    border:none;
    background:0 0;
    text-align:left;
    float:none!important
}
table tbody td {
    vertical-align:top
}
table tbody td, tfoot th {
    border-top:1px solid #ddd
}
table tbody tr:first-child td {
    border-top:0
}
table thead th {
    border-bottom:1px solid #ddd
}
table tfoot th, thead th{
    background-color:#d9edf7;
    font-weight:700;
    vertical-align:middle
}

table .odd td {
    background-color:#f9f9f9
}
table .even td {
    background-color:#fff
}
table .row-hover tr:hover td {
    background-color:#f3f3f3
}
table img{
    margin:0;
    padding:0;
    border:none;
    max-width:none
}
