{% block body %}
    {% set id = "" %}
    {% set outputNum = 0 %}
    {% set decisionOptions = {'0':'','1':'Yes','2':'No','3': 'N/A'} %}

      {% if data is defined and data | length > 0 %}
        {% set ranges = app.session.get('project')['ranges'] | json_decode %}
            <div class="content-wrapper" style="min-height: 567px; padding-top: 4px; overflow-x: auto">
        <table class="table table-hover">
        <thead class="thead-inverse">
            <tr style="text-align: right;">
                <th style="border-right: 1px solid #aaa;">
                        {% if evaluators is defined %}
                            <div class="inline ng-binding">
                                <label>Number of active evaluators: </label> <span class="badge badge-success"><strong>{{ evaluators }}</strong></span><br>
                            </div>
                            <div class="inline ng-binding" id="outputNum">
                            </div>
                        {% endif %}
                </th>
                <td style="border-right: 1px solid #aaa; border-top: 1px solid #aaa; vertical-align: bottom;"><label>don't know</label></td>
                {% for eval in ranges %}
                    <td style="border-right: 1px solid #aaa; border-top: 1px solid #aaa; vertical-align: bottom;">
                        <label>{{ eval.label | raw }}</label>
                    </td>
                {% endfor %}
                <td style="border-right: 1px solid #aaa; border-top: 1px solid #aaa;"><i><small><strong>Observed agreement</strong></small></i></td>
            </tr>
        </thead>
        <tbody class="table-bordered" id="outputs">
        {% set sumOfPi = 0 %}

        {% set countComplete = 0 %}
        {% set isComplete = false %}

        {% for output in data %}
            {% if output.type == "source" %}
                <tr class="iditem" style="cursor: default">
                    <td style="border-right: 1px solid #aaa; width: 90%">
                        <a name="{{ output.id }}"></a>
                        <strong>{{ output.text }}</strong>
                        {% if output.num in comments|keys %}
                            <span class="pull-right"><i class="fa fa-comments-o"></i>{{ comments[output.num] }}</span>
                        {% endif %}
                    </td>
                    <td></td>
                    <td colspan="{{ ranges | length }}" align="right" nowrap>
                        {% if evaluators == output.n %}
                            <span class="badge badge-success">{{ output.n }}</span>
                            {% set isComplete = true %}
                        {% else %}
                            <strong>{{ output.n }}</strong>/{{ evaluators }}
                        {% endif %}
                        {% transchoice output.n %}
                            {0} evaluations |{1} evaluation |]1,Inf[ evaluations
                        {% endtranschoice %}
                    </td>
                    <td></td>
                </tr>
            {% else %}
                {% set outputNum = outputNum + 1 %}
                {% if isComplete == true %}
                    {% set sumOfPi = sumOfPi + output.agreement %}
                    {% set countComplete = countComplete + 1 %}
                {% endif %}

                {% set vals = output.vals | json_decode %}
                {% set num = 0 %}
                {% set iconrev = "" %}
                {% for idx, item in vals %}
                    {% if item.eval == 0 %}
                        {% set num = item.cnt %}
                    {% endif %}

                    {% if item.revuser > 0 %}
                        {% if item.confirmed != null %}
                            {% set iconrev = "<div style='padding: 0; display: inline; position: relative; left: -8px;'><i class='fa fa-check bg-success' style='padding: 2px' title='confirmed " ~ item.revtime | date('Y-m-d H:i:s') ~ "'></i></div>" %}
                            {# set iconrev = "<div style='padding: 0; display: inline; position: relative; left: -8px;'><i class='fa fa-check bg-primary' title='reviewed " ~ item.revtime | date('Y-m-d H:i:s') ~ "'></i></div>" #}
                        {% else %}
                            {% set iconrev = "<div style='padding: 0; display: inline; position: relative; left: -8px;'><i class='fa fa-pencil bg-primary' style='padding: 2px' title='reviewed " ~ item.revtime | date('Y-m-d H:i:s') ~ "'></i></div>" %}
                        {% endif %}
                    {% elseif viewedrev[output.num] %}
                        {% set iconrev = "<div style='padding: 0; display: inline; position: relative; left: -8px;'><i class='fa fa-eye' style='padding: 2px; background: #BA494F; color: #fff' title='viewed " ~ viewedrev[item.num] | date('Y-m-d H:i:s') ~ "'></i></div>" %}
                    {% endif %}
                    {% set break = true %}
                {% endfor %}
                <tr style="cursor: pointer" oid="{{ output.id }}" snum="{{ output.num }}" id="o{{ output.num }}" data-toggle="modal">
                    <td width="50%">{{ iconrev | raw }}{{ output.text }}
                        {% if output.num in comments|keys %}
                            <span class="pull-right"><i class="fa fa-comments-o"></i>{{ comments[output.num] }}</span>
                        {% endif %}
                    </td>
                    {# show the value table #}
                    {% set background = "" %}
                    {% if output.k > 1 %}
                        {% set background = " warning" %}
                    {% endif %}

                    {# don't know counter#}
                    <td class="cell-right{{ background }}">{{ num }}</td>

                    {# all counter from defined format #}
                    {% set num = 0 %}
                    {% for eval in ranges %}
                        {% if app.session.get('project')['type'] == "tree" %}
                            {% set listElem = {} %}
                            {% for idx, item in vals %}
                                {% set opt = decisionOptions[ item.eval | slice((eval.val-1), 1) ] %}
                                {% if opt != "" %}
                                    {% set listElem = listElem | merge({(opt):listElem[opt] + item.cnt}) %}
                                {% endif %}
                            {% endfor %}
                            {# set num = listElem | join(', ') #}

                            {% set num = "" %}
                            {% for opt, cnt in listElem %}
                                {% set num = num ~ cnt ~ "<sup><b>" ~ opt ~ "</b></sup> " %}
                            {% endfor %}
                            {% if num == "" %}
                                {% set num = 0 %}
                            {% endif %}
                        {% else %}
                            {% set num = 0 %}
                            {% for idx, item in vals %}
                                {% if eval.val == item.eval %}
                                    {% set num = item.cnt %}
                                    {% set break = true %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <td class="cell-right{{ background }} nowrap">{{ num | raw }}</td>
                    {% endfor %}
                    <td class="cell-right">
                        <label>{{ output.agreement | number_format(3, ".") | round(3, 'floor') }}</label>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}

        {# total counter #}
        {% set sumOfCells = {} %}
        {% set sumOfAllCells = 0 %}
        <tr class="bg-primary cell-right">
            <td>
                <label>TOTAL:</label>
            </td>
            <td class="cell-right">
                {% set num = 0 %}
                {% for idx, item in evalcounter %}
                    {% if item.eval == 0 %}
                        {% set num = item.cnt %}
                        {% set break = true %}
                    {% endif %}
                {% endfor %}
                {% set sumOfCells = sumOfCells | merge({(0):sumOfCells[0] + num}) %}
                {{ sumOfCells[0] }}
            </td>
            {% set num = 0 %}
            {% for eval in ranges %}
                {% if app.session.get('project')['type'] == "tree" %}
                    {% set listElem = {} %}

                    {% for idx, item in evalcounter %}
                        {% set opt = decisionOptions[ item.eval | slice((eval.val-1), 1) ] %}
                        {% if opt != "" %}
                            {% set listElem = listElem | merge({(opt):listElem[opt] + item.cnt}) %}
                        {% endif %}
                    {% endfor %}

                    {% set num = sumOfCells[0] ~ "<sup>don't know</sup><br>" %}
                    {% for opt, cnt in listElem %}
                        {% set sumOfCells = sumOfCells | merge({(eval.val):sumOfCells[eval.val] + cnt}) %}
                        {% set num = num ~ cnt ~ "<sup><b>" ~ opt ~ "</b></sup><br>" %}
                    {% endfor %}
                    {% if num == "" %}
                        {% set num = 0 %}
                    {% endif %}
                {% else %}
                    {% set num = 0 %}
                    {% for idx, item in evalcounter %}
                        {% if eval.val == item.eval %}
                            {% set num = item.cnt %}
                            {% set sumOfCells = sumOfCells | merge({(eval.val):sumOfCells[eval.val] + item.cnt}) %}
                            {% set break = true %}
                        {% endif %}
                    {% endfor %}
                    {% if num == 0 %}
                        {% set sumOfCells = sumOfCells | merge({(eval.val):sumOfCells[eval.val] + 0}) %}
                    {% endif %}
                {% endif %}
                <td class="cell-right nowrap">{{ num | raw }}</td>
            {% endfor %}
            <td></td>
        </tr>

        {# probability #}
        {% for pos, cnt in sumOfCells %}
            {% set sumOfAllCells = sumOfAllCells + cnt %}
        {% endfor %}
        {% set Psign = sumOfPi / countComplete %}

        {# get expected agreement #}
        {% set Pe = 0 %}
        <tr class="cell-right">
            <td>
                <label>p<sub>j</sub></label>
            </td>
            {% if app.session.get('project')['type'] == "tree" %}
                {# don't know cell#}
                <td class="cell-right">
                    --
                </td>
                {# options values #}
                {% for eval in ranges %}
                    {% set num = 0 %}
                    {% set pi = 0 %}

                    {% set sumCellsQx = 0 %}
                    {% set listElem = {} %}
                    {% for idx, item in evalcounter %}
                        {% set opt = 0 %}
                        {% if item.eval != 0 %}
                            {% set opt = decisionOptions[ item.eval | slice((eval.val-1), 1) ] %}
                        {% endif %}
                        {% set listElem = listElem | merge({(opt):listElem[opt] + item.cnt}) %}
                        {% set sumCellsQx = sumCellsQx + item.cnt %}
                    {% endfor %}
                    <td class="cell-right">
                        {% for opt, cnt in listElem %}
                            {% set pi = pi + ((cnt / sumCellsQx) * (cnt / sumCellsQx)) %}
                        {% endfor %}
                        {% set Pe = Pe + pi %}

                        {%  if pi == 0 or pi == 1 %}
                            {{ pi }}
                        {% else %}
                            {{ pi | number_format(3, ".") }}
                        {% endif %}
                    </td>
                {% endfor %}
                {% set Pe = Pe / (ranges | length) %}

            {% else %}
                {# ranking and scale computation #}
                <td class="cell-right">
                    {% set pi = (sumOfCells[0] / sumOfAllCells) %}
                    {%  if pi == 0 or pi == 1 %}
                        {{ pi }}
                    {% else %}
                        {{ pi | number_format(3, ".") }}
                    {% endif %}
                    {% set Pe = (pi * pi) %}
                </td>
                {% for eval in ranges %}
                    {% set pi = (sumOfCells[eval.val] / sumOfAllCells) %}
                    {% set Pe = Pe + (pi * pi) %}

                    <td class="cell-right">
                        {%  if pi == 0 or pi == 1 %}
                            {{ pi }}
                        {% else %}
                            {{ pi | number_format(3, ".") }}
                        {% endif %}
                    </td>
                {% endfor %}
            {% endif %}
            <td class="cell-right"></td>
        </tr>
        </tbody>
    </table>
        </div>
    <p><br></p>
    {# kappa measure
        {% set ktwig = (Psign -  Pe) / (1 - Pe) | number_format(3, ".") %}
        k = ({{ Psign }} -  {{ Pe }}) / (1 - {{ Pe }}) = {{ ktwig }}
        <br>
     #}
    <p><br></p>

        <div class="footer row" style="border-top: 1px solid #444;">
            <div class="pull-left" id="kscore" style="margin-left:40px; font-size: 18px"></div>
            <div class="pull-right main">(<b>k</b>
                was measured by <a href="https://en.wikipedia.org/wiki/Fleiss%27_kappa" target="flaisskappa">Fleiss' kappa</a> formula)
            </div>
        </div>
    {% else %}
        <div class="col-md-8 verticalbar-box verticalbar-danger"><label>
        {% if message is defined %}
            <i class="fa fa-warning"></i> {{ message }}
        {% else %}
            <i class="fa fa-info-circle"></i> No data is available!
        {% endif %}
        </label></div>
    {% endif %}
    </div>

<script>
    var reviseCount = 0;
    $('#outputNum').html("Total output: <span class='badge badge-success'><strong>{{ outputNum }}</strong></span>");

    $('[data-toggle="modal"]').click(function(e) {
        $(this).addClass('selected').siblings().removeClass('selected');
        e.preventDefault();
        var oid = $(this).attr('oid');
        var snum = $(this).attr('snum');
        var reviewPanel = {
            url: "{{ path('review') }}?id="+oid+"&num="+snum,
            loading: true,
            title: ' ',
            //size: eModal.size.sm,
            size: eModal.size.xl,
            //subtitle: 'Reviewing '+oid,
            buttons: [
                {text: 'Reset revisions', id: "ereset", disabled: true, style: 'default', close: false, click: function(){ reset(snum)} },
                {text: 'Confirm', id: "econfirm", style: 'success', close: true, click: function(){ getTargetEvaluation(snum, oid) }}
            ]
        };

        eModal.ajax(reviewPanel);
        getTargetEvaluation(snum, oid);
        return false;
    });


    function getTargetEvaluation (num, outputId) {
        $.ajax({
            type: "GET",
            url: "{{ path('get_evaluation') }}",
                data: {"num": num, "oid": outputId},
            cache: false,
            success: function (response) {
                if (response != "") {
                    $("#o" + num).html(response).effect("highlight", {}, 3000);
                    //update k score at the bottom of the page
                    updateKappa();
                }
            },
            error: function (response, xhr, err) {
                //window.location.reload();
            }
        });
    }

    function reset (num) {
        //remove all review evaluation and reopen modal again
        var confirm = alertify.confirm('','Do you really want to remove the reviewed annotation?',null,null).set('labels', {cancel:'Cancel', ok:'OK'});
        confirm.set('onok', function(){ //callback to OK button
            //ajax call
            $.ajax({
                type: "GET",
                url: "{{ path('reset_rev_evaluation') }}",
                data: {"num": num},
                cache: false,
                beforeSend: function () {
                    setBusy();
                },
                success: function (json) {
                    unsetBusy();
                    data = jQuery.parseJSON(json);
                    if (data.message == "OK") {
                        notify("All reviews for this output have been removed!","success");
                    } else {
                        notify("Reset reviews failed!","danger");
                    }

                    getTargetEvaluation(num);
                    $("#o"+num).click();
                },
                error: function (response, xhr, err) {
                    unsetBusy();
                    if (err != "") {
                        err = " ("+err+")";
                    }
                    notify("ERROR! Reset failed"+err+"!","danger");
                }
            });

        });
    }

    function updateKappa () {
        $.ajax({
            type: "GET",
            url: "{{ path('api_kappa') }}",
            cache: false,
            success: function (response) {
                var html = "<code>not available</code>";
                var data = jQuery.parseJSON(response);
                if (data.kappa) {
                    html = "<label>k</label> = " + data.kappa;
                    html += " &nbsp;<span class='badge'>" + getKappaLabel(data.kappa) + "</span>";
                }
                $('#kscore').html(html);

            }
        });
    }

    function getKappaLabel (k) {
        if (k <= 0)
            return "Poor agreement";
        else if (k > 0 && k <= 0.20)
            return "Slight agreement";
        else if (k > 0.20 && k <= 0.40)
            return "Fair agreement";
        else if (k > 0.20 && k <= 0.40)
            return "Fair agreement";
        else if (k > 0.40 && k <= 0.60)
            return "Moderate agreement";
        else if (k > 0.60 && k <= 0.80)
            return "Substantial agreement";
        else if (k > 0.80 && k < 1)
            return "Almost perfect agreement";
        return "Perfect agreement";
    }

    updateKappa();
</script>
{% endblock %}
