{% block body %}
    {% set countTUs = 0 %}
    {% set countUploadedFiles = 0 %}
    {% set file_num = 0 %}
{% if files | length > 0 %}
    <div class="content-wrapper" style="min-height: 567px;">
    {% if mode is not defined or mode != "report" %}
        <div style="padding-bottom: 35px">
            <div class="pull-right">
                <label id="topCounter"></label>&nbsp;
                <input type="button" id="sendbutton" class="btn btn-info btn-sm" value="Send a report">
                <div class="sendModal" id="sendpanel" style="right: 20px">
                    Insert a valid email:<br>
                    <p>
                        <input type="text" class="form-control" id="sendReportEmail" name="sendReportEmail" placeholder="Email" value="">
                    </p>
                    <input type="button" value="Cancel" class="btn btn-default" onclick="$('#sendpanel').hide();" />
                    <input type="button" value="Send" onclick="sendReport();" class="btn btn-primary" />
                </div>
            </div>
        </div>
    {% endif %}
    <form id="form">
        <div class="box box-primary" style="margin-bottom: 100px;">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        {% if mode is not defined or mode != "report" %}
                        <th class="nowrap">
                            <input type="checkbox" id="selectAll" />
                            <a class="btn btn-default" onclick="deleteFiles();" id="deleteButton" disabled>
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </th>
                        {% endif %}
                        <th>
                            TUs
                        </th>
                        <th width="80%">
                            File report
                        </th>
                        <th>
                            Up.time
                        </th>
                    </tr>
                </thead>

                <tbody>
                {% for file in files %}
                    {% set file_num = file_num + 1 %}
                    <tr bgcolor="#fff" style="border-top: 2px solid #000;">
                        {% if mode is not defined or mode != "report" %}
                            {% if file.errors | length > 0  %}
                              <td rowspan="2">
                            {% else %}
                              <td>
                            {% endif %}
                                <input type="checkbox" value="{{ file.id }}" />
                                &nbsp;<small>{{ file_num }}.</small>
                            </td>
                        {% else %}
                            <td colspan="3"><hr></td></tr><tr>
                        {% endif %}
                        <td valign="top">
                            <label>{{ file.sentences }}</label>
                            {% if file.sentences > 0  %}
                                {% set countTUs = countTUs + file.sentences %}
                                {% set countUploadedFiles = countUploadedFiles + 1 %}
                            {% endif %}
                        </td>
                        <td valign="top">
                            {% if file.sentences > 0 %}
                              <a class="btn" href="{{ absolute_url(path('admin', { "pid": app.session.get('project')['id'],"view": "corpus", "corpus": file.id })) }}">
                            {% endif %}
                                <strong class="nowrap">{{ file.filename }}</strong>
                            {% if file.sentences > 0 %}
                              </a>
                            {% endif %}
                        </td>
                        <td class="nowrap"><small><i class="fa fa-clock-o"> {{ file.date | timeago }}</i></small></td>
                    </tr>
                    {% if file.errors | length > 0  %}
                        <tr>
                            <td colspan=3 style="padding:0">
                                {% set listWarnErr = file.errors|split('\n') %}
                                {% for item in listWarnErr %}
                                    {% if item starts with "ERROR:" %}
                                        <div style="background: #f4cece">{{ item }}</div>
                                    {% else %}
                                        <div style="background: #FFFFE0">{{ item }}</div>
                                    {% endif %}
                                {% endfor %}

                                {# {{ file.errors | nl2br }} #}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </form>
</div>
    <script>
        $("#topCounter").html("{{ countUploadedFiles }}/{{ files | length }} uploaded files, {{ countTUs }} TUs");

        $(document).ready(function () {
            $('#sendbutton').each(function (i) {
                var sendModal = $(this).parent().find('.sendModal');
                $(this).click(function () {
                    if ($("#sendpanel").is(":visible")) {
                        sendModal.fadeOut('slow');
                    } else {
                        sendModal.fadeIn('slow');
                    }
                });
                $(this).parent().find('.modalDelete').click(function (e) {
                    sendModal.fadeOut('slow');
                });
                $(this).parent().find('.modalCancel').click(function (e) {
                    sendModal.fadeOut('slow');
                });
            });
        });

        //highlight trash button if at least a checkbox was checked
        $("input[type=checkbox]").click(function(){
            var countChecked = 0;
            $('input[type=checkbox]').each(function () {
                if (this.checked) {
                    countChecked++;
                    $("#deleteButton").addClass("btn-success").attr("disabled", false);
                }
            });
            if (countChecked == 0) {
                $("#deleteButton").removeClass("btn-success").attr("disabled", false);
            }
        });

        function sendReport () {
            var email = $('#sendReportEmail').val();
            if (email.length > 0) {
                $.ajax({
                    type: "GET",
                    url: "{{ path('send_report') }}",
                    data: {"mailto": email, "view": "corpus_report"},
                    cache: false,
                    beforeSend: function () {
                        $("#log").html("...sending");
                        setTimeout('$("#log").html("")',3000);
                    },
                    success: function (json) {
                        data = jQuery.parseJSON(json);
                        if (data.success == true) {
                            notify("The email has been just sent!", "success");
                            $('#sendpanel').hide();
                        } else {
                            notify("Sorry! An error occurred sending the report.", "danger");
                        }
                        //$("#log").html(json + " DONE!");
                    },
                    error: function (response, xhr, err) {
                        //alert(err+"\nreadyState: "+xhr.readyState+"\nstatus: "+xhr.status+"\nresponseText: "+xhr.responseText);
                        notify("ERROR! Sending data failed!", "danger");
                    }
                });
            }
        }

        $("#selectAll").change(function () {
            if (!$(this).prop("checked")) {
                $("#deleteButton").removeClass("btn-success").attr("disabled", true);
            }
            $("input:checkbox").prop('checked', $(this).prop("checked"));
        });

    </script>
{% else %}
    <br>
    <div class="badge alert-warning">
        <i class="fa fa-info-circle"></i> <span style="color: #000">No file has been uploaded yet!</span>
    </div>

{% endif %}
{% endblock %}


