{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/app/js/nicEdit/nicEdit.js') }}" ></script>
{% endblock %}

{% block body %}
{% if id is not defined %}
    {% set id = "" %}
{%  endif %}
{% set target_counter = 0 %}

{% if sentences is defined and sentences | length > 0 %}
    <div class="clearfix">
    {% if app.session.get('project')["instructions"] is not empty %}
        <a href="javascript:toggleBox('instructionsBox', true);" class="btn btn-info pull-left">Instructions <b class="caret"></b></a>
        <div id="instructionsBox" style="display: none">
            <div id="instructions" class="card container-fluid body-content">&nbsp;&nbsp;{{ app.session.get('project')["instructions"] | raw }}</div>
        </div>

        <script type="text/javascript">
             var instructions = new nicEditor({iconsPath : '{{ asset('bundles/app/js/nicEdit/nicEditorIcons.gif') }}',
             buttonList : []}).panelInstance('instructions',{hasPanel : false});
             //read only instructions
            nicEditors.findEditor("instructions").disable();
        </script>
    {% endif %}

    <span class="pull-right">
        Evaluation: <label>{{ countDone + 1 }}/{{ countTUs }}</label></span>
    </div>


    <div class="container-fluid body-content">
        {% set ranges = app.session.get('project')['ranges'] | json_decode %}

        <div class="jumbotron">
        {% set hasRef = 0 %}
        {% set targetNum = 0 %}
        {% for sentence in sentences %}
            {% if sentence.type == "source" %}
                <div class="clearfix">
                    <div class="pull-left nowrap">
                        SOURCE: &nbsp;<div class='source'><label>{{ sentence.text }}</label></div>
                    </div>

                    <div class="comment-box">
                        <div style="display: table-cell; vertical-align: bottom">
                            <button href='#comm{{ sentence.num }}' id="comm{{ sentence.num }}_butt" class='btn navbar-btn round comm-toggle' style="left:0; margin-bottom: 4px" title="add a comment">
                                <i class="fa fa-comment-o">+</i>
                            </button>
                        </div>
                        <!-- comments -->
                        <div style="display: table-cell; text-align: right;">
                            {% if sentence.comment | length > 0 %}
                                <i>{{ sentence.comment }}</i>
                            {% endif %}
                            <span id="comm{{ sentence.num }}_more"></span>
                            <div>
                                <i id='comm{{ sentence.num }}_label'></i>
                                <i id='comm{{ sentence.num }}_history'></i>
                            </div>
                            <div id="comm{{ sentence.num }}" style="display:none; font-size: 12px;">
                                <input type="text" id='comm{{ sentence.num }}' class="comment" style='width: 100%; background: lightyellow' />
                            </div>
                        </div>

                        <script>get_comments("sentence", "{{ sentence.num }}", 0);</script>
                    </div>
                </div>
            {% elseif sentence.type == "reference" %}
                {% set hasRef = hasRef + 1 %}
                {% if sentence.isurl is not empty %}
                    <div class="pull-right clearfix content">
                        <a href="javascript:toggleBox('referenceBox');"><img src="{{ sentence.text | trim }}" width="60" class="img-thumbnail"></a>
                        <div style="display: none; right: 10px; position: absolute; border: 1px solid #444; background: #fff; z-index: 4999" id="referenceBox">
                            <div style="background: #ccc3b6">{{ sentence.text }}</div>
                            <img src="{{ sentence.text | trim }}" width="300">
                        </div>
                    </div>
                {% else  %}
                    <div class="clearfix nowrap">REFERENCE: &nbsp;
                        <div class='reference'><label>{{ sentence.text }}</label></div>
                    </div>
                {% endif %}
            {% else %}
                {#
                {% if target_counter == 0 %}
                    {% set targetNum = sentences | length - hasRef - 1 %}
                {% endif %}
                #}

                {% if hasRef > 0 %}
                    {# close the opened div for reference part #}
                    {% set hasRef = 0 %}
                    </div>
                {% endif %}
                </div>

                <p class="lead">
                    <div class="container-fluid">
                        <div class="pull-left">OUTPUT {{ target_counter+1 }}: &nbsp<label>{{ sentence.text }}</label></div>
                            <div class="pull-right nowrap">
                            {% set ranges = app.session.get('project')['ranges'] | json_decode %}
                            {% if app.session.get('project')['type'] == "ranking" %}
                                <div class="rating rating-box" data-toggle="tooltip" data-placement="left" title="Select 1/{{ ranges | length }} rating">
                                    <div style="display: inline-block" onmouseleave="rateOut({{ target_counter }}, {{ ranges | length }})">
                                    {% set position = "---" %}
                                    {% for eval in ranges %}
                                        {% set style = "" %}
                                        {% for annotation in annotations %}
                                            {% if annotation.num == sentence.num %}
                                                {% if annotation.eval == eval.val %}
                                                    {% set style = "style='border: 4px solid red'" %}
                                                    {% set position = eval.label %}
                                                    {% set break = true %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        <a id="check.{{ target_counter }}.{{ eval.val }}" {{ style | raw }} onclick="check('{{ sentence.num }}','{{ id }}',{{ target_counter }},{{ eval.val }},{{ ranges | length }});"
                                            class='evalbutton' onmouseover="rateIn({{ target_counter }},{{ eval.val }},{{ ranges | length }})"></a>
                                    {% endfor %}
                                    </div>
                                    <div id="current-rating.{{ target_counter }}" class="current-rating">{{ position | raw }}</div>
                                </div>
                            {% elseif app.session.get('project')['type'] == "tree" %}
                                    {% set decisionOptions = {'0':'','1':'Yes','2':'No','3': 'N/A'} %}
                                    <table>
                                    {% for eval in ranges %}
                                        <tr><td align="right">
                                            <small>{{ eval.label | raw }}</small>
                                            <select id='check.{{ target_counter }}.{{ eval.val }}' class='evalbutton'
                                                onchange="answer('{{ sentence.num }}','{{ id }}','{{ target_counter }}', {{ eval.val }}, {{ ranges | length }});">
                                                {% for oid, olabel in decisionOptions %}
                                                    <option value="{{ oid }}"
                                                        {% for annotation in annotations %}
                                                            {% if annotation.num == sentence.num %}
                                                                {% if annotation.eval | slice((eval.val-1), 1) == oid %}
                                                                    selected
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endfor %}
                                                        >{{ olabel }}</option>
                                                {% endfor %}
                                            </select>
                                        </td></tr>
                                    {% endfor %}
                                    </table>


                                {% else %}
                                    {% for eval in ranges %}
                                        {% set bordercolor = "4px solid #" ~ eval.color %}
                                        {% for annotation in annotations %}
                                            {% if annotation.num == sentence.num %}
                                                {% if annotation.eval == eval.val %}
                                                    {% set bordercolor = "4px solid red" %}
                                                {% endif %}
                                                {% set break = true %}
                                            {% endif %}
                                        {% endfor %}
                                        <div id='check.{{ target_counter }}.{{ eval.val }}' class='evalbutton' style='background: {{ "#" ~ eval.color }}; border: {{ bordercolor }};' onmouseout='fadeOut(this,"{{ eval.color }}");'
                                            onClick="check('{{ sentence.num }}','{{ id }}',{{ target_counter }},{{ eval.val }},{{ ranges | length }});"><label>{{ eval.label | raw }}</label></div>
                                    {% endfor %}
                                {% endif %}
                        </div>
                    </div>

                    <div class="comment-box">
                        <div style="display: table-cell; vertical-align: bottom">
                            <button href='#comm{{ sentence.num }}' id="comm{{ sentence.num }}_butt" class='btn navbar-btn round comm-toggle' style="left:0; margin-bottom: 4px" title="add a comment">
                                <i class="fa fa-comment-o">+</i>
                            </button>
                        </div>
                        <!-- comments -->
                        <div style="display: table-cell; text-align: right;">
                            {% if sentence.comment | length > 0 %}
                                <i>{{ sentence.comment }}</i>
                            {% endif %}
                            <span id="comm{{ sentence.num }}_more"></span>
                            <div>
                                <i id='comm{{ sentence.num }}_label'></i>
                                <i id='comm{{ sentence.num }}_history'></i>
                            </div>
                            <div id="comm{{ sentence.num }}" style="display:none; font-size: 12px;">
                                <input type="text" id='comm{{ sentence.num }}' class="comment" style='width: 100%; background: lightyellow' />
                            </div>
                        </div>

                        <script>get_comments("sentence", "{{ sentence.num }}", 0);</script>
                    </div>
                </p>
                <hr class="dottedline">

                {% set target_counter = target_counter + 1 %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="pull-right main" style="padding-bottom: 50px">
        <button id="dontknow" class='btn btn-default main' onclick="dontKnow()">I don't know!</button>
        <button id="done" name="done" class="btn btn-large btn-primary" onclick="doneAndNext();" disabled></button>
    </div>

<script>
    initBox("instructionsBox");
    initBox('referenceBox');

    {% if app.session.get('project')['type'] != "tree" %}
		$('.evalbutton').mouseover(function(){
        	fadeIn(this);
    	});
	{% endif %}
	
    {% set is_dont_know = 0 %}
    {% for annotation in annotations %}
        {% if annotation.eval == 0 %}
            {% set is_dont_know = is_dont_know + 1 %}
        {% endif %}
    {% endfor %}
    {% if is_dont_know == target_counter and target_counter > 0 %}
        $("#dontknow").css('border', BUTTONSELCOLOR);
    {% endif %}

    {% if done is defined %}
        alreadyDone();
    {% else %}
        checkDone("{{ app.session.get('project')['type'] }}");
    {% endif %}

    $(function () {
        var txt = $('.comments'),
                hiddenDiv = $(document.createElement('div')),
                content = null;

        txt.addClass('txtstuff');
        hiddenDiv.addClass('hiddendiv common');

        $('body').append(hiddenDiv);

        txt.on('keyup', function () {

            content = $(this).val();

            content = content.replace(/\n/g, '<br>');
            hiddenDiv.html(content + '<br class="lbr">');

            $(this).css('height', hiddenDiv.height());

        });
    });

    function doneAndIndex(id, el) {
        el.disabled=true;
        $.ajax({
            type: 'GET',
            url: '{{ path('evaluation') }}',
            data: "done="+id,
            async: false,
            cache:false,
            crossDomain: true,
            success: function(response) {
                alreadyDone();
            },
            error: function(response, xhr,err ) {
                alertify.alert("","ERROR! Confirmation failed. Try again later, please!");
                window.location.reload();
                //alert(err+"\nreadyState: "+xhr.readyState+"\nstatus: "+xhr.status+"\nresponseText: "+xhr.responseText);
            }
        });
    }

    function dontKnow () {
        if (!isBusy()) {
            $.ajax({
                type: "GET",
                url: "{{ path('evaluation') }}",
                data: {"dontknow": '{{ id }}'},
                cache: false,
                beforeSend: function () {
                    setBusy();
                    $("#log").html("...");
                },
                success: function (json) {
                    data = jQuery.parseJSON(json);
                    if (data.success) {
                        $("#log").append("saved!");
                        var buttonEl = document.getElementById("dontknow");
                        if (buttonEl != null) {
                            if (buttonEl.style.border == BUTTONSELCOLOR) {
                                buttonEl.style.borderColor = buttonEl.style.backgroundColor;
                                buttonEl.style.backgroundColor = BUTTONOVERCOLOR;
                            } else {
                                buttonEl.style.backgroundColor = buttonEl.style.borderColor;
                                buttonEl.style.border = BUTTONSELCOLOR;
                            }
                        }
                        //$("#dontknow").css('border', BUTTONSELCOLOR);
                        checkDone("{{ app.session.get('project')['type'] }}", true);

                        setTimeout('$("#log").html("")',3000);
                    } else {
                        $("#log").html("WARNING! Some errors occurred saving data on the server!");
                    }
                    unsetBusy();
                },
                error: function (xhr, status, error) {
                    unsetBusy();
                    //alert("\nreadyState: "+xhr.readyState+"\nstatus: "+xhr.status+"\nresponseText: "+xhr.responseText);
                    if (xhr.status == 200) {
                    	window.location.reload();
                    }
                    notify("ERROR! Saving data failed!","danger");
                 }
            });
        }
    }

    //check('$num','$sentence_id',$val,$checkid,".count($ranges).",$i,".count($hash_target).");
    function check(num, output_id, target_id, val, totcheck) {
        if (!isBusy()) {
            {% if app.session.get('project')['type'] == "tree" %}
                val = "";
                for (var c = 1; c <= totcheck; c++) {
                    el = document.getElementById("check." + target_id + "." + c);
                    if (el != null)
                        val += el.options[el.selectedIndex].value;
                }
            {% endif %}
            //reset the border of the dontknow button
            $("#dontknow").css('border',"none");

            $.ajax({
                url: "{{ path('save_evaluation') }}",
                type: "POST",
                data: {"num": num, "id": output_id, "eval": val, "_csrf_token": "{{ csrf_token('authenticate') }}"},
                cache: false,
                beforeSend: function () {
                    setBusy();
                    $("#log").html("...");
                },
                success: function (response) {
                    //controllo se sono stati attivati almeno un radio per ogni check, se cos`i attivo il bottone DONE!
                    $("#log").append("saved!");

                    for (var c = 1; c <= totcheck; c++) {
                        el = document.getElementById("check." + target_id + "." + c);
                        if (el != null) {
                            if (c == val) {
                                if (el.style.border == BUTTONSELCOLOR) {
                                    {% if app.session.get('project')['type'] == "ranking" %}
                                        el.style.border = "none";
                                        el.style.backgroundColor = RATINGBGCOLOR;

                                        el = document.getElementById("current-rating." + target_id);
                                        el.innerHTML = "---";
                                    {% else %}
                                        el.style.borderColor = el.style.backgroundColor;
                                        el.style.backgroundColor = BUTTONOVERCOLOR;
                                    {% endif %}
                                } else {
                                    el.style.backgroundColor = el.style.borderColor;
                                    el.style.border = BUTTONSELCOLOR;
                                    {% if app.session.get('project')['type'] == "ranking" %}
                                        el = document.getElementById("current-rating." + target_id);
                                        var sup = "th";
                                        if (val == 1) {
                                            sup = "st";
                                        } else if (val == 2) {
                                            sup = "nd";
                                        } else if (val == 3) {
                                            sup = "rd";
                                        }
                                        el.innerHTML = val+"<sup>"+sup+"</sup>";
                                    {% endif %}
                                }
                            } else {
                                if (el.style.border == BUTTONSELCOLOR) {
                                    {% if app.session.get('project')['type'] == "ranking" %}
                                        el.style.border = "none";
                                    {% else %}
                                        el.style.borderColor = el.style.backgroundColor;
                                    {% endif %}
                                }
                            }
                        }
                    }
                    checkDone("{{ app.session.get('project')['type'] }}");
                    unsetBusy();
                    setTimeout('$("#log").html("")',3000);
                },
                error: function (xhr, status, error) {
                    unsetBusy();
                    //alert("\nreadyState: "+xhr.readyState+"\nstatus: "+xhr.status+"\nresponseText: "+xhr.responseText);
                    if (xhr.status == 200) {
                    	window.location.reload();
                    }
                    notify("ERROR! Saving data failed!","danger");
                    //switch (xhr.status) {
                      //case 200:
                        //$("#log").html("<b>ERROR!</b> Saving data failed!");
                    //}
                    setTimeout('$("#log").html("")',3000);
                }
            });
        }
    }

    function checkDone (type, reset) {
        var evaluations = 0;
        var elements = document.getElementsByClassName("evalbutton");
        for(var i=0, l=elements.length; i<l; i++){
            if (type == "tree") {
                //count no evaluations
                if (elements[i].selectedIndex == 0) {
                    evaluations++;
                } else {
                    if (reset) {
                        elements[i].value = 0;
                    }
                }
            } else {
                if (reset) {
                    elements[i].style.borderColor = elements[i].style.backgroundColor;
                }
                if (elements[i].style.border == BUTTONSELCOLOR) {
                    evaluations++;
                }
            }
        }

        if (reset) {
            if (type == "ranking") {
                //for rating eval format
                var ratings = document.getElementsByClassName("current-rating");
                for (var j = 0, r = ratings.length; j < r; j++) {
                    ratings[j].innerText = "---";
                }
            }
        }

        //controllo se attivare bottone done se c'è almeno selezionato il bottone dontknow
        var dontknowButton = document.getElementById("dontknow");
        if (dontknowButton != null) {
            if (dontknowButton.style.border == BUTTONSELCOLOR) {
                activateDone();
                return;
            }
        }
        if ((type == "tree" && evaluations == 0) ||
                (type != "tree" && evaluations == {{ target_counter }})) {
            activateDone();
        } else {
            notDoneYet();
        }
    }

    function alreadyDone()  {
        var doneEl = document.getElementById("done");
        if (doneEl != null) {
            doneEl.innerHTML='Annotation confirmed!';
            doneEl.style.background='lightgreen';
            doneEl.style.color='black';
            doneEl.disabled=true;
        }
    }

    function notDoneYet()  {
        var doneEl = document.getElementById("done");
        if (doneEl != null) {
            doneEl.innerHTML='Not completed yet.';
            doneEl.style.background='#ddd';
            doneEl.style.color='#666';
            doneEl.disabled=true;
        }
    }

    function activateDone() {
        var doneEl = document.getElementById("done");
        if (doneEl != null) {
            doneEl.innerHTML='Confirm & goto next';
            doneEl.style.background='lightyellow';
            doneEl.style.color='black';
            doneEl.disabled=false;
        }
    }

    function doneAndNext () {
        $("#loadingDiv").show();
        window.open("{{ path('evaluation') }}?done={{ id }}", "_self");
    }

    //in the decision tree answer
    function answer(sentNum, outputId, targetId, currEval, totEval) {
        //var sel = $('#corpus option:selected').val();
        var select = document.getElementById("check."+targetId+"."+currEval);
        if (select != null) {
            var ev = select.options[select.selectedIndex].value;
            if (currEval == 1 && ev == "2") {
                for (var c = currEval + 1; c <= totEval; c++) {
                    select = document.getElementById("check." + targetId + "." + c);
                    if (select != null) {
                        select.value = 3;
                    }
                }
            } else if (currEval == 2 && ev == "1") {
                select = document.getElementById("check." + targetId + "." + (currEval + 1));
                if (select != null) {
                    select.value = 1;
                }
            }
            check(sentNum, outputId, targetId, ev, totEval);
        }
    }

    function toggle(divId) {
        if ($.cookie('instructions')) {
            $.removeCookie('instructions');
        } else {
            $.cookie("instructions", "show");
        }
        $("#"+divId).toggle();
    }

    $(document).ready(function() {
        $('.comm-toggle').click(function () {
            //get collapse content selector
            var collapse_content_selector = $(this).attr('href');
            //make the collapse content to be shown or hide
            var toggle_switch = $(this);
            $(collapse_content_selector).toggle(function () {
                if ($(this).css('display') == 'none') {
                    //change the button label to be 'Show'
                    if (this.id.indexOf("comm") == 0) {
                        toggle_switch.html("<i class='fa fa-comment-o'>+</i>");
                    } else {
                        toggle_switch.html('read more');
                    }

                } else {
                    //change the button label to be 'Hide'
                    if (this.id.indexOf("comm") == 0) {
                        elabel = this.id.replace(/_label/, "");
                        var viewportWidth = $(window).width() / 2 - 10;
                        $('#'+elabel).width(viewportWidth);

                        elComment = document.getElementById(elabel + "_label");
                        if (elComment != null) {
                            elComment.style.visibility = "hidden";
                        }

                        toggle_switch.html("<i class='fa fa-close'></i>");
                        $('input#'+elabel).focus();

                    } else {
                        toggle_switch.html('close');
                    }
                }
            });
        });
    });

    $.fn.enterKey = function (fnc) {
        return this.each(function () {
            $(this).keypress(function (ev) {
                var keycode = (ev.keyCode ? ev.keyCode : ev.which);
                if (keycode == '13') {
                    fnc.call(this, ev);
                }
            })
        })
    }

    $(".comment").enterKey(function () {
        save_comment(this.id, this.value);
        $("input#"+this.id).val("")
        $("#"+this.id).slideUp("slow");
        $("#"+this.id+"_butt").html("<i class='fa fa-comment-o'>+</i>");
    })
</script>
{% else %}
    {% if warning is defined %}
        <div class="col-md-8 verticalbar-box verticalbar-warning">
            <label><i class="fa fa-warning"></i> {{ warning }}</label>
        </div>
    {% elseif info is defined %}
        <div class="col-md-8 verticalbar-box verticalbar-info">
            <label><i class="fa fa-info-circle"></i> {{ info }}</label>
        </div>
    {% else %}
        <div class="col-md-8 verticalbar-box verticalbar-danger">
            <label><i class="fa fa-info-circle"></i> No data is available!</label>
        </div>
    {% endif %}
{% endif %}

{% endblock %}
