<style>
    .event-type { border-bottom:3px solid #1a924b;margin-top:16px !important}
    .event-type span { background-color: #1a924b;display:inline-block;font-family:Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif !important;font-size:18px;font-weight:300 !important;padding:4px 6px;position:relative}
    .event-type span:after { content:" ";position:absolute;top:0;left:100%;width:0;height:0;border-bottom:1em solid #1a924b;border-right:1em solid transparent;border-bottom-width:30px}
    .event-type { color: #e8e8e8}
</style>

<div class="content-wrapper" style="min-height: 567px;">
    <div class="verticalbar-box verticalbar">
        {% if mode is not defined or mode != "report" %}
                <div class="pull-right">
                    <input type="button" id="sendbutton" class="btn btn-info btn-sm pull-right" value="Send a report">
                    <div class="sendModal" id="sendpanel" style="position: relative; right: 0;">
                        Insert a valid email:<br>
                        <p>
                            <input type="text" class="form-control" id="sendReportEmail" name="sendReportEmail" placeholder="Email" value="">
                        </p>
                        <input type="button" value="Cancel" class="btn btn-default" onclick="$('#sendpanel').hide();" />
                        <input type="button" value="Send" onclick="sendReport();" class="btn btn-primary" />
                    </div>
                </div>
        {% endif %}

        <h5 class="sub-header"><code>Evaluation summary</code></h5>
        <li><label>Evaluation format:</label>
            <strong>
            {% if app.session.get('project')["type"] == "" %}
                <span class="badge alert-danger">not specified yet</span>
            {% else %}
                <span class="badge">{{ app.session.get('project')["type"] }}</span>
            {% endif %}
            </strong>
        </li>

        <li><label>Number of targets:</label>
            <strong>
            {% if app.session.get('project')["targets"] %}
                <span class="badge">{{ app.session.get('project')["targets"] | length }}</span>
            {% else %}
                <span class="badge alert-danger">0</span>
            {% endif %}
            </strong>
        </li>

        <li><label>Number of active evaluators:</label>
            <strong>
            {% if evaluators is defined %}
                <span class="badge">{{ evaluators | length }}</span>
            {% else %}
                <span class="badge alert-danger">0</span>
            {% endif %}
            </strong>
        </li>

        <li><label>Number of TUs:</label>
            <strong>
            {% if numtus is defined and numtus > 0 %}
                <span class="badge">{{ numtus }}</span>
            {% else %}
                <span class="badge alert-danger">0</span>
            {% endif %}
            </strong>
        </li>

        <li class="inner"><label>Number of redundant TUs for Intra-Annotator Agreement:</label>
            <strong>
            {% if intratus is defined and intratus > 0 %}
                <span class="badge">{{ intratus }}</span>
            {% else %}
                <span class="badge alert-danger">none</span>
            {% endif %}
            </strong>
        </li>
        <p></p>

        {% if evalsummaryrev is defined %}
                <h1 class="event-type"><span class="ng-binding">BEFORE REVIEW</span></h1>
        {% endif %}

        {% set decisionOptions = {'0':'','1':'Yes','2':'No','3': 'N/A'} %}
        <h5 class="sub-header"><code>Evaluation results</code></h5>
        <div class="box">
            <div class="table-responsive">
                <table class="table table-bordered bg-white" border="1">
                    <thead>
                        <tr>
                            <th>system<br>labels</th>
                            <th class="text-center nowrap" title="value: 0"><span class="shadow">don't know</span></th>
                            {% for key,range in ranges %}
                                {% if app.session.get('project')["type"] == "tree" %}
                                    <td style="vertical-align: bottom">{{ range.label | raw }}</td>
                                {% else %}
                                    <th class="text-center" title="value: {{ range.val }}">
                                        <span class="shadow" style="background-color: #{{ range.color }}">{{ range.label | raw }}</span>
                                    </th>
                                {% endif %}
                            {% endfor %}
                            <th class="text-right">evaluations</th>
                            {% if app.session.get('project')["type"] != "tree" %}
                                <th class="text-right">average</th>
                            {% endif %}
                                <th class="text-right">
                                    {% if app.session.get('project')["type"] == "ranking" %}
                                        rank
                                    {% elseif app.session.get('project')["type"] == "tree" %}
                                        most frequent<br>answer
                                    {% else %}
                                        closest<br>label
                                    {% endif %}
                                </th>
                            {#{% endif %}#}
                        </tr>
                    </thead>
                    <tbody>
                    {% for key, value in evalsummary %}
                        <tr>
                            <td>{{ key }}</td>
                            {% if value.evaluations > 0 %}
                                {% for range, info in value.eval %}
                                    {% if app.session.get('project')["type"] == "tree" %}
                                        <th class="text-center bg-grey">
                                        {% for ev, cnt in info %}
                                            {{ cnt }}<sup><b>{{ decisionOptions[ev] }}</b></sup> &nbsp;
                                        {% endfor %}
                                        </th>
                                    {% else %}
                                        <th class="text-center bg-grey">{{ info }}</th>
                                    {% endif %}
                                {% endfor %}
                                <td class="text-right" align="right">{{ value.evaluations }}</td>

                                {% if app.session.get('project')["type"] != "tree" %}
                                    <td class="text-right" align="right">{{ value.average }}</td>
                                {% endif %}
                                    <td class="text-right">
                                        {% if app.session.get('project')["type"] == "ranking" %}
                                            <span class="badge alert-warning">
                                                {% transchoice value.rank %}
                                                {0} --
                                                | {1} 1<sup>st</sup> <i class="fa fa-trophy fa-gold"></i>
                                                | {2} 2<sup>nd</sup> <i class="fa fa-trophy fa-silver"></i>
                                                | {3} 3<sup>rd</sup> <i class="fa fa-trophy fa-bronze"></i>
                                                | ]4,Inf[ %value.rank%<sup>th</sup>
                                                {% endtranschoice %}
                                            </span>
                                        {% elseif app.session.get('project')["type"] == "tree" %}
                                            {% for key,range in ranges %}
                                                <div style="display: block;">{{ range.label | raw }}</div>
                                            {% endfor %}
                                        {% else  %}
                                            {{ value.rank | raw }}
                                        {% endif %}
                                    </td>
                                {#{% endif %}#}
                            {% else %}
                                <td colspan="{{ ranges | length + 1 }}"></td>
                                <td class="text-center">--</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <h5 class="sub-header"><code>Evaluation quality</code></h5>
        <li class="block"><label>Overall Inter-Annotator Agreement: </label>
            {% if kQuality is defined and kQuality matches '/^[-+]?[0-9]*\\.?[0-9]+$/' %}
                <i>k</i> = {{ kQuality }}
                <span class="badge">
                    {% if kQuality <= 0 %}
                        Poor agreement
                    {% elseif kQuality > 0 and kQuality <= 0.20 %}
                        Slight agreement
                    {% elseif kQuality > 0.20 and kQuality <= 0.40 %}
                        Fair agreement
                    {% elseif kQuality > 0.40 and kQuality <= 0.60 %}
                        Moderate agreement
                    {% elseif kQuality > 0.60 and kQuality <= 0.80 %}
                        Substantial agreement
                    {% elseif kQuality > 0.80 and kQuality < 1 %}
                        Almost perfect agreement
                    {% else %}
                        Perfect agreement
                    {% endif %}
                </span>
                <br><small class="block pull-right">(k was measured by <a href="https://en.wikipedia.org/wiki/Fleiss%27_kappa" target="flaisskappa"
                                                     title="Fleiss' kappa formula">Fleiss' kappa</a> formula)</small>
            {% else %}
                <span class="badge alert-danger">not available</span>
            {% endif %}
        </li>

        <h5 class="sub-header"><code>Evaluator trustability</code></h5>
        <li class="block"><label>Intra-Annotator Agreement: </label>
            {% if kIntraEvaluators is defined and kIntraEvaluators | length > 0 %}
                <table class="table-responsive" style="border: none; max-width: 100px">
                {% for userid, kappa in kIntraEvaluators %}
                    <tr>
                        <td>
                            &nbsp;
                            {% if "vendor" in app.session.get('project')["roles"] or
                            not app.session.get('project')['blindrev'] %}
                                <label>{{ evaluators[userid]["evaluator"].username }} <i class='fa fa-user'></i></label> ({{ evaluators[userid]["evaluator"].anonymous }})<label>:&nbsp;</label>
                            {% else %}
                                <label><i class='fa fa-user'></i> {{ evaluators[userid]["evaluator"].anonymous }}:&nbsp;</label>
                            {% endif %}
                        </td>
                        <td>
                        {% if kappa is defined and kappa matches '/^[-+]?[0-9]*\\.?[0-9]+$/' %}
                            &nbsp;<i>k</i> = {{ kappa }}
                            <span class="badge">
                                {% if kappa <= 0 %}
                                    Poor agreement
                                {% elseif kappa > 0 and kappa <= 0.20 %}
                                    Slight agreement
                                {% elseif kappa > 0.20 and kappa <= 0.40 %}
                                    Fair agreement
                                {% elseif kappa > 0.40 and kappa <= 0.60 %}
                                    Moderate agreement
                                {% elseif kappa > 0.60 and kappa <= 0.80 %}
                                    Substantial agreement
                                {% elseif kappa > 0.80 and kappa < 1 %}
                                    Almost perfect agreement
                                {% else %}
                                    Perfect agreement
                                {% endif %}
                            </span>
                        {% else %}
                            <span class="badge alert-danger">not available</span>
                        {% endif %}
                        </td>
                     </tr>
                {% endfor %}
                </table>
            {% else %}
                <span class="badge alert-danger">not available</span>
            {% endif %}
        </li>


        <!-- considering the reviewer annotations -->
    {% if evalsummaryrev is defined %}
        {% if mode is defined and mode == "report" %}
            <hr>
        {% endif %}
        <h1 class="event-type"><span >AFTER REVIEW</span></h1>


        <h5 class="sub-header"><code>Evaluation results</code></h5>
        <div class="box">
            <div class="table-responsive">
                <table class="table table-bordered bg-white" border="1">
                    <thead class="thead-inverse">
                        <tr>
                            <th>system<br>labels</th>
                            <th class="text-center nowrap" title="value: 0"><span class="shadow">don't know</span></th>
                            {% for key,range in ranges %}
                                {% if app.session.get('project')["type"] == "tree" %}
                                    <td style="vertical-align: bottom">{{ range.label | raw }}</td>
                                {% else %}
                                    <th class="text-center" title="value: {{ range.val }}">
                                        <span class="shadow" style="background-color: #{{ range.color }}">{{ range.label | raw }}</span>
                                    </th>
                                {% endif %}
                            {% endfor %}
                            <th class="text-right">evaluations</th>
                            {% if app.session.get('project')["type"] != "tree" %}
                                <th class="text-right">average</th>
                                <th class="text-right">
                                    {% if app.session.get('project')["type"] == "ranking" %}
                                        rank
                                    {% else %}
                                        closest<br>label
                                    {% endif %}
                                </th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for key, value in evalsummaryrev %}
                        <tr>
                            <td>{{ key }}</td>
                            {% if value.evaluations > 0 %}
                                {% for range, info in value.eval %}
                                    {% if app.session.get('project')["type"] == "tree" %}
                                        <th class="text-center bg-grey">
                                        {% for ev, cnt in info %}
                                            {{ cnt }}<sup><b>{{ decisionOptions[ev] }}</b></sup> &nbsp;
                                        {% endfor %}
                                        </th>
                                    {% else %}
                                        <th class="text-center bg-grey">{{ info }}</th>
                                    {% endif %}
                                {% endfor %}
                                <td class="text-right" align="right">{{ value.evaluations }}</td>

                                {% if app.session.get('project')["type"] != "tree" %}
                                    <td class="text-right" align="right">{{ value.average }}</td>
                                    <td class="text-right">
                                        {% if app.session.get('project')["type"] == "ranking" %}
                                            <span class="badge alert-warning">
                                                {% transchoice value.rank %}
                                                {0} -- | {1} 1<sup>st</sup> <i class="fa fa-trophy fa-gold"></i> | {2} 2<sup>nd</sup> <i class="fa fa-trophy fa-silver"></i> | {3} 3<sup>rd</sup> <i class="fa fa-trophy fa-bronze"></i> | ]4,Inf[ %value.rank%<sup>th</sup>
                                                {% endtranschoice %}
                                            </span>
                                        {% else  %}
                                            {{ value.rank | raw }}
                                        {% endif %}
                                    </td>
                                {% endif %}
                            {% else %}
                                <td colspan="{{ ranges | length + 1 }}"></td>
                                <td class="text-center">--</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <h5 class="sub-header"><code>Evaluation quality</code></h5>
        <li class="block"><label>Overall Inter-Annotator Agreement: </label>
            {% if kQualityRev is defined and kQualityRev matches '/^[-+]?[0-9]*\\.?[0-9]+$/' %}
                <i>k</i> = {{ kQualityRev }}
                <span class="badge">
                    {% if kQualityRev <= 0 %}
                        Poor agreement
                    {% elseif kQualityRev > 0 and kQualityRev <= 0.20 %}
                        Slight agreement
                    {% elseif kQualityRev > 0.20 and kQualityRev <= 0.40 %}
                        Fair agreement
                    {% elseif kQualityRev > 0.40 and kQualityRev <= 0.60 %}
                        Moderate agreement
                    {% elseif kQualityRev > 0.60 and kQualityRev <= 0.80 %}
                        Substantial agreement
                    {% elseif kQualityRev > 0.80 and kQualityRev < 1 %}
                        Almost perfect agreement
                    {% else %}
                        Perfect agreement
                    {% endif %}
                </span>
                <br><small class="block pull-right">(k was measured by <a href="https://en.wikipedia.org/wiki/Fleiss%27_kappa" target="flaisskappa"
                          title="Fleiss' kappa formula">Fleiss' kappa</a> formula)</small><br>
            {% else %}
                <span class="badge alert-danger">not available</span>
            {% endif %}
        </li>
        <li class="block"><label>Total number of evaluations changed by the reviewer: </label>
            <strong>
            {% if totevaluationsrev is defined %}
                <span class="badge">{{ totevaluationsrev }}</span>
            {% else %}
                <span class="badge alert-danger">not available</span>
            {% endif %}
            </strong>
        </li>


        <h5 class="sub-header"><code>Evaluator trustability</code></h5>
        <li class="block"><label>Number of evaluations changed by the reviewer: </label>
            {% set countMyEvaluator = 0 %}
            {% if evaluationsrev is defined and evaluationsrev | length > 0 %}
                <table class="table-responsive" style="border: none; max-width: 100px; text-wrap: none">
                    {% for pos, userinfo in evaluationsrev %}
                        {% if evaluators[userinfo.userid]["evaluator"] is defined %}
                            {% set countMyEvaluator = countMyEvaluator + 1 %}

                            <tr>
                            <td>&nbsp;
                                {% if "vendor" in app.session.get('project')["roles"] or
                                    not app.session.get('project')['blindrev'] %}
                                    <label>{{ evaluators[userinfo.userid]["evaluator"].username }} </label> <i class='fa fa-user'></i> ({{ evaluators[userinfo.userid]["evaluator"].anonymous }})<label>:&nbsp;</label>
                                {% else %}
                                    <label><i class='fa fa-user'></i> {{ evaluators[userinfo.userid]["evaluator"].anonymous }}:&nbsp;</label>
                                {% endif %}
                            </td>
                            <td><span class="badge pull-left">
                                <strong>{{ userinfo.numrev }}</strong>
                                </span>
                            </td>
                            </tr>
                        {% endif %}
                    {% endfor %}

                    {% if countMyEvaluator == 0 %}
                        <span class="badge alert-danger">not available</span>
                    {% endif %}
                </table>
            {% else %}
                <span class="badge alert-danger">not available</span>
            {% endif %}
        </li>
    {% endif %}
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#sendbutton').each(function (i) {
            var sendModal = $(this).parent().find('.sendModal');
            $(this).click(function () {
                if ($("#sendpanel").is(":visible")) {
                    sendModal.fadeOut('slow');
                } else {
                    sendModal.fadeIn('slow');
                }
            });
            $(this).parent().find('.modalDelete').click(function (e) {
                sendModal.fadeOut('slow');
            });
            $(this).parent().find('.modalCancel').click(function (e) {
                sendModal.fadeOut('slow');
            });
        });
    });

    function sendReport () {
        var email = $('#sendReportEmail').val();
        if (email.length > 0) {
            $.ajax({
                type: "GET",
                url: "{{ path('send_report') }}",
                data: {"mailto": email, "view": "eval_report"},
                cache: false,
                beforeSend: function () {
                    $("#log").html("...sending");
                    setTimeout('$("#log").html("")',3000);
                },
                success: function (json) {
                    data = jQuery.parseJSON(json);
                    if (data.success == true) {
                        notify("The email has been just sent!", "success");
                        $('#sendpanel').hide();
                    } else {
                        notify("Sorry! An error occurred sending the report.", "danger");
                    }
                },
                error: function (response, xhr, err) {
                    //alert(err+"\nreadyState: "+xhr.readyState+"\nstatus: "+xhr.status+"\nresponseText: "+xhr.responseText);
                    notify("ERROR! Sending data failed!", "danger");
                }
            });
        }
    }

</script>