<link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/css/tablesorter.blue.css') }}" />
{% if projects is defined %}
    {% if projects | length > 0 %}
        <form>
            <div class="row">
                <div class="col-sm-4 pull-right">
                    <div class="btn-group has-feedback has-clear" style="padding-bottom: 2px">
                        <input type="search" size=25 class="form-control input-sm" id="search" placeholder="Filter" autocomplete="off">
                        <a id="resetSearch"
                           class="form-control-feedback form-control-clear"
                           style="pointer-events:auto; text-decoration:none; cursor:pointer;"
                           onclick="reset_search();">
                        </a>
                    </div>
                </div>
                <div class="col-sm-8">
                    <span class="badge alert-info">Projects found:
                        <label id="projectNum"></label><span style="color: #000">{{ projects | length }}</span>
                    </span>
                </div>
            </div>
        </form>
        <div class="table-responsive">
            <table class="tablesorter focus-highlight tablesorter-blue">
                <thead>
                <tr class="header">
                    <th>project name</th>
                    <!-- <th style="cursor: default"></th> -->
                    <th>project status</th>
                    <th>my role/s</th>
                    <th>last updated</th>
                </tr>
                </thead>
                <tbody id="items">
                {% for project in projects %}
                    <tr style="cursor: pointer" class=iditem onclick="goto({{ project.id }})">
                        <td>
                        {% if project.type != "" %}
                            <span style="color: #555"><small>{{ project.type }}:</small></span>
                        {% else %}
                            <code><i class="fa fa-warning" data-toggle='tooltip' data-placement='top' title='no evaluation format'></i></code><small>:</small>
                        {% endif %}
                        <strong>{{ project.name }}</strong>

                        {% if project.description != "" %}
                            <i class='fa fa-file-text' data-toggle='tooltip' data-placement='top' title='{{ project.description }}'></i>
                        {% endif %}
                        </td>
                        {% if duetasks[project.id] is defined %}
                            <!--<td align="right"><i class='fa fa-map-marker btn-tocomplete'
                                data-toggle='tooltip' data-placement='top' title='you have to complete a task'></i>
                            </td>-->
                            <td>
                                <span class="task task-due">{{ duetasks[project.id][1] | trans }}</span>
                                {% if duetasks[project.id][0] == 1 and duetasks[project.id][2] is not empty %}
                                    <code><i class="fa fa-warning" data-toggle='tooltip' data-placement='top' title='the due date to complete the task is {{ duetasks[project.id][2] | date('Y-m-d H:i:s') }}'></i></code>
                                {% endif %}
                            </td>
                        {% else %}
                            <!-- <td></td> -->
                            <td>
                                <span class="task task-complete">complete</span>
                            </td>
                        {% endif %}
                        <td><label>{{ project.roles }}</label></td>
                        <td title="{{ project.modified | date('Y-m-d H:i:s') }}" data-time="{{ project.modified | date('YmdHis') }}">
                            <small>{{ project.modified | timeago }}</small>
                        </td>
                    </tr> <!--timeago or date('Y-m-d H:i:s')-->
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="col-md-8 verticalbar-box verticalbar-warning">
            <label><i class="fa fa-info-circle"></i>
                No project found or this action is not allowed!
            </label>
        </div>
    {% endif %}
{% else %}
    <script>
        window.open("{{ path('dashboard') }}","_self");
    </script>
{% endif %}

<script type="text/javascript">
    $(document).ready(function() {
        // call the tablesorter plugin
        $.tablesorter.addParser({
            // set a unique id
            id: 'timesort',
            is: function (s) {
                // return false so this parser is not auto detected
                return false;
            },
            format: function (s, table, cell, cellIndex) {
                // get data attributes from $(cell).attr('data-something');
                // check specific column using cellIndex
                return $(cell).attr('data-time');
            },
            // set type, either numeric or text
            type: 'numeric'
        });

        $('table').tablesorter({
            theme: 'blue',
            headers: {
                //1: {sorter: false},
                3: {sorter: 'timesort'}
            }
        });

        // Make table cell focusable
        // http://css-tricks.com/simple-css-row-column-highlighting/
        if ( $('.focus-highlight').length ) {
            $('.focus-highlight').find('td, th')
                .attr('tabindex', '1')
            // add touch device support
                .on('touchstart', function() {
                    $(this).focus();
                });
        }
    });

    $('#search').bind('keyup', function() {
        var search = this.value;
        var s = new RegExp(search);

        var selnum = 0;
        var totnum = 0;
        $("tr:not(.header)").removeClass("selecteditem").each(function () {
            if (s.test(this.innerHTML.replace(/<\/*a[^>]*>"/gi,""))) {
                if (search != "")
                    $(this).addClass("selecteditem");
                $(this).show();
                selnum++;
            } else {
                $(this).hide();
            }
            totnum++;
        });

        if (search != "") {
            $("#resetSearch").html('<i class="fa fa-times-circle-o text-danger"></i>');
            $("#projectNum").html("<span class='text-danger'>"+selnum + "</span>/");
        } else {
            $("#resetSearch").html('');
            $("#projectNum").html('');
        }
    });

    function goto (project) {
        window.open("{{ path('admin') }}?pid=" +project, "_self");
    }

    function reset_search() {
        var searchEl = document.getElementById("search");
        if (searchEl != null) {
            searchEl.value = "";
        }
        //$("#search").value = "";
        $("#search").keyup();
    }

    function sort_table(tbody, col, asc) {
        var rows = tbody.rows,
                rlen = rows.length,
                arr = [],
                i, j, cells, clen;
        // fill the array with values from the table
        for (i = 0; i < rlen; i++) {
            cells = rows[i].cells;
            clen = cells.length;
            arr[i] = [];
            for (j = 0; j < clen; j++) {
                arr[i][j] = cells[j].innerHTML;
            }
        }
        // sort the array by the specified column number (col) and order (asc)
        arr.sort(function (a, b) {
            return (a[col] == b[col]) ? 0 : ((a[col] > b[col]) ? asc : -1 * asc);
        });
        // replace existing rows with new rows created from the sorted array
        for (i = 0; i < rlen; i++) {
            rows[i].innerHTML = "<td>" + arr[i].join("</td><td>") + "</td>";
        }
    }


    /* highlight hover & focus selectors in the syntax highlighted code */
    $(window).on('load', function(){
        setTimeout(function(){
            // css
            $('.pln:contains(highlight)').each(function(){
                var $this = $(this),
                        $prev = $this.prev().prev(),
                        text = $prev.text() || '',
                        type = /hover/.test(text) ? 'hover-hl' : /focus/.test(text) ? 'focus-hl' : '';
                if (type) {
                    $this.html(function(i,h){
                        return h.replace('highlight', '<span>highlight</span>');
                    });
                    // "highlight".. "-" .... "hover"/"focus" ... "."
                    $this.find('span').add( $prev ).add( $this.prev() ).add( $prev.prev() ).addClass(type);
                }
            });
            // js
            $('.str:contains(focus-highlight)').addClass('focus-hl');
        }, 500);
    });

</script>
