<div style="max-width: 800px">
    <table id='requests' class="table table-condensed nowrap"></table>
</div>
<script>
    $.ajax({
        type: "GET",
        url: "{{ path('project_users') }}",
        cache: false,
        beforeSend: function () {
            $("#requests").html("...");
        },
        success: function (json) {
            var table = '<div class="col-md-8 verticalbar-box verticalbar-info"><label><i class="fa fa-info-circle"></i> No request found!</label></div>';
            if (json.length > 0) {
                table = "<thead><tr><th>Status</th><th></th><th>Role</th></tr></thead>";

                var curr_project = "";
                var btn_class = "text-capitalize btn-group";
                for (var i in json) {
                    if (curr_project != json[i].name) {
                        if (curr_project != "") {
                            table += "</tbody>";
                        }
                        curr_project = json[i].name;
                        table += "<thead><th colspan=3 style='border-bottom: 1px solid #000; background: #ccc'><i class=\"fa fa-thumb-tack fa-fw\"></i> " + curr_project + "</th></thead>";
                        table += "<tbody>";
                    }
                    if (json[i].role_status == "pending") {
                        table += "<tr class='active'><td>Received " + timeAgo(json[i].created) + "</td>";
                        table += "<td><a onclick=\"replyRole('"+ json[i].hash + "','declined');\" class='" + btn_class +
                                " btn btn-danger' title='sent: " + json[i].created + "'>decline</a> ";
                        table += "<a onclick=\"replyRole('"+ json[i].hash + "','accepted');\" class='" + btn_class +
                                " btn btn-success' title='sent: " + json[i].created + "'>accept</a></td>";

                    } else {
                        table += "";
                        if (json[i].role_status == "declined") {
                            table += "<tr class='danger'><td>Declined";
                        } else if (json[i].role_status == "accepted") {
                            table += "<tr class='success'><td>Accepted";
                        } else if (json[i].role_status == "revoked") {
                            table += "<tr class='warning'><td>Revoked";
                        } else {
                            table += "<tr class='warning'><td>Problems occurred on activation ";
                        }
                        table += "</td><td>" + timeAgo(json[i].activated) + "</td>";
                    }
                    table += "<td><strong>" + json[i].role + "</strong></td></tr>";
                }
                //alert(requests);
                if (curr_project != "") {
                    table += "</tbody>";
                }
            }
            $("#requests").html(table);
        },
        error: function (response, xhr, err) {
            $("#requests").html("ERROR! " + "(" +err + " " +response + ")");
        }
    });

    function replyRole (hash, action) {
        var mesg = '';
        if (action == "accepted") {
            mesg = 'Do you really want to accept this invitation?';
        } else if (action == "declined") {
            mesg = 'Do you really want to decline this invitation?';
        }

        if (action != "" && hash != "") {
            var confirm = alertify.confirm('', mesg, null, null).set('labels', {cancel: 'Cancel', ok: 'OK'});
            confirm.set('onok', function () { //callback to OK button
                window.open("{{ path('api_role_reply') }}?hash=" + hash + "&action=" + action + "&view=requests", "_self");
            });
        }
    }

    function timeAgo(date) {
        var Re = new RegExp("\\..*$");
        date = date.replace(Re,"");

        var lastdate = new Date(date);
        lastdate.setMilliseconds(0);
        var     lasttime = lastdate.getTime();

        if (isNaN(lasttime)) {
            return date;
        }


        var now = new Date();
        now.setMilliseconds(0);

        var seconds = Math.floor(((now.getTime()/1000) - (lasttime/1000))),
                interval = Math.floor(seconds / 31536000);

        if (interval > 1) return interval + " years ago";

        interval = Math.floor(seconds / 2592000);
        if (interval == 1) return interval + " a month ago";
        if (interval > 1) return interval + " months ago";

        interval = Math.floor(seconds / 86400);
        if (interval == 1) return interval + " a day ago";
        if (interval > 1) return interval + " days ago";

        interval = Math.floor(seconds / 3600);
        if (interval == 1) return interval + " an hour ago";
        if (interval > 1) return interval + " hours ago";

        interval = Math.floor(seconds / 60);
        if (interval == 1) return interval + " a minute ago";
        if (interval > 1) return interval + " minutes ago";

        return Math.floor(seconds) + " seconds ago";
    }
    </script>