{% block body %}
{% if id is not defined %}
    {% set id = "" %}
{%  endif %}
{% set is_dont_know = 0 %}

{#
<div class="pull-right">
    (debug mode) ID: {{ id }}, NUM {{ num }}, ANNOTATIONS {{ annotations | length }}
</div>
#}
<style>
    .btn-opt {
        border-top: 4px solid white;
        border-bottom: 4px solid white;
        display: inline;
        white-space: nowrap;
        padding: 0 2px;
        font-size: 14px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .btn-noopt {
        border: 4px solid red;
        cursor: default;
        display: inline;
        white-space: nowrap;
        padding: 0 2px;
        font-size: 14px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .btn-opt:hover, .btn-opt:focus, {
        color: #333;
       background-color: #e6e6e6;
    }

    .btn-noopt:hover, .btn-noopt:focus, {
        border: 4px dashed red;
    }

    button, select {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
</style>
{% if sentences is defined and sentences | length > 0 %}
    <div class="clearfix">
    {% if app.session.get('project')["instructions"] is not empty %}
        <a href="javascript:toggleBox('instructionsBox', true);" class="btn btn-info pull-left">Instructions <b class="caret"></b></a>
        <div id="instructionsBox" style="display: none">
            <div id="instructions" class="card container-fluid body-content">&nbsp;&nbsp;{{ app.session.get('project')["instructions"] | raw }}</div>
        </div>

        <script type="text/javascript" src="{{ asset('bundles/app/js/nicEdit/nicEdit.js') }}" ></script>
        <script type="text/javascript">
             var instructions = new nicEditor({iconsPath : '{{ asset('bundles/app/js/nicEdit/nicEditorIcons.gif') }}',
             buttonList : []}).panelInstance('instructions',{hasPanel : false});
             //read only instructions
            nicEditors.findEditor("instructions").disable();
        </script>
    {% endif %}
    {# <span class="pull-right"> Done reviews: <label>{{ countDone }}/{{ countTUs }}</label></span> #}
    </div>


    <div class="container-fluid body-content">
        {% set sent_num = 0 %}
        {% set decisionOptions = {} %}
        {% if app.session.get('project')['type'] == "tree" %}
            {% set decisionOptions = {'1':'Yes','2':'No','3': 'N/A'} %}
        {% endif %}
        {% set ranges = app.session.get('project')['ranges'] | json_decode %}

        <div class="jumbotron">
        {% set hasRef = 0 %}
        {% for sentence in sentences %}
            {% if sentence.type == "source" %}
                <div class="clearfix">
                    {# ID: {{ id }}<br> #}
                    <div class="pull-left nowrap">
                        SOURCE: &nbsp;<div class='source'>
                        <label>
                            {{ sentence.text }}
                        </label>
                        </div>
                    </div>

                    <div class="comment-box">
                        {#<div style="display: table-cell; vertical-align: bottom">
                            <button href='#comm{{ sentence.num }}' id="comm{{ sentence.num }}_butt" class='btn navbar-btn round comm-toggle' style="left:0; margin-bottom: 4px" title="add a comment"><i class="fa fa-comment-o"></i></button>
                        </div>#}

                        <!-- comments -->
                        <div style="display: table-cell; text-align: right;">
                            {% if sentence.comment | length > 0 %}
                                <i class="fa fa-comment-o"></i> <i>{{ sentence.comment }}</i>
                            {% endif %}
                            <span id="comm{{ sentence.num }}_more"></span>
                            <div>
                                <i id='comm{{ sentence.num }}_label'></i>
                                <i id='comm{{ sentence.num }}_history'></i>
                            </div>
                            <div id="comm{{ sentence.num }}" style="display:none; font-size: 12px;">
                                <input type="text" id='comm{{ sentence.num }}' class="comment" style='width: 100%; background: lightyellow' />
                            </div>
                        </div>
                        <script>get_comments("sentence", "{{ sentence.num }}", 0);</script>
                    </div>
                </div>
            {% elseif sentence.type == "reference" %}
                {% if hasRef == 0 %}
                    <div class="clearfix nowrap">REFERENCE:</div>
                {% endif %}
                {% set hasRef = 1 %}
                {% if sentence.isurl is not empty %}
                    <div class="pull-right clearfix content">
                        <a href="javascript:toggleBox('referenceBox');"><img src="{{ sentence.text | trim }}" width="60" class="img-thumbnail"></a>
                        <div style="right: 10px; position: absolute; border: 1px solid #444; background: #fff; z-index: 4999" id="referenceBox">
                            <div style="background: #ccc3b6">{{ sentence.text }}</div>
                            <img src="{{ sentence.text | trim }}" width="300">
                        </div>
                    </div>
                {% else  %}
                    <div class='reference'>
                        <label>
                            {{ sentence.text }}
                        </label>
                    </div>
                {% endif %}
            {% else %}

                <p class="lead" style="border-left: 2px dotted #444">
                    <div class="container-fluid">
                        <div class="block">OUTPUT: &nbsp<label>{{ sentence.text }}</label></div>
                        <div class="table-responsive" style="border: none;">
                            <table cellpadding="5" cellspacing="5" style="border: none;">

                            {# create header with decision questions #}
                            {% if app.session.get('project')['type'] == "tree" %}
                                <tr bgcolor="#ddd">
                                <td></td>
                                <td></td>
                                <th style="border-right: 1px solid #aaa; vertical-align: bottom; padding:5px"></th>
                                {% for eval in ranges %}
                                    <th style="border-right: 1px solid #aaa; vertical-align: bottom;padding:5px"><small>{{ eval.label | raw }}</small></th>
                                {% endfor %}
                                </tr>
                            {% endif %}

                            {% for annotation in annotations %}
                                {% if annotation.confirmed != null and annotation.revuser == 0 %}
                                    <tr class="table-bordered" style="border-bottom: 1px solid #aaa"><td><span id="tagrev.{{ annotation.user.id }}"></span></td>
                                        <td align="right" nowrap>
                                            <span id="taguser.{{ annotation.user.id }}"></span>
                                            <span id="labeluser.{{ annotation.user.id }}"></span>
                                        </td>
                                        <td style="padding:5px;"><div class='evalbutton nowrap' id='check.{{ annotation.user.id }}.0' style='background: {{ "#" ~ eval.color }};' onmouseover='fadeInRev(this);' onmouseout='fadeOutRev(this,"#6ecc6a");'
                                            onClick="review(this, '{{ annotation.user.id }}','{{ sentence.num }}','{{ id }}',0,0,{{ ranges | length }},{{ decisionOptions | length }});"><small>don't know</small></div>
                                        </td>

                                    {% if app.session.get('project')['type'] == "tree" %}
                                        {% for eval in ranges %}
                                            <td style="border-left: 1px solid #aaa; min-width: 100px;" align="center" nowrap>
                                                <div class="btn-group" data-toggle="buttons">
                                                    {% for oid, olabel in decisionOptions %}
                                                        {% set enable = 1 %}
                                                        {% if annotation.eval | slice((eval.val-1), 1) == oid %}
                                                            {% if annotation.revuser == 0 %}
                                                                {% set enable = 0 %}
                                                            {% endif %}
                                                        {% endif %}
                                                        {% if enable == 1%}
                                                            <label id='check.{{ annotation.user.id }}.{{ eval.val }}.{{ oid }}' class="btn btn-default btn-opt">
                                                                <input type="checkbox" value="{{ eval.val }}" class='evalbutton'
                                                                    onchange="review(this,'{{ annotation.user.id }}','{{ sentence.num }}','{{ id }}',{{ eval.val }},{{ oid }},{{ ranges | length }},{{ decisionOptions | length }});">{{ olabel }}
                                                            </label>
                                                        {% else %}
                                                            <label id='check.{{ annotation.user.id }}.{{ eval.val }}.{{ oid }}' class="btn btn-noopt" title="the user evaluation cannot be overwritten">
                                                                <div>{{ olabel }}</div>
                                                            </label>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>

                                                {#<select id='check.{{ annotation.user.id }}.{{ eval.val }}' class='evalbutton'
                                                    onchange="review(this,'{{ annotation.user.id }}','{{ sentence.num }}','{{ id }}',{{ eval.val }},{{ ranges | length }},{{ decisionOptions | length }});">
                                                    {% for oid, olabel in decisionOptions %}
                                                        <option value="{{ oid }}"
                                                            {% if annotation.eval | slice((eval.val-1), 1) == oid %}
                                                                selected
                                                                {% if annotation.revuser == null %}
                                                                    disabled
                                                                {% endif %}
                                                            {% endif %}
                                                        >{{ olabel }}</option>
                                                    {% endfor %}
                                                </select>#}

                                            </td>
                                        {% endfor %}
                                    {% else %}
                                        {% for eval in ranges %}
                                            {% set bordercolor = "4px solid #" ~ eval.color %}
                                            <td>
                                                <div class='evalbutton' id='check.{{ annotation.user.id }}.{{ eval.val }}' style='background: {{ "#" ~ eval.color }}; border: {{ bordercolor }};' onmouseover='fadeInRev(this);' onmouseout='fadeOutRev(this,"{{ eval.color }}");'
                                                    onClick="review(this,'{{ annotation.user.id }}','{{ sentence.num }}','{{ id }}',{{ eval.val }},0,{{ ranges | length }},{{ decisionOptions | length }});"><small>{{ eval.label | raw }}</small></div>
                                            </td>
                                        {% endfor %}
                                    {% endif %}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </table>
                        </div>
                    </div>

                    <div class="comment-box">
                        <div style="display: table-cell; vertical-align: bottom">
                            <button href='#comm{{ sentence.num }}' id="comm{{ sentence.num }}_butt" class='btn navbar-btn round comm-toggle' style="left:0; margin-bottom: 4px" title="add a comment">
                                <i class="fa fa-comment-o">+</i>
                            </button>
                        </div>
                        <!-- comments -->
                        <div style="display: table-cell; text-align: right;">
                            {% if sentence.comment | length > 0 %}
                                <i>{{ sentence.comment }}</i>
                            {% endif %}
                            <span id="comm{{ sentence.num }}_more"></span>
                            <div>
                                <i id='comm{{ sentence.num }}_label'></i>
                                <i id='comm{{ sentence.num }}_history'></i>
                            </div>
                            <div id="comm{{ sentence.num }}" style="display:none; font-size: 12px;">
                                <input type="text" id='comm{{ sentence.num }}' class="comment" style='width: 100%; background: lightyellow' />
                            </div>
                        </div>

                        <script>get_comments("sentence", "{{ sentence.num }}", 0);</script>
                    </div>
                </p>
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% else %}
    <div class="col-md-8 verticalbar-box verticalbar-danger">
        <label>
            <i class="fa fa-info-circle"></i> No data found!
        </label>
    </div>
{% endif %}


<script>
    initBox("instructionsBox");
    initBox("referenceBox");

    var enableReset = 0;
    {% for annotation in annotations %}
        var userEl;
        {% if annotation.confirmed != null and annotation.revuser == 0 %}
            userEl = document.getElementById("labeluser.{{ annotation.user.id }}");
            if (userEl != null) {
                {% if not app.session.get('project')['blindrev'] %}
                    userEl.innerHTML = "&nbsp;<label>{{ evaluators[annotation.user.id]["evaluator"].username }} <i class='fa fa-user'></i></label> <code>{{ evaluators[annotation.user.id]["evaluator"].username }}</code>:&nbsp;";
                {% else %}
                    //userEl.innerHTML = "&nbsp;<label><span style='padding: 4px 4px; border-radius: 8px; background: " + stringToColour("{{ evaluators[annotation.user.id]["evaluator"].username }}") + "' class='fa fa-user'></span></label> <code> {{ evaluators[annotation.user.id]["evaluator"].anonymous }}</code>:&nbsp;";
                    userEl.innerHTML = "&nbsp;<label><i class='fa fa-user'></i></label> <code> {{ evaluators[annotation.user.id]["evaluator"].anonymous }}</code>:&nbsp;";
                {% endif %}
            }
        {% endif %}

        userEl = document.getElementById("taguser.{{ annotation.user.id }}");
        {% if annotation.revuser != 0 %}
            enableReset = 1;
        {% endif %}

        {% if app.session.get('project')['type'] == "tree" %}
            {% if annotation.eval == 0 %}
                el = document.getElementById("check.{{ annotation.user.id }}.{{ annotation.eval }}");
                if (el != null) {
                    {% if annotation.revuser == 0 %}
                        el.disabled = true;
                        el.style.border = BUTTONSELCOLOR;
                        el.style.cursor = "not-allowed";
                    {% else %}
                        el.style.border = BUTTONSELCOLOR2;
                    {% endif %}
                }
            {% else %}
                {% if annotation.revuser > 0 %}
                    {% for eval in ranges %}
                        {% set ev = annotation.eval | slice((eval.val-1), 1) %}
                        {% if ev == 0 %}
                            userEl.innerHTML = '<span class="badge alert-warning" title="the reviewing is not complete for this user"><code class="fa fa-warning"></code></span>';
                        {% else %}
                            el = document.getElementById("check.{{ annotation.user.id }}.{{ eval.val }}.{{ ev }}");
                            if (el != null && el.style.border != BUTTONSELCOLOR) {
                                el.style.border = BUTTONSELCOLOR2;
                            }
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}
        {% else %}
            el = document.getElementById("check.{{ annotation.user.id }}.{{ annotation.eval }}");
            if (el != null) {
                {% if annotation.revuser == 0 %}
                    el.disabled = true;
                    el.style.border = BUTTONSELCOLOR;
                    el.style.cursor = "not-allowed";
                {% else %}
                    el.style.border = BUTTONSELCOLOR2;
                {% endif %}
            }
        {% endif %}
    {% endfor %}

    // enable "Reset revisions" button
    if (enableReset) {
        el = document.getElementById("ereset");
        if(el != null) {
            el.disabled = false;
        }
    }

    $(document).ready(function() {
        $('.comm-toggle').click(function () {
            //get collapse content selector
            var collapse_content_selector = $(this).attr('href');
            //make the collapse content to be shown or hide
            var toggle_switch = $(this);
            $(collapse_content_selector).toggle(function () {
                if ($(this).css('display') == 'none') {
                    //change the button label to be 'Show'
                    if (this.id.indexOf("comm") == 0) {
                        toggle_switch.html("<i class='fa fa-comment-o'>+</i>");
                    } else {
                        toggle_switch.html('read more');
                    }

                } else {
                    //change the button label to be 'Hide'
                    if (this.id.indexOf("comm") == 0) {
                        elabel = this.id.replace(/_label/, "");
                        var viewportWidth = $(window).width() / 2 - 10;
                        $('#'+elabel).width(viewportWidth);

                        elComment = document.getElementById(elabel + "_label");
                        //alert(el.id);
                        if (elComment != null) {
                            elComment.style.visibility = "hidden";
                        }

                        toggle_switch.html("<i class='fa fa-close'></i>");
                        $('input#'+elabel).focus();

                    } else {
                        toggle_switch.html('close');
                    }
                }
            });
        });
    });

    $.fn.enterKey = function (fnc) {
        return this.each(function () {
            $(this).keypress(function (ev) {
                var keycode = (ev.keyCode ? ev.keyCode : ev.which);
                if (keycode == '13') {
                    fnc.call(this, ev);
                }
            })
        })
    }

    $(".comment").enterKey(function () {
        save_comment(this.id, this.value);
        $("input#"+this.id).val("")
        $("#"+this.id).slideUp("slow");
        $("#"+this.id+"_butt").html("<i class='fa fa-comment-o'>+</i>");
    })


    function review(selectedEl, userid, num, target_id, val, oid, totcheck, totoptions) {
        var combinedVal = val;
        if (selectedEl.style.cursor == "not-allowed") {
            alert("The user evaluation cannot be overwritten!");
            return false;
        }
        {% if app.session.get('project')['type'] == "tree" %}
            //if don't know has been clicked all evaluation for all questions are collected
            if (val != 0) {
                combinedVal = "";
                for (var c = 1; c <= totcheck; c++) {
                    var ev = 0;
                    for (var o = 1; o <= totoptions; o++) {
                        el = document.getElementById("check." + userid + "." + c + "." + o);
                        if (c==val && o==oid) {
                            if (el.style.border != BUTTONSELCOLOR2) {
                                ev = oid;
                                break;
                            }
                        } else {
                            if (ev == 0 && el.style.border == BUTTONSELCOLOR) {
                                ev = o;
                            }
                            if (el.style.border == BUTTONSELCOLOR2) {
                                ev = o;
                            }
                        }
                    }
                    combinedVal += ev;
                    if (ev == 0) {
                        var elTag = document.getElementById("tagrev." + userid);
                        if (elTag != null) {
                            elTag.innerHTML = '<span class="badge alert-warning" title="the reviewing is not complete for this user"><code class="fa fa-warning"></code></span>';
                        }
                    }
                }
            }
        {% endif %}

        if (!isBusy()) {
            $.ajax({
                type: "GET",
                url: "{{ path('save_rev_evaluation') }}",
                data: {"num": num, "id": target_id, "eval": combinedVal, "euser": userid},
                cache: false,
                beforeSend: function () {
                    setBusy();
                    $("#log").html("...");
                    //$("#log").append(" NUM: " + num + ", ID: " + target_id + ", EVAL: " + val + " ");
                },
                success: function (response) {
                    //json = jQuery.parseJSON(response);
                    //reviseCount++;
                    //controllo se sono stati attivati almeno un radio per ogni check, se così attivo il bottone DONE!
                    $("#log").append("saved!");
                    var elTag = document.getElementById("tagrev." + userid);

                    enableReset = 0;
                    {% if app.session.get('project')['type'] == "tree" %}
                        if (val == 0) {
                            if (selectedEl.style.border == BUTTONSELCOLOR2) {
                                selectedEl.style.borderColor = "white";
                            } else {
                                //deselect all other answers
                                for (var c = 1; c <= totcheck; c++) {
                                    for (var o = 1; o <= totoptions; o++) {
                                        el = document.getElementById("check." + userid + "." + c + "." + o);
                                        el.style.border = el.style.backgroundColor;
                                    }
                                }
                                //color don't know border
                                selectedEl.style.backgroundColor = selectedEl.style.borderColor;
                                selectedEl.style.border = BUTTONSELCOLOR2;
                                enableReset = 1;
                            }
                        } else {
                            el = document.getElementById("check." + userid + ".0");
                            if (el != null && el.style.border != BUTTONSELCOLOR) {
                                el.style.border = el.style.backgroundColor;
                            }
                            for (var o = 1; o <= totoptions; o++) {
                                el = document.getElementById("check." + userid + "." + val + "." + o);
                                if (el.style.border != BUTTONSELCOLOR) {
                                    if (o == oid) {
                                        if (el.style.border == BUTTONSELCOLOR2) {
                                            el.style.borderColor = el.style.backgroundColor;
                                        } else {
                                            el.style.backgroundColor = el.style.borderColor;
                                            el.style.border = BUTTONSELCOLOR2;
                                            enableReset = 1;
                                        }
                                    } else {
                                        el.style.border = el.style.backgroundColor;
                                    }
                                }
                            }
                        }
                    {% else %}
                        for (var c = 0; c <= totcheck; c++) {
                            el = document.getElementById("check." + userid + "." + c);
                            if (el == null) {
                                break;
                            }
                            if (c == val) {
                                if (el.style.border == BUTTONSELCOLOR2) {
                                    el.style.borderColor = el.style.backgroundColor;
                                    el.style.backgroundColor = BUTTONOVERCOLOR;
                                    if (elTag != null) {
                                        elTag.innerHTML = '';
                                    }
                                } else {
                                    el.style.backgroundColor = el.style.borderColor;
                                    el.style.border = BUTTONSELCOLOR2;
                                    enableReset = 1;
                                }
                            } else {
                                if (el.style.border == BUTTONSELCOLOR2) {
                                    el.style.borderColor = el.style.backgroundColor;
                                }
                            }
                        }
                    {% endif %}

                    if (enableReset) {
                        if (elTag != null) {
                            //elTag.html = '<span class="bg-blue fa fa-tag">revised</span>';
                            elTag.html ='';
                        }
                        el = document.getElementById("ereset");
                        if(el != null) {
                            el.disabled = false;
                        }
                    }
                    getTargetEvaluation(num);
                    unsetBusy();
                    setTimeout('$("#log").html("")',4000);
                },
                error: function (response, xhr, err) {
                    unsetBusy();
                    //alert(err+"\nreadyState: "+xhr.readyState+"\nstatus: "+xhr.status+"\nresponseText: "+xhr.responseText);
                    notify("ERROR! Saving data failed!","danger");
                    //switch (xhr.status) {
                    //case 200:
                    //$("#log").html("<b>ERROR!</b> Saving data failed!");
                    //}
                    setTimeout('$("#log").html("")',3000);
                }
            });
        }
    }

</script>
{% endblock %}
