{% block body %}
{% if corpus is not defined %}
    {% set corpus = "" %}
{%  endif %}
<div class="content-wrapper">
    {% set sent_num = 0 %}
    {% set pooled_sent_num = 0 %}
    {% set output_num = targets | length %}
    {% if sentences | length > 0 %}
        <div class="row inline">
            <div class="badge founditem pull-left">TUs:
                <label id="sentencebar"></label>
            </div>
            <div id="files"></div>
        </div>

        <div class="box box-primary">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                        {% if "owner" in app.session.get('project')["roles"] or
                            "admin" in app.session.get('project')["roles"] %}
                                <th width="5%">Lang</th>
                                <th width="5%">Type</th>
                                <th width="85%">Text</th>
                                <th width="5%" class="text-right">Inserted</th>
                        {% endif %}
                        </tr>
                    </thead>
                    <tbody class="table-bordered">
                    {% set prev_id = '' %}
                    {% set has_confirmed = 0 %}
                    {% for sentence in sentences %}
                        {% if prev_id != sentence.id %}
                            {% set prev_id = sentence.id %}
                            {% if sentence.simto is null %}
                                {% set sent_num = sent_num+1 %}
                            {% else %}
                                {% set pooled_sent_num = pooled_sent_num+1 %}
                            {% endif %}
                            {% set has_confirmed = 0 %}
                            {% set has_evals = 0 %}
                            {% for item in done %}
                                {% if item.id == sentence.id %}
                                    {% set has_evals = item.evals / output_num %}
                                    {% if item.confirmed != null %}
                                        {% set has_confirmed = item.confirmed / output_num %}
                                    {% endif %}
                                    {% set break = true %}
                                {% endif %}
                            {% endfor %}
                            {% if "owner" in app.session.get('project')["roles"] or
                                "admin" in app.session.get('project')["roles"] %}
                                {% if sentence.simto is null %}
                                    <tr class="iditem">
                                {% else %}
                                    <tr class="noitem alert-danger">
                                {% endif %}
                                    <td colspan="3" style="font-size: 15px">
                                    {% if sentence.simto is null %}
                                        <label>{{ sent_num }}. </label>
                                        {# confirmed evaluations #}
                                        {% if has_confirmed > 0 %}
                                            <span class="badge alert-success">
                                            {% if has_confirmed == has_evals %}
                                                <i class="fa fa-check-circle"></i> all confirmed
                                            {% else %}
                                                <b class="text-darkgrey">{{ has_confirmed | number_format(0) }}/{{ has_evals }}</b> confirmed
                                            {% endif %}
                                            </span>
                                        {% endif %}

                                        {# done evaluations #}
                                        <span class="badge alert-danger">
                                        {% transchoice has_evals %}
                                            {0} no evaluations |{1} 1 evaluation |]1,Inf[ %has_evals% evaluations
                                        {% endtranschoice %}
                                        </span>
                                        {% if sentence.isintra > 1 %}
                                            <span class="badge alert-warning">
                                                intra-annotator agreement
                                            </span>
                                        {% endif %}
                                    {% else %}
                                        <i>This TU was pooled!</i>
                                    {% endif %}
                                    </td>
                                    <td><i>{% if sentence.updated %}{{ sentence.updated | date('Y-m-d H:i:s') }}{% endif %}</i></td>
                                </tr>
                            {% endif %}
                        {% endif %}

                        {% if "owner" in app.session.get('project')["roles"] or
                            "admin" in app.session.get('project')["roles"] %}
                                {% if sentence.simto is null %}
                                    <tr tid="{{ sentence.id }}">
                                {% else %}
                                    <tr>
                                {% endif %}
                                <td>{{ sentence.language }}</td>
                                <td>{{ sentence.type }}</td>
                                <td colspan="2">
                                    {% if sentence.isurl %}
                                        <a href="{{ sentence.text }}" target="mtequalHref">
                                            {% if sentence.text matches '{^.*\.jpg.*$}' or
                                                sentence.text matches '{^.*\.png.*$}' or
                                                sentence.text matches '{^.*\.gif.*$}' %}
                                                <img src="{{ sentence.text }}" width="32" height="32" style="border: 1px solid #444;">
                                            {% else %}
                                                <i class="fa fa-external-link"></i>
                                            {% endif  %}
                                        </a>
                                        {{ sentence.text }}

                                    {% else %}
                                        <strong>{{ sentence.text }}</strong>
                                    {% endif %}

                                    {% if sentence.comment is not empty %}
                                        <div class="pull-right">
                                            <i>{{ sentence.comment }}</i>&nbsp;<i class="fa fa-comment-o"></i>
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            {# evaluator user #}
                            {% if sentence.type == "source" %}
                                {% if sentence.simto is null %}
                                    <tr tid="{{ sentence.id }}">
                                {% else %}
                                    <tr>
                                {% endif %}
                                <td>
                                    <p style="margin:2px; font-size: 18px; padding:0">
                                        <small>{{ sent_num }}.</small>
                                        {% if is_done != 0 %}
                                            <i class="fa fa-check-circle text-success" title="confirmed: {{ is_done }}"></i>
                                        {% else %}
                                            <span class="badge alert-danger" title="evaluations done">{{ has_evals }}/{{ output_num }}</span>
                                        {% endif %}
                                        <strong>{{ sentence.text }}</strong>
                                    </p>
                                    {% if sentence.comment is not empty %}
                                        <div class="pull-right">
                                            <i>{{ sentence.comment }}</i>&nbsp;<i class="fa fa-comment-o"></i>
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    {% else %}
        <div class="col-md-8 verticalbar-box verticalbar-danger"><label>
           <i class="fa fa-info-circle"></i> No data is available!
        </label></div>
    {% endif %}
</div>
<script>
    $("#sentencebar").html("{{ sent_num }}");
    {% if pooled_sent_num > 0 %}
        $("#sentencebar").append(" &nbsp;&nbsp;&nbsp;(<i class='alert-danger small'> pooled TUs: {{ pooled_sent_num }} </i>)");
    {% endif %}
    $.ajax({
        type: "GET",
        url: "{{ path('api_corpus_report') }}",
        cache: false,
        beforeSend: function () {
            $("#requests").html("...");
        },
        success: function (json) {
            var menu = '&nbsp; <label>File:</label> <select id="corpus" name="corpus" onchange="getSentences()"><option value=""> --- ALL --- </option>';
            var prevCorpusId ="";
            for (var i in json) {
                if (json[i].type == "source" && json[i].id != prevCorpusId) {
                    prevCorpusId = json[i].id;
                    menu += '<option value="' + json[i].id + '">' + json[i].filename + ' &nbsp;('+  json[i].mycount +' TUs)</option>\n';
                }
            }
            menu += '</select>';
            $("#files").html(menu);

            $('#corpus option[value="{{ corpus }}"]').attr("selected", true);
        },
        error: function (response, xhr, err) {
            $("#files").html("ERROR! " + "(" +err + " " +response + ")");
        }
    });

    function getSentences () {
        var sel = $('#corpus option:selected').val();
        if (sel != "undefined") {
            //window.open("{{ path('admin') }}?view=corpus&corpus="+sel, "_self");
            $.ajax({
                url: "{{ path('sentence_index') }}",
                data: {"corpus": sel},
                type: 'GET',
                async: true,
                cache: false,
                crossDomain: false,
                success: function (html) {
                    $("#sentences").html(html);
                }
            });
        }
    }
</script>

{% endblock %}
