{% extends 'base.twig' %}
{% block title %}MT-EQuAl Error Page{% endblock %}

{% block body %}
<div class="main">
    <h2>
        Sorry! Security error occurred. Please go back to home <a href="{{ path('dashboard') }}">back</a> or to <a href="{{ path('app_user_logout') }}">log in</a> again.
    </h2>
</div>
{% endblock %}