<p><br/></p><div class="main">
    <div class="col-md-8 verticalbar-box verticalbar-warning">
        <label>
            <i class="fa fa-warning"></i> <span style="color: #000">WARNING! The request is not valid or your permissions do not allow you access to this section!</span>
        </label>
    </div>
</div>