{% extends 'default/admin.twig' %}
{% block title %}MT-EQuAl / Create a new project{% endblock %}

{% block body %}
<div class="main">
    <h3>New project</h3>
    <div class="card">
        <form class="form-horizontal" action="{{path('project_update')}}" method="POST">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="form-group">
                <label class="control-label col-xs-3" for="inputEmail">Project:</label>
                <div class="col-xs-9">
                    <input type="text" class="form-control" name="name" id="name" value="{{ name is defined ? name : '' }}" autocomplete="off" placeholder="name of the project">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3" for="postalAddress">Description:</label>
                <div class="col-xs-9">
                    <textarea rows="3" class="form-control" name="description" id="description" placeholder="short description">{{ description is defined ? description : '' }}</textarea>
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="col-xs-offset-3 col-xs-9">
                    <input type="submit" class="btn btn-primary" value="Submit">
                    <input type="reset" class="btn btn-default" value="Cancel">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
