{% block javascripts %}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/css/icheck/skins/green.css') }}" />
    <script type="text/javascript" src="{{ asset('bundles/app/js/icheck.min.js') }}" ></script>
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap-datetimepicker.min.css') }}" />
    <script type="text/javascript" src="{{ asset('bundles/app/js/bootstrap-datetimepicker.min.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap2-toggle.min.css') }}" />
    <script type="text/javascript" src="{{ asset('bundles/app/js/bootstrap2-toggle.min.js') }}"></script>
{% endblock %}

{% set enableTasks = app.session.get('project')['etasks'] | keys %}
{% set completeEvaluationTask = 0 %}
{% set countEvaluationTask = 0 %}
<div class="block">
    <div class="col-lg-12">
        <ul class="test">
            <div class="pull-right">
{% if "admin" in app.session.get('project')["roles"]
    or "owner" in app.session.get('project')["roles"]
    or "vendor" in app.session.get('project')["roles"]
    or "reviewer" in app.session.get('project')["roles"] %}
    {# project status #}
    {% set projectStatus = "" %}
    {% set countETasks = 0 %}
    {% for task in tasks %}
        {% if task.completed == 0 %}
            {% if countETasks == 0 %}
                {% if (task.task == "review" or task.task == "finalize") and countEvaluationTask <= 0 %}
                    {% set projectStatus = "<small>project status:</small> <label><code>evaluation</code></label>" %}
                {% else %}
                    {% set projectStatus = "<small>project status:</small> <label><code>"~ task.task | trans ~"</code></label>" %}
                {% endif %}
            {% endif %}
            {% set countETasks = countETasks + 1 %}

            {#
            {% if app.session.get('project')['etasks'][task.task] %}
                {% if date(date('now')) > date(app.session.get('project')['etasks'][task.task]) %}
                    <div class="badge alert-danger">
                        <code><i class="fa fa-warning" data-toggle='tooltip' data-placement='bottom' title="The due date to complete the {{ task.task }} was {{ app.session.get('project')['etasks'][task.task] | timeago }}"></i></code>
                    </div>
                {% else %}
                    <div class="badge alert-warning">
                        <code><i class="fa fa-warning" data-toggle='tooltip' data-placement='bottom' title="The due date to complete the {{ task.task }} is {{ app.session.get('project')['etasks'][task.task] | date('Y-m-d H:i:s') }}"></i></code>
                    </div>
                {% endif %}
            {% endif %}
            #}
        {% endif %}
    {% endfor %}

    {% if countETasks == 0 %}
        {% if "admin" not in app.session.get('project')["roles"] %}
            {% set enableTasks = [] %}
        {% endif %}
        {% set projectStatus = "<small>project status:</small> <label class='alert-success'>&nbsp;complete&nbsp;</label>" %}
    {% endif %}


    <div class="pull-right">
        <button class="round shadow btn dropdown-toggle" data-toggle="dropdown" id="menubutton">
            &nbsp;Project monitor <span class="caret"></span>
        </button>
    </div>
    <div class="pull-right"><small>
        {%  if "finalize" in enableTasks %}
            {% if invitations["evaluator_invitation"] < 1 %}
                <span class="badge alert-warning"><code><i class="fa fa-warning"></i></code> no evaluator found</span>
            {% endif %}
        {% else %}
            {% set countEnableTasks = enableTasks | length %}
            {% if countEnableTasks > 0 %}
                {% transchoice enableTasks %}
                {0}
                |{1} <label>1 incomplete task</label>
                |]1,Inf[ <label>%countEnableTasks% incomplete tasks</label>
                {% endtranschoice %}
            {% endif %}
        {% endif %}
            &nbsp;
        </small>
    </div>
        <div style="position: relative; top: -20px; width: auto">
            <ul class="dropdown-menu scrollable-menu pull-right" id="tasks" role="menu"
                style="width: auto; z-index: 3999; top: 45px; padding-bottom:150px; font-size: 10px; border: 1px solid #585858; overflow-x: auto; background: #fefefe; padding-left: 3px; padding-right: 5px;">
                <table class="table" cellspacing="0" cellpadding="0" width="100%">
                    <tr style="height: 10px"><td colspan=3 align="center" bgcolor="#dcdcdc"><h5>PROJECT TASKS</h5></td></tr>

                    {% for task in tasks %}
                        {% set userInfo = "" %}
                        {% set continue = 1 %}

                        {% if task.task in task_byuser %}
                            {% if task.user == app.session.get('mysession')['userid'] %}
                                {% if task.task == "evaluation" and evaluators[task.user]["evaluator"] %}
                                    {% set userInfo = "by <label>YOU <i class='fa fa-user'></i></label> (" ~ evaluators[task.user]["evaluator"].anonymous ~ ")" %}
                                {% else %}
                                    {% set userInfo = "by <label>YOU <i class='fa fa-user'></i></label>" %}
                                {% endif %}
                            {% elseif "admin" in app.session.get('project')["roles"]
                                or "owner" in app.session.get('project')["roles"] %}
                                {% if task.task == "evaluation" and evaluators[task.user]["evaluator"] %}
                                    {% set userInfo = "by <label>" ~ evaluators[task.user]["evaluator"].username ~ " <i class='fa fa-user'></i></label> (" ~ evaluators[task.user]["evaluator"].anonymous ~ ")" %}
                                {% else %}
                                    {% set userInfo = "by <label>" ~ users[task.user][0] ~ " <i class='fa fa-user'></i></label>" %}
                                {% endif %}
                            {% elseif users[task.user] is not defined %}
                                {% if task.task != "review" %}
                                    {% set continue = 0 %}
                                {% endif %}
                            {% else %}
                                {% if task.task == "evaluation" and evaluators[task.user]["evaluator"] %}
                                    {% if "vendor" in app.session.get('project')["roles"] or
                                        not app.session.get('project')['blindrev'] %}
                                        {% set userInfo = "by <label>" ~ evaluators[task.user]["evaluator"].username ~ " <i class='fa fa-user'></i></label> (" ~ evaluators[task.user]["evaluator"].anonymous ~ ")" %}
                                    {% else %}
                                        {% set userInfo = "by <label>" ~ evaluators[task.user]["evaluator"].anonymous ~ " <i class='fa fa-user'></i></label>" %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}

                        {% if continue %}
                            {% set tdClass = "default" %}
                            {% if task.disabled == 0 %}
                                {% set tdClass = "warning" %}
                            {% endif %}
                            {#{% if task.completed == 1 %}
                                {% set tdClass = "success" %}
                            #}
                            {# temporary evaluation task #}
                            {% if (task.task == "review" or task.task == "finalize") and countEvaluationTask == 0 %}
                                {% set countEvaluationTask = -1 %}
                                <tr class="nowrap" style="padding: 0; margin: 0">
                                    <td>
                                        <input type="checkbox" class="checktask" title="invitations haven't been accepted yet" disabled>
                                    </td>
                                    <td class="{{ tdClass }}" colspan=2 nowrap>
                                        <span style="font-size: 16px">evaluation</span>
                                    </td>
                                </tr>
                                {% set tdClass = "default" %}
                            {% endif %}

                            <tr class="nowrap" style="padding: 0; margin: 0">
                            <td>
                                {% if task.task == "evaluation" %}
                                    {% set countEvaluationTask = countEvaluationTask + 1 %}
                                    {% if task.completed == 1 or (tus > 0 and eval_progress[task.user] == tus) %}
                                        {% set completeEvaluationTask = completeEvaluationTask + 1 %}
                                        <div style="display: inline" title="this task is completed">
                                            <input type="checkbox" class="checktask" checked disabled>
                                        </div>
                                    {% else %}
                                        {% if "admin" in app.session.get('project')["roles"] or
                                            (users[task.user] is defined and users[task.user][1] == app.session.get('mysession')['userid']) %}
                                            {% set checkedItem = "" %}
                                            {% if task.disabled == 0 %}
                                                {% set checkedItem = " checked" %}
                                            {% endif %}

                                            {% set disableItem = " disabled" %}
                                            {% set titleItem = "the evaluation cannot start yet" %}
                                            {% if isEvaluationStarted %}
                                                {% set disableItem = "" %}
                                                {% set titleItem = "" %}
                                            {% endif %}

                                            <div class="{{ disableItem }}togglediv" style="font-size: 4pt" title="{{ titleItem }}" target="toggle-{{ task.id }}">
                                                    <input class="togglecheck" type="checkbox"{{ checkedItem }}{{ disableItem }} id="toggle-{{ task.id }}" data-size="mini" data-on="active" data-off="inactive" data-toggle="toggle" data-onstyle="warning" data-offstyle="danger" handleWidth="auto" data-height="30" data-width="70"
                                                   user="{{ task.user }}" label="{{ task.task }}" eval="{{ eval_progress[task.user] }}" />
                                            </div>
                                        {% else %}
                                            <div style="display: inline" title="this task is not completed yet">
                                                <input type="checkbox" class="checktask" disabled>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    {% if task.completed == 1 %}
                                        {% if (task_list[task.task][0] != "" and (task.task in enableTasks
                                            or task_list[task.task][0] in app.session.get('project')["roles"]) and countETasks != 0)
                                            or "admin" in app.session.get('project')["roles"] %}
                                            <div style="display: inline" title="change the status of this task to incomplete">
                                                <input type="checkbox" user="{{ task.user }}" label="{{ task.task }}" eval="{{ eval_progress[task.user] }}" class="checktask" checked>
                                            </div>
                                        {% else %}
                                            <div style="display: inline" title="you cannot change the status of this task" >
                                                <input type="checkbox" class="checktask" checked disabled>
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        {% if task.task in enableTasks %}
                                            {%  if task.task == "finalize" and
                                                (countEvaluationTask == 0 or countEvaluationTask != completeEvaluationTask) %}
                                                <div style="display: inline" title="this task can be completed when all evaluations have been confirmed">
                                                    <input type="checkbox" class="checktask" disabled>
                                                </div>
                                            {% else %}
                                                <div style="display: inline" title="click to mark this task complete">
                                                    <input type="checkbox" user="{{ task.user }}" label="{{ task.task }}" class="checktask">
                                                </div>
                                            {% endif %}
                                        {% else %}
                                            <div style="display: inline" title="this task cannot be completed yet">
                                                <input type="checkbox" class="checktask" disabled>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td class="{{ tdClass }}" nowrap>
                                <span style="font-size: 16px">
                                {% if task_list[task.task][1] != "" %}
                                    <a href="{{ path('admin') }}?view={{ task_list[task.task][1] }}">{{ task.task | trans }}</a>
                                {% else %}
                                    {{ task.task | trans }}
                                {% endif %}
                                </span>
                                <span style="font-size: 9pt;">{{ userInfo | raw }}</span>

                                {% if task.task == "evaluation" %}
                                    <div style="display: block" class="info">
                                        <span class="badge alert-info">{{ eval_progress[task.user] }}/{{ tus }} confirmed TUs</span>
                                        {%  if eval_progress[task.user] > 0 and
                                              ((users[task.user] is defined and countETasks != 0)
                                                or "admin" in app.session.get('project')["roles"])
                                        %}
                                            <a class="btn btn-info btn-xs" onClick="resetProgress(null, '{{ task.task }}','{{ task.user }}','{{ eval_progress[task.user] }}')" title="use the 'undo confirmations' button to revise all done evaluations"> undo confirmations </a>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </td>
                            <td class="{{ tdClass }}">
                                {% set duedate = "" %}
                                {% set labelduedate = "" %}
                                {% set labelmoddate = task.modified | date('M d') %}
                                {% if task.duedate %}
                                    {% set duedate = task.duedate | date('Y-m-d') %}
                                    {% set labelduedate = task.duedate | date('M d') %}
                                {% endif %}

                                {% if task.completed == 1 %}
                                    <div class="disabled pull-right">
                                        {% if task.duedate != "" %}
                                            {% if task.duedate < task.modified %}
                                                {% set difference = date(task.modified).diff(date(task.duedate)) %}
                                                {% set leftDays = difference.days %}

                                                {% set title %}{% transchoice leftDays %}{0} less than a day |{1} 1 day |]1,Inf[ %leftDays% days{% endtranschoice %} overdue{% endset %}
                                                <cite style="font-size: 8pt; color: #ff383d" title="{{ title }}"><label>{{ labelmoddate }}</label></cite>
                                            {% else %}
                                                <cite style="font-size: 8pt; color: #1a924b" title="the due date was {{ duedate }}"><label>{{ labelmoddate }}</label></cite>
                                            {% endif %}
                                        {% else %}
                                            <cite style="font-size: 8pt; color: grey"><label>{{ labelmoddate }}</label></cite>
                                        {% endif %}
                                    </div>
                                {% else %}
                                    {% if task.task != "creation" and
                                        (task.task in enableTasks
                                        or task_list[task.task][0] in app.session.get('project')["roles"]
                                        or "owner" in app.session.get('project')["roles"] or "admin" in app.session.get('project')["roles"]) %}

                                        <div class="date form_datetime pull-right" id="dd_{{ task.id }}" data-link-field="ldd_{{ task.id }}" data-link-format="M d" data-date="{{ duedate }}" data-date-format="Y-m-d" style="display: inline-block">
                                            <input size="1" type="hidden" value="" readonly>
                                            <div class="badge">
                                                <small><cite id="ldd_{{ task.id }}">{{ labelduedate }}</cite></small>
                                                {#<a id="rdd_{{ task.id }}"
                                                   class="form-control-feedback form-control-clear"
                                                   style="pointer-events:auto; text-decoration:none; cursor:pointer;"
                                                   onclick="resetDuedate('{{ task.id }}');">
                                                </a>#}
                                                {% if task.duedate != '' %}
                                                    <a id="rdd_{{ task.id }}" onclick="resetDuedate('{{ task.id }}');" title="remove the due date">
                                                        <i class="fa fa-times-circle-o" style="color: #ff6357; cursor: pointer"></i>
                                                    </a>
                                                {% endif %}

                                                <span class="add-on"><i class="fa fa-calendar" style="cursor: pointer" title="set the due date"></i>&nbsp;</span>
                                            </div>
                                        </div>
                                    {% else %}
                                        {% if task.duedate != "" %}
                                            <div class="disabled pull-right">
                                                {% set difference = date(date('now')).diff(date(task.duedate)) %}
                                                {% set leftDays = difference.days %}

                                                {% if task.duedate < date('now') %}
                                                    {% set title %}{% transchoice leftDays %}{0} less than a day |{1} 1 day |]1,Inf[ %leftDays% days{% endtranschoice %} overdue{% endset %}
                                                    <cite style="font-size: 8pt; color: #ff383d" title="{{ title }}"><label>{{ labelduedate }}</label></cite>
                                                {% else %}
                                                    {% set title %}{% transchoice leftDays %}{0} less than a day |{1} 1 day |]1,Inf[ %leftDays% days {% endtranschoice %} remaining{% endset %}
                                                    <cite style="font-size: 8pt; color: #dd9951" title="{{ title }}"><label>{{ labelduedate }}</label></cite>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}


                    <tr><td colspan=3 align="center" bgcolor="#dcdcdc" height="16"><h5>USER INVITATION</h5></td></tr>

                    {% for taskname, value in invitation_tasks %}
                        {% if "admin" in app.session.get('project')["roles"]
                            or "owner" in app.session.get('project')["roles"]
                            or invitation_tasks[taskname][0] in app.session.get('project')["roles"] %}
                            {% set tdClass = "warning" %}
                            {% set checkAttrs = "" %}
                            {% set checkTitle = "no " ~ invitation_tasks[taskname][2] ~ " invitation found" %}
                            {% if invitations[taskname] %}
                                {% set tdClass = "default" %}
                                {% set checkAttrs = "checked" %}
                                {% set checkTitle = "" %}
                            {% endif %}
                            <tr style="padding: 0; margin: 0; font-size: 16px">
                            <td>
                                <div style="display: inline" title="{{ checkTitle }}" >
                                    <input type="checkbox" class="checktask" {{ checkAttrs }} disabled>
                                </div>
                            </td>
                            <td class="{{ tdClass }}" colspan="2" nowrap>
                                <a href="{{ path('admin') }}?view={{ invitation_tasks[taskname][1] }}">{{ taskname | trans }}</a>
                                {% if invitations[taskname] %}
                                    {% set usersWithUnknownInviter = 0 %}
                                    {% for inviter, count in invitations[taskname] %}
                                        {% if users[inviter] %}
                                            <li style="font-size: 10pt;">{% transchoice count %}
                                            {0}
                                            |{1} <span class="badge">1</span> user
                                            |]1,Inf[ <span class="badge">%count%</span> users
                                            {% endtranschoice %}
                                            invited by {{ users[inviter][0] }}</li>
                                        {% else %}
                                            {% set usersWithUnknownInviter = usersWithUnknownInviter + count %}
                                        {% endif %}
                                    {% endfor %}

                                    {% if usersWithUnknownInviter > 0 %}
                                        <li style="font-size: 10pt;">{% transchoice usersWithUnknownInviter %}
                                        {0}
                                        |{1} <span class="badge">1</span> invited user
                                        |]1,Inf[ <span class="badge">%count%</span> invited users
                                        {% endtranschoice %}
                                        </li>
                                    {% endif %}
                                {% endif %}
                           </td><tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </ul>
        </div>


        <div style="position: relative; top: 25px">
            {{ projectStatus | raw }}
        </div>
{% endif %}
        </div>
        </ul>
    </div>
</div>

<script>
    //Alertify init;
    alertify.defaults.transition = "fade";
    alertify.confirm().setting('modal', true);
    alertify.confirm().setting('defaultFocus', 'cancel');

    $(document).ready(function() {
        $('ul.test').on('click.bs.dropdown', function(e){
            var $a = $(e.target), is_a = $a.is('.is_a');
            if($a.hasClass('dropdown-toggle')){
                $('ul.dropdown-menu', this).toggle(!is_a);
                $a.toggleClass('is_a', !is_a);
            }
        }).on('click', function(event) {
            event.stopPropagation();
        });

        $('body').on("click", function(event){
            if ($("#tasks").is(':visible')) {
                $("#tasks").slideUp("fast");
                $("#menubutton").click();
            }
        });
    });

    setTimeout("projectCheck(\"{{ app.session.get('project')['modified'] | date('Y-m-d H:i:s') }}\")", 15000);


    $('.checktask').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
        labelHover: true,
        labelHoverClass: 'hover',
        cursor: true
    });

    $('.checktask').on('ifUnchecked', function(event){
        event.stopPropagation();
        event.preventDefault();

        var evdone =  event.target.eval;
        var task = $(this).attr('label');
        var user = $(this).attr('user');
        resetProgress($(this), task,user,evdone);
        return false;
    });

    $('.checktask').on('ifChecked', function(event) {
        event.stopPropagation();
        event.preventDefault();

        confirmProgress($(this), $(this).attr("label"));
        return false;
    });


    $('.togglediv').on("click", function( evt ) {
        evt.preventDefault();
        var target =  $(this).attr('target');

        var actionLabel = "temporarily disable";
        var checked = $("#"+target).prop('checked');
        if (!checked) {
            actionLabel = "enable";
        }
        var mess = 'Do you really want to ' + actionLabel+ ' this task?';
        var confirm = alertify.confirm('',mess,null,null).set('labels', {cancel:'Cancel', ok:'OK'});
        confirm.set('onok', function() { //callback to OK button
            toggleTask(target);
        });
        return false;
    });

    function toggleTask(target) {
         var checked = $("#"+target).prop('checked');
         var task = $("#"+target).attr('label');
         var user = $("#"+target).attr('user');

        $.ajax({
            url: "{{ path('app_change_task') }}",
            data: {"task": task, "userid": user, "_csrf_token": "{{ csrf_token('authenticate') }}"},
            type: 'GET',
            async: true,
            cache: false,
            crossDomain: false,
            beforeSend: function () {
                $("#loadingDiv").show();
            },
            success: function (data) {
                var json = jQuery.parseJSON(data);
                if (json.success) {
                    $("#" + target).prop('checked', !checked).change();
                } else {
                    notify("This task cannot be changed now!", 'warning');
                }
                $("#loadingDiv").hide();
            },
            error: function () {
                $("#loadingDiv").hide();
            }
        });
    }


    function confirmProgress (el, task) {
        if (unsaved) {
            alertify.alert("","You have unsaved changes on this page. Save it or reset your changes before complete the this task!");
        } else {
            var confirm = alertify.confirm('', 'Do you really want to mark this task complete?', null, null).set('labels', {
                cancel: 'Cancel',
                ok: 'OK'
            });
            confirm.set('onok', function () {
                //callback to OK button
                $.ajax({
                    url: "{{ path('app_task_complete') }}",
                    data: {"task": task},
                    type: 'GET',
                    async: true,
                    cache: false,
                    crossDomain: false,
                    beforeSend: function () {
                        $("#loadingDiv").show();
                        el.iCheck('toggle');
                    },
                    success: function (data) {
                        $("#loadingDiv").hide();
                        var json = jQuery.parseJSON(data);
                        if (json.success) {
                            if (task == "finalize") {
                                alertify.alert("", "CONGRATULATIONS! This project is finished.", function(){
                                    window.location.reload();
                                });
                            } else {
                                //notify("The task " + label + " has been completed successfully!");
                                setTimeout(window.location.reload(), 100);
                            }
                        } else {
                            notify(json.message, 'warning');
                        }
                    },
                    error: function () {
                        notify("Sorry! An error occurred on the server.", 'error');
                        $("#loadingDiv").hide();
                    }
                });
            }).set('oncancel', function(){
                el.iCheck('toggle');
            });
        }
        return -1;
    }

    function resetProgress(el, task, userid, evdone) {
        var mess = 'Do you really want to reset this task and all the following ones?';
        if (task == "evaluation" && evdone > 0) {
            mess = 'ATTENTION! Resetting this task all evaluations must be confirmed again by the user. Do you want to continue?';
        }

        var confirm = alertify.confirm('',mess,null,null).set('labels', {cancel:'Cancel', ok:'OK'});
        confirm.set('onok', function(){ //callback to OK button
            $("#loadingDiv").show();
            window.open("{{ path('app_reset_task') }}?task="+task+"&userid="+userid+"&_csrf_token={{ csrf_token('authenticate') }}", "_self");
        }).set('oncancel', function(){
            if (el) {
                el.iCheck('toggle');
            }
        });
        return false;
    }

    function resetDuedate(taskid) {
        var datein = $("#dd_" + taskid).attr("data-date");
        if (datein) {
            var mess = 'Do you really want to remove this due date?';
            var confirm = alertify.confirm('',mess,null,null).set('labels', {cancel:'Cancel', ok:'OK'});
            confirm.set('onok', function(){ //callback to OK button
                $.ajax({
                    url: "{{ path('api_duedate_task') }}",
                    data: {"task": taskid, "duedate": ""},
                    type: 'GET',
                    async: true,
                    cache: false,
                    crossDomain: false,
                    success: function (json) {
                        data = jQuery.parseJSON(json);
                        if (data.message) {
                            notify(data.message, 'error');
                        } else {
                            $("#log").html(" saved!");
                            setTimeout('$("#log").html("")', 3000);

                            $("#dd_" + taskid).attr("data-date", "");
                            $("#ldd_" + taskid).text("");
                            $("#rdd_" + taskid).html("");
                        }
                    }
                });
            });
        }
    }

    $(function(){
        $(window).resize(function(){
            $('ul').css('max-height', ($(window).height() - ($('ul').offset().top) - 110) + 'px');
        });
    });
    $('ul').css('max-height', ($(window).height() - ($('ul').offset().top) - 110) + 'px');

    var dateToday = new Date();
    $('.form_datetime').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
        startDate: dateToday,
        pickerPosition: "bottom-left"
        /*,
        onRender: function(date) {
            alert(ev.date.valueOf() + " < " + date-start-display.valueOf());
            return ev.date.valueOf() < date-start-display.valueOf() ? ' disabled' : '';
        }*/
    }).on('changeDate', function(ev){
        var timestamp=ev.date.valueOf();
        var d = new Date(timestamp);

        var date = d.getFullYear() +"-" + ('0' + (d.getMonth() + 1)).slice(-2) + "-" + ('0' + d.getDate()).slice(-2);
        var task = $(this).attr("id").replace(/^dd_/, "");
        $.ajax({
            url: "{{ path('api_duedate_task') }}",
            data: {"task": task, "duedate": date},
            type: 'GET',
            async: false,
            cache: false,
            crossDomain: false,
            success: function (json) {
                data = jQuery.parseJSON(json);
                if (data.message) {
                    notify(data.message, 'error');
                } else {
                    if (data.duedate) {
                        $("#dd_" + task).attr("data-date",data.duedate);
                        var monthsShort = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
                        $("#ldd_" + task).text(monthsShort[d.getMonth()] +  " " + d.getDate());
                        $("#rdd_" + task).html('<i class="fa fa-times-circle-o" style="color: #fff; cursor: pointer"></i>');

                        $("#log").html("saved!");
                        setTimeout('$("#log").html("")',3000);
                    }
                }
            }
        });
    });
    $('[data-toggle="tooltip"]').tooltip();

</script>
