{% if "admin" in app.session.get('project')["roles"]
or "owner" in app.session.get('project')["roles"]
%}
<div class="main">
    <div class="row" id="report"></div>
    <form id="form" class="form-horizontal cardgrey" action="{{ path("project_update") }}" method="POST">
        <input type=hidden name="id" value="{{ app.session.get('project')["id"] }}">
        <input type=hidden name="view" value="{{ view }}">
        <input type=hidden name="ranges" id="ranges" value="">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="container-fluid larger">
            <div class="pull-right relief">
                {% set archiveLabel = "" %}
                {% if app.session.get('project')["evalformat"] != "" %}
                    {% if app.session.get('project')["evalformat"] == app.session.get('project')["name"] %}
                        {% set archiveLabel = "Archived as <label>" ~ app.session.get('project')["evalformat"] ~ "</label> format</code>" %}
                    {% else %}
                        {% set archiveLabel = "<code>based on <label>" ~ app.session.get('project')["evalformat"] ~ "</label> template</code>" %}
                    {% endif %}
                {% endif %}

                <div class="top-right pull-right main">
                    {{ archiveLabel | raw }}
                    <span id="archivedoc" style="display: none">
                        {% if archiveLabel == "" %}
                            Import format
                        {% endif %}
                        <a class='btn navbar-btn round' id="archive" href="#"><i class="fa fa-ellipsis-h"></i></a>
                    </span>
                </div>
            </div>

            <div class="pull-left" style="margin-top: 10px">
                <label>Format:</label>
                <select style="font-size: 16px" id="type" name="type" onchange="initRanges();" title="choose an available format">
                    <option value='' selected="selected"></option>
                    <option value='binary'>Binary</option>
                    <option value='scale'>1-x scale</option>
                    <option value='ranking'>Ranking</option>
                    <option value='tree'>Decision Tree</option>
                </select>
            </div>
        </div>
        <table id="dataTable" class="table-responsive nowrap" style="font-size: medium; min-width: 50px"></table>
        <div id='actions' class='pull-right'></div>

        <div class="container-fluid">
            <div id="howmanytargets" style="display: none">
                <br>
                <label>How many targets have to be ranked?&nbsp;</label>
                <input id="targets" name="targets" size=4 class="text-right" value="2">
            </div>

            <hr>
            <input type="checkbox" id="requiref" name="requiref" /> <label>Include reference</label><br>
            <hr>
        </div>
        <div class="main" style="padding-bottom: 130px">
            <div id="controls">
                <button onclick="saveRanges();" id="save" class="btn btn-primary" disabled>Save</button>
                <a class="btn" id="cancel" href="javascript:reloadForm()">Cancel</a>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="{{ asset('bundles/app/js/jscolor/jscolor.js') }}"></script>
<script language="javascript">
var DEFAULT_INPUT_SIZE = 12;
var itemId = 0;
var isDoneTask = checkTask("evalformat", "{{ "evalformat" | trans }}");

jscolor.init();

//init the type menu and ranges
var ranges = "[]";
{% if app.session.get('project')['ranges'] is defined and app.session.get('project')['ranges'] != "" %}
    ranges = {{ app.session.get('project')['ranges']|json_encode|raw }};
{% endif %}

var json = jQuery.parseJSON(ranges);
var unsaved = false;
window.onbeforeunload = function() {
    if (unsaved) {
        return "You have unsaved changes on this page!";
    }
};

$( "#dataTable" ).on( "keyup", ":input", function( event ) {
    event.preventDefault();
    unsaved = true;
    $(this).attr('size', $(this).val().length+2);
    $('#save').attr("disabled", false);
    //alert($(this).val());
});
//$("body").on("input propertychange",function(){
$( "body" ).on( "change", ":input", function( event ) {
    unsaved = true;
    $('#save').attr("disabled", false);
});


var evtype = "{{ app.session.get('project')['type'] }}";
if (evtype != "") {
    $('#type').val(evtype);
    if (evtype == "ranking") {
        $('#howmanytargets').show();
        $('#targets').attr("disabled", true).val(json.length);
    } else {
        for (var i in json) {
            addRow(evtype, json[i].val, json[i].label, json[i].color);
        }
    }
}
$('#requiref')[0].checked = {{ app.session.get('project')['requiref'] }};
$('#save').attr("disabled", true);


//FUNCTIONS
function initRanges() {
    itemId = 0;
    unsaved = true;
    $('#dataTable').html("");
    $('#howmanytargets').hide();
    $('#save').attr("disabled", true);
    var seltype = $('#type').val();
    if (seltype != "") {
        if (seltype == "ranking") {
            $('#howmanytargets').show();
            $('#save').attr("disabled", false);
        } else if (seltype == "binary") {
            addRow(seltype);
            addRow(seltype);
        } else if (seltype == "scale") {
            addRow(seltype);
        } else if (seltype == "tree") {
            var DEFAULT_TREE_RANGES="[{\"color\": \"FFFFFF\",\"label\": \"Is source segment OK?\", \"val\": 1},{\"color\": \"FFFFFF\",\"label\": \"Is all information preserved?\", \"val\": 2},{\"color\": \"FFFFFF\",\"label\": \"Is main noun (phrase) identifying item translated correctly?\", \"val\": 3},{\"color\": \"FFFFFF\",\"label\": \"Is the translation alone easy to read and understand?\", \"val\": 4},{\"color\": \"FFFFFF\",\"label\": \"Are brand names correctly translated?\", \"val\": 5}]";
            var json = jQuery.parseJSON(DEFAULT_TREE_RANGES);
            for (var i in json) {
                addRow(seltype, json[i].val, json[i].label, json[i].color);
            }
        }
    }
}

function saveRanges() {
    unsaved = false;
    var seltype = $("#type").val();
    if (seltype != "") {
        evaldata = "";
        if (seltype == "ranking") {
            var targetNum = parseInt($("#targets").val()) || 0;
            if (targetNum >= 2) {
                var json = [];
                for (var i = 1; i <= targetNum; i++) {
                    var sup = "th";
                    if (i == 1) {
                        sup = "st";
                    } else if (i == 2) {
                        sup = "nd";
                    } else if (i == 3) {
                        sup = "rd";
                    }
                    json.push({"val": i, "label": i + "<sup>" + sup + "</sup>", "color": ""});
                }
                evaldata = JSON.stringify(json);
            }
        } else {
            evaldata = getRanges();
        }
        if (evaldata != "[]") {
            $("#ranges").val(evaldata);
            //$("#form").submit();
        } else {
            notify("Warning! Some information is missed.","warning");
        }
    } else {
        notify("An evaluation type must be selected!","warning");
        return false;
    }
}

function getRanges() {
    var jsonRanges = "";
    var table = document.getElementById("dataTable");
    if (table != null) {
        var rowCount = table.rows.length;
        if (rowCount > 0) {
            var colCount = table.rows[0].cells.length;
            //	var arrayVal = new Array(rowCount);
            for (var x = 1; x < rowCount; x++) {
                var item = "";
                for (var y = 2; y < colCount; y++) {
                    var val = table.rows[x].cells[y].childNodes[0].value;
                    if (typeof val == 'undefined') {
                        val = table.rows[x].cells[y].childNodes[1].value;
                        if (typeof val == 'undefined') {
                            val = "";
                        }
                    }
                    val = val.trim();
                    if (y == 2) {
                        if (val == "") {
                            val = "EEEEEE";
                        }
                        item += '{"color": "' + val + '",';
                    } else if (y == 3) {
                        if (val == "") {
                            item = "";
                            break;
                        }
                        item += '"label": ' + JSON.stringify(String(val)) + ', "val": ' +x+'}';
                    }
                }
                if (item != "") {
                    if (jsonRanges != "")
                        jsonRanges += ",";
                    jsonRanges += item;
                }
            }
        }
    }
    return "[" + jsonRanges + "]";
}


/*function send(form) {
    jsonRanges = getRanges(false);
    form.ranges.value = jsonRanges;
    form.update.value = "yes";
    form.submit();
}*/

//add row (after the position of elID row, at the end of the table otherwise)
function addRow(type, elID, label, color, answer) {
    var table = document.getElementById("dataTable");
    var rowPosition = table.rows.length;
    var row;
    if (rowPosition == 0) {
        //itemId=0;
        //create the header
        row = table.insertRow(0);
        row.id = "item0";
        row.insertCell(0);
        row.insertCell(1);
        if (type == "tree") {
            row.insertCell(2);
            row.insertCell(3).innerHTML = "Questions";
        } else {
            row.insertCell(2).innerHTML = "Color";
            row.insertCell(3).innerHTML = "Label";
        }
        rowPosition++;
    } else {
        //trovo la posizione dell'elemento elID
        if (elID != null) {
            for (var i = 0; i < rowPosition; i++) {
                var currRow = table.rows[i];
                if (null != currRow && currRow.id == "item" + elID) {
                    rowPosition = i + 1;
                    break;
                }
            }
        }
    }
    itemId++;
    row = table.insertRow(rowPosition);
    row.id = "item"+itemId;

    // add/del buttons
    row.insertCell(0);
    var cell0 = row.insertCell(1);
    if (type != "binary") {
        // add "set constrains" button and Q... label
        if (type == "tree") {
            qLabel = document.createElement("span");
            qLabel.className = "main pull-right";
            qLabel.innerText = " Q" + itemId + ": ";
            cell0.appendChild(qLabel);
        } else if (!isDoneTask) {
            var addButton = document.createElement("a");
            var icon = document.createElement("i");
            icon.className = "fa fa-plus-circle pull-left";
            addButton.href = "javascript:addRow('" + type + "','" + itemId + "','','','','" + icon.innerText + "')";
            addButton.appendChild(icon);
            cell0.appendChild(addButton);

            if (table.rows.length > 2) {
                var delButton = document.createElement("a");
                delButton.href = "javascript:delRow('" + itemId + "')";
                icon = document.createElement("i");
                icon.className = "fa fa-times pull-left";
                delButton.appendChild(icon);
                cell0.appendChild(delButton);
            }
        }
    }

    //color field
    var cell1 = row.insertCell(2);
    var element1 = document.createElement("input");
    if (type == "tree") {
        element1.setAttribute("type","hidden");
        cell1.appendChild(element1);
    } else {
        element1.className = "color";
        element1.name = "color[]";
        element1.size = 8;
        if (color != null && color != '') {
            element1.value = color;
        }
        if (isDoneTask) {
            element1.disabled = true;
        } else {
            element1.style.cursor = "pointer";
        }
        cell1.appendChild(element1);
        jscolor.init();
    }

    //text field
    var cell2 = row.insertCell(3);
    if (answer != null && answer != '') {
        cell2.innerText = answer+ "&nbsp;";
    }
    cell2.style.top = 0;
    cell2.style.marginTop = 0;
    cell2.style.paddingTop = 0;

    var element2 = document.createElement("input");
    element2.type = "text";
    element2.required ="required";
    element2.autocomplete = "off";
    element2.className = "resizeinput pull-left";
    element2.name = "txt[]";
    if (label != null && label != '') {
        element2.size = label.length + 2;
        element2.value = label;
    } else {
        element2.size = DEFAULT_INPUT_SIZE;
        element2.value = "";
    }
    if (isDoneTask) {
        element2.disabled = true;
    }
    cell2.appendChild(element2);

    // add "action"
    /*if (type == "tree") {
        setButton = document.createElement("a");
        setButton.href = "javascript:addAction('" + itemId + "')";
        setButton.className = "btn btn-success btn-xs pull-right";
        setButton.innerText = "add action";
        cell2.appendChild(setButton);
    }*/
    $('#save').attr("disabled", false);
}

//remove row
function delRow(elID) {
    var table = document.getElementById("dataTable");
    var rowPosition = table.rows.length;
    //trovo la posizione dell'elemento
    if (elID != null) {
        for(var i=0; i<rowPosition; i++) {
            var row = table.rows[i];
            if(null != row && row.id == "item"+elID) {
                table.deleteRow(i);
                $('#save').attr("disabled", false);
                break;
            }
        }
    }
}

function addAction (elemId) {
    var table = document.getElementById("dataTable");
    qCount = 0;
    if (table != null) {
        var qCount = table.rows.length;
    }

    //Create array of options to be added
    var arrayAction = ["show", "hide"];
    var decisionOptions = ["Yes","No","N/A"];

    var div = document.createElement("div");
    var t1 = document.createElement("span");
    t1.innerText = "if select ";
    div.appendChild(t1);

    //Create a select list
    var selectList1 = document.createElement("select");
    selectList1.id = "answer";
    div.appendChild(selectList1);
    //Append the options
    for (var i = 0; i < decisionOptions.length; i++) {
        var option = document.createElement("option");
        option.value = decisionOptions[i];
        option.text = decisionOptions[i];
        selectList1.appendChild(option);
    }

    var t2 = document.createElement("span");
    t2.innerText = " on Q"+elemId +" then ";
    div.appendChild(t2);

    //Create a select list
    var selectList2 = document.createElement("select");
    selectList2.id = "answer2";
    div.appendChild(selectList2);

    //Append the options
    for (var i = 0; i < arrayAction.length; i++) {
        var option = document.createElement("option");
        option.value = arrayAction[i];
        option.text = arrayAction[i] + " to";
        selectList2.appendChild(option);
    }
    for (var i = 0; i < decisionOptions.length; i++) {
        var option = document.createElement("option");
        option.value = decisionOptions[i];
        option.text = "set "+ decisionOptions[i]+ " to";
        selectList2.appendChild(option);
    }

    var t3 = document.createElement("span");
    t3.innerText = " the ";
    div.appendChild(t3);

    //Create a select list
    var targetList = document.createElement("select");
    targetList.id = "target";
    div.appendChild(targetList);
    for (var i = 1; i < qCount; i++) {
        var option = document.createElement("option");
        option.value = i;
        option.text = "Q"+ i;
        targetList.appendChild(option);
    }


    var setButton = document.createElement("a");
    setButton.className = "btn btn-primary main btn-xs";
    setButton.innerText = "Add";
    div.appendChild(setButton);

    var setCancel = document.createElement("a");
    setCancel.className = "btn btn-warning btn-xs";
    setCancel.innerText = "Cancel";
    setCancel.href = "javascript:resetAction();";

    div.appendChild(setCancel);

    var actions = document.getElementById("actions");
    actions.innerText = "";
    actions.appendChild(div);
}

function resetAction() {
    var actions = document.getElementById("actions");
    actions.innerHTML = "";
}

function reloadForm() {
    unsaved = false;
    window.location.reload();
}

//get task info
{% if "owner" in app.session.get('project')["roles"] %}
    if (!isDoneTask && $("#type").val() == "ranking") {
        var targetNum = parseInt($("#targets").val()) || 0;

        $(function() {
            $("#targets").spinner({
                min: 2,
                step: 1,
                start: 2,
                numberFormat: "n",
                spin: function (event, ui) {
                    unsaved = true;
                    $(this).spinner('value', parseInt($(this).spinner('value'),10) || 2);
                    $('#save').attr("disabled", false);
                }
            });
        });
    }
{% endif %}


$('#archive').click(function(){
    $('#archive').popModal({
        asMenu: true,
        overflowContent: false,
        html : function(callback) {
            $.ajax({
                url: "{{ path('api_project_document') }}",
                data: {type: "evalformat"}
            }).done(function(json){
                if (json.length == 0) {
                    callback("&nbsp;No evaluation format found!");
                } else {
                    var content = "<div class='main'>Use an existing format:<ul class='scrollable-menu'>";
                    var format = "";
                    for (var i in json) {
                        if (format != json[i].format) {
                            format = json[i].format;
                            content += "<span class='btn-info btn-xs centered'>"+format+"</span><br>";
                        }
                        content += "<li class='nowrap'><a href=\"javascript:importDocument("+json[i].id+",'evalformat');\">" + json[i].url + " <span class='badge' title='this format is used in "+json[i].used+" projects'>" + json[i].used + "</span></a></li>";
                    }
                    content += "</ul></div>";
                    callback(content);
                }
            });
        }
    });
});
</script>
{% else %}
    {% include 'exception/invalid.twig' %}
{% endif %}
