
<table class="table">
    {% if "owner" in app.session.get('project')["roles"]
        or "admin" in app.session.get('project')["roles"] %}
    <tr><td>
        <label>Original files:</label>
        </td>
        <td><a type="button" class="btn btn-default" href="{{ path('corpus_download') }}" aria-expanded="false">
        {# <a type="button" class="btn btn-default" href="javascript:downloadOrig();" aria-expanded="false"> #}
            <i class="fa fa-download"></i>
            Download
        </a></td>
    </tr>
    {% endif %}

    <tr><td>
        <label>Evaluation format:</label>
        </td>
        <td><div class="export btn-group">
                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                    <i class="fa fa-download"></i> Download <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a class="button" href="{{ path('evalformat_export') }}?format=html">HTML</a>
                    <li><a class="button" href="{{ path('evalformat_export') }}?format=json">JSON</a>
                </ul>
            </div>

    </tr>

    <tr>
        <td>
            <label>Guidelines:</label>
        </td>
        <td><div class="export btn-group">
                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                    <i class="fa fa-download"></i> Download <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a class="button" href="{{ path('guidelines_export') }}?format=html">HTML</a>
                    <li><a class="button" href="{{ path('guidelines_export') }}?format=json">JSON</a>
                </ul>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <label>Evaluation data:</label>
        </td>
        <td><div class="export btn-group">
            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                <i class="fa fa-download"></i> Download <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a class="button" href="javascript:dataExport('csv');">CSV</a>
                <li><a class="button" href="javascript:dataExport('json');">JSON</a>
                {# <li data-type="csv"><a href="{{ path('evaluation_export') }}?format=csv">CSV</a></li>
                <li data-type="csv"><a href="javascript:dataExport('csv')">CSV</a></li>
                <li data-type="json"><a href="javascript:dataExport('json')" disabled>JSON</a></li>
                <li data-type="xml"><a href="javascript:dataExport('xml')" disabled>XML</a></li> #}
            </ul>
        </div>
        </td>
    </tr>
</table>

<div id="report" class="content"></div>
<script>
    function dataExport (format) {
        $.ajax({
            url: "{{ path('evaluation_export') }}",
            data: {"format": format},
            type: 'GET',
            dataType: 'text',
            async: false,
            cache: false,
            crossDomain: false,
            success: function (content) {
                //console.log(content);
                $("#report").html("");
                //if (format == "json") {
                    //content = csvJSON(content);
                //}
                var a = document.createElement("a");
                document.body.appendChild(a);
                a.style = "display: none";

                var blob = new Blob([content], {type: "application/excel;charset=utf-8"}),
                    url = window.URL.createObjectURL(blob);
                a.href = url;
                a.download = "data."+format;
                a.click();
                setTimeout(function(){
                    document.body.removeChild(a);
                    window.URL.revokeObjectURL(url);
                }, 100);

                //notify("The data has been successfully exported !" + url,"success");
            },
            error: function(xhr, status, error) {
                mess = xhr.responseText;
                messtype = "warning";
                if (mess == "") {
                    mess = "ERROR! Sorry an unexpected error occurred during the data export!";
                    messtype = "error";
                }
                //$("#report").html("<code>"+mess+"</code>");
                notify(mess, messtype);
            }
        });
    }

    //var csv is the CSV file with headers
    function csvJSON(csv){
        var lines=csv.split("\n");
        var result = [];

        var headers=lines[0].split(",");
        for(var i=1;i<lines.length;i++){
            if (!/^\s*$/.test(lines[i])) {
                var obj = {};
                var currentline = CSVtoArray(lines[i]);

                for (var j = 0; j < headers.length; j++) {
                    obj[headers[j]] = currentline[j];
                }
                result.push(obj);
            }
        }

        //return result; //JavaScript object
        return JSON.stringify(result); //JSON
    }

    // Return array of string values, or NULL if CSV string not well formed.
    function CSVtoArray(text) {
        var re_valid = /^\s*(?:'[^'\\]*(?:\\[\S\s][^'\\]*)*'|"[^"\\]*(?:\\[\S\s][^"\\]*)*"|[^,'"\s\\]*(?:\s+[^,'"\s\\]+)*)\s*(?:,\s*(?:'[^'\\]*(?:\\[\S\s][^'\\]*)*'|"[^"\\]*(?:\\[\S\s][^"\\]*)*"|[^,'"\s\\]*(?:\s+[^,'"\s\\]+)*)\s*)*$/;
        var re_value = /(?!\s*$)\s*(?:'([^'\\]*(?:\\[\S\s][^'\\]*)*)'|"([^"\\]*(?:\\[\S\s][^"\\]*)*)"|([^,'"\s\\]*(?:\s+[^,'"\s\\]+)*))\s*(?:,|$)/g;
        // Return NULL if input string is not well formed CSV string.
        if (!re_valid.test(text)) return null;
        var a = [];                     // Initialize array to receive values.
        text.replace(re_value, // "Walk" the string using replace with callback.
                function(m0, m1, m2, m3) {
                    // Remove backslash from \' in single quoted values.
                    if      (m1 !== undefined) a.push(m1.replace(/\\'/g, "'"));
                    // Remove backslash from \" in double quoted values.
                    else if (m2 !== undefined) a.push(m2.replace(/\\"/g, '"'));
                    else if (m3 !== undefined) a.push(m3);
                    return ''; // Return empty string.
                });
        // Handle special case of empty last value.
        if (/,\s*$/.test(text)) a.push('');
        return a;
    };

</script>