<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/css/jquery.fileupload.css') }}" />
<!-- The basic File Upload plugin -->
<script type="text/javascript" src="{{ asset('bundles/app/js/jquery.fileupload.js') }}" ></script>
<script type="text/javascript" src="{{ asset('bundles/app/js/nicEdit/nicEdit.js') }}" ></script>
<script type="text/javascript" src="{{ asset('bundles/app/js/jquery.are-you-sure.js') }}" ></script>

{% if "admin" in app.session.get('project')["roles"]
or "owner" in app.session.get('project')["roles"]
%}
<div class="main">
    <div class="row" id="import-report"></div>
    <form id="form" class="form-horizontal cardgrey" action="{{ path("project_update") }}" method="POST">
        <input type=hidden name="id" value="{{ app.session.get('project')["id"] }}">
        <input type=hidden name="view" value="{{ view }}">
        <input type=hidden name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="container-fluid larger">
            <div class="pull-right relief">
                {% set archiveLabel = "" %}
                {% if app.session.get('project')["guidelines"] != "" %}
                    {% if app.session.get('project')["guidelines"] == app.session.get('project')["name"] %}
                        {% set archiveLabel = "Archived as <label>" ~ app.session.get('project')["guidelines"] ~ "</label> guidelines</code>" %}
                    {% else %}
                        {% set archiveLabel = "<code>based on <label>" ~ app.session.get('project')["guidelines"] ~ "</label> template</code>" %}
                    {% endif %}
                {% endif %}

                <div class="top-right pull-right main">
                    {{ archiveLabel | raw }}
                    <span id="archivedoc" style="display: none">
                        {% if archiveLabel == "" %}
                            Import guidelines
                        {% endif %}
                            <a class='btn navbar-btn round' id="archive" href="#"><i class="fa fa-ellipsis-h"></i></a>
                    </span>
                </div>
            </div>
        </div>
        <div class="main">
            <label>Project specifications:</label>
             <p>
                <input type="checkbox" id="randout" /> Randomize target presentation order
            </p>
            <p>
                <input type="checkbox" id="blindrev" /> Keep evaluators anonymous
            </p>
            <p>
                <input type="checkbox" id="checkmaxdontknow" name="checkmaxdontknow" onclick="initDontKnow();" />
                Alert when <input id="maxdontknow" name="maxdontknow" size=3 style="text-align: right"> "don't know" answers are reached
            </p>

            {#<p>
                <input type="checkbox" id="sentlist" name="sentlist" /> Enable evaluators to reexamine evaluation
            </p>#}
            <p>
                {% if countIntraEvals > 0 %}
                    <code data-toggle='tooltip' data-placement='right' title='WARNING! Some intra-annotator evaluations have done, so if you change this setting some of them could be removed'><i class="fa fa-warning"></i></code>
                    <span data-toggle='tooltip' data-placement='top' title='WARNING! Some intra-annotator evaluations have done, so if you change this setting some of them could be removed'>
                {% endif %}
                <input type="checkbox" id="checkintragree" name="checkintragree" onclick="initIntraAgree();"/>

                Calculate intra-annotator agreement:
                <input id="intragree" name="intragree" size=3 style="text-align: right"><b>%</b> of TUs to be evaluated twice by the evaluator
                {% if countIntraEvals > 0 %}
                    </span>
                {% endif %}
            </p>

            <p>
                {% if countEvals > 0 %}
                    <code data-toggle='tooltip' data-placement='right' title='WARNING! Some evaluations have done, so if you change this setting some of them could be removed'><i class="fa fa-warning"></i></code>
                    <span data-toggle='tooltip' data-placement='top' title='WARNING! Some evaluations have done, so if you change this setting some of them could be removed'>
                {% endif %}
                <input type="checkbox" id="checkpooling" name="checkpooling" onclick="initPooling();"/>
                Apply pooling algorithm:
                <select id="pooling" name="pooling" data-width="fit">
                    <option value="">none</option>
                    <option value='exact'>Exact matching (case sensitive)</option>
                    <option value='exactins'>Exact matching (case insensitive)</option>
                    <option value='bowins'>Bag of words (all words, case insensitive)</option>
                </select>
                {% if countEvals > 0 %}
                    </span>
                {% endif %}
            </p>
        </div>
        <hr>
        <div id="annotationguide">
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <td nowrap>
                        <div id="upfilediv" class="main">
                            <label style="padding-bottom: 8px">Write instructions for evaluators or </label>
                            <span class="btn btn-success btn-xs fileinput-button inline">
                                <label>upload a plain text or HTML file</label>
                                <!-- The file input field used as target for the file upload widget -->
                                <input id="fileupload" type="file" name="upfile" multiple="false">
                            </span>
                        </div>
                    </td>

                </tr>
            </table>
        </div>
        <div class="main" style="padding-bottom: 130px">
            <div id="guidelines" style="margin-bottom: 5px; background: #fff">
                <textarea id="instructions" name="instructions" style="width: 100%;" rows="10" autofocus>{{ app.session.get('project')["instructions"] |raw }}</textarea>
            </div>
            <div id="controls">
                <button onclick="saveForm();" id="save" class="btn btn-primary" disabled>Save</button>
                <a class="btn" id="cancel" href="javascript:reloadForm()">Cancel</a>
            </div>
        </div>
    </form>

    <div class="navbar-fixed-bottom">
        <div id="fileQueue" class="pull-right" style="max-height: 200px"></div>
    </div>
</div>



<script type="text/javascript">
    $('#randout')[0].checked = {{ app.session.get('project')['randout'] }};
    $('#blindrev')[0].checked = {{ app.session.get('project')['blindrev'] }};

    {% if app.session.get('project')['maxdontknow'] > 0 %}
        $('#checkmaxdontknow')[0].checked = 1;
        $('#maxdontknow').val({{ app.session.get('project')['maxdontknow'] }});
    {% endif %}
    $('#maxdontknow').attr("disabled", true);

    {% if app.session.get('project')['intragree'] > 0 %}
        $('#checkintragree')[0].checked = 1;
        $('#intragree').val({{ app.session.get('project')['intragree'] }});
    {% endif %}
    $('#intragree').attr("disabled", true);


    {% if app.session.get('project')['pooling'] != "" %}
        $('#checkpooling')[0].checked = 1;
        $('select[name=pooling]').val("{{ app.session.get('project')['pooling'] }}");
        //$('select[name=pooling]').selectpicker('val', "{{ app.session.get('project')['pooling'] }}");
    {% else %}
        $('#pooling').attr("disabled", true);
    {% endif %}

    var instructions = new nicEditor({iconsPath : '{{ asset('bundles/app/js/nicEdit/nicEditorIcons.gif') }}',
        buttonList : ['save','bold','italic','underline','left','center','right','justify','ol','ul','fontSize','fontFamily','fontFormat','indent','outdent','image','link','unlink','forecolor','bgcolor']}).panelInstance('instructions',{hasPanel : true});

    var nicInstance = nicEditors.findEditor('instructions');

    window.onbeforeunload = function() {
        if (unsaved) {
            return "You have unsaved changes on this page!";
        }
    };
    $("div.nicEdit-main").keyup(function () {
        unsaved = true;
        $('#save').attr("disabled", false);
    })

    $(':input').change(function(){ //triggers change in all input fields
        unsaved = true;
        $('#save').attr("disabled", false);
    });
    $('#save').attr("disabled", true);


    $(function () {
        $('#fileupload').fileupload({
            url: '{{ path('api_file_content') }}',
            //dataType: 'json',
            //acceptFileTypes: /(\.|\/)(txt|html?)$/i,
            maxFileSize: 999000,
            success: function (json) {
                data = jQuery.parseJSON(json);
                //nicInstance.setContent(nicInstance.getContent() + data.instructions);
                if (data.success) {
                    nicInstance.setContent(data.content);
                    notify(data.message, "success");
                } else {
                    alertify.alert("", data.message);
                }
            }
        }).on('fileuploadfail', function (e, data) {
            alertify.alert("","The uploading is failed because the file is not valid.");
        }).on('fileuploadprogressall', function (e, data) {
            $('#import-report').html("");
        });
    });


    /*
    $(window).bind('beforeunload', function(e) {
        e.preventDefault();
        e.stopPropagation();
        var prev_instr = "<br>" + $('#instructions').val();
        var instr = "";
        var nicInstance = nicEditors.findEditor('instructions');
        if (nicInstance) {
            instr = nicInstance.getContent();
        }

        //alert(prev_instr.length + "\n{" +prev_instr + "}\n-------------\n"+ instr.length + "\n{" +instr +"}");
        if (prev_instr != instr) {
            var confirm = alertify.confirm('', 'Do you really want to remove this user from the project?', null, null).set('labels', {
                cancel: 'Cancel',
                ok: 'OK'
            });
            confirm.set('onok', function () { //callback to OK button
                window.open("{{ path('admin') }}", "_self");
                //alertify.success('Removing user roles');
            });
        }
    });
     */

    if (!checkTask("guidelines", "{{ "guidelines" | trans }}")) {
        $(function() {
            $("#maxdontknow").spinner({
                min: 1,
                max: 100,
                step: 1,
                start: 0,
                numberFormat: "n",
                spin: function (event, ui) {
                    unsaved = true;
                    var num = parseInt($(this).spinner('value'), 10) || 0;
                    if (num+1 > 0) {
                        $('#checkmaxdontknow')[0].checked = 1;
                        $(this).attr("disabled", false);
                    } else {
                        $('#checkmaxdontknow')[0].checked = 0;
                        $(this).attr("disabled", true);
                    }
                    $('#save').attr("disabled", false);
                }
            });

            $("#intragree").spinner({
                min: 1,
                max: 100,
                step: 1,
                start: 0,
                numberFormat: "n",
                spin: function (event, ui) {
                    unsaved = true;
                    var num = parseInt($(this).spinner('value'), 10) || 0;
                    if (num+1 > 0) {
                        $('#checkintragree')[0].checked = 1;
                        $(this).spinner('value', num).attr("disabled", false);
                    } else {
                        $('#checkintragree')[0].checked = 0;
                        $(this).spinner('value', "").attr("disabled", true);
                    }
                    $('#save').attr("disabled", false);
                }
            });
        });
    }

    function saveForm () {
        unsaved = false;
        if (!$("#randout").is(':checked')) {
            $('#form').append('<input type="hidden" name="randout" value="0" />');
        } else {
            $('#form').append('<input type="hidden" name="randout" value="1" />');
        }
        if (!$("#blindrev").is(':checked')) {
            $('#form').append('<input type="hidden" name="blindrev" value="0" />');
        } else {
            $('#form').append('<input type="hidden" name="blindrev" value="1" />');
        }
        $("#form input, #form select, #form button").attr('disabled', false);
        $('#form').submit();
    }

    function reloadForm() {
        unsaved = false;
        window.location.reload();
    }

    function initDontKnow () {
        var checked = $('#checkmaxdontknow').is(':checked');
        if (checked) {
            $('#maxdontknow').val(1).attr("disabled", false);
        } else {
            $('#maxdontknow').val("").attr("disabled", true);
        }
    }

    function initIntraAgree () {
        var checked = $('#checkintragree').is(':checked');
        if (checked) {
            $('#intragree').val(1).attr("disabled", false);
        } else {
            $('#intragree').val("").attr("disabled", true);
        }
    }

    function initPooling () {
        var checked = $('#checkpooling').is(':checked');
        if (checked) {
            $('#pooling').val("").attr("disabled", false);
            //$('select[name=pooling]').attr('disabled', false);
        } else {
            $('#pooling').val("").attr("disabled", true);
        }
    }


    $('#archive').click(function(){
        $('#archive').popModal({
            asMenu: true,
            overflowContent: false,
            html : function(callback) {
                $.ajax({
                    url: "{{ path('api_project_document') }}",
                    data: {type: "guidelines"}
                }).done(function(json){
                    if (json.length == 0) {
                        callback("&nbsp;No guidelines found!");
                    } else {
                        var content = "<div class='main'>Use an existing guidelines:<ul class='scrollable-menu'>";
                        var format = "";
                        for (var i in json) {
                            if (format != json[i].format) {
                                format = json[i].format;
                                content += "<span class='btn-info btn-xs centered'>"+format+"</span><br>";
                            }
                            content += "<li class='nowrap'><a href=\"javascript:importDocument("+json[i].id+",'guidelines');\">" + json[i].url + " <span class='badge' title='this format is used in "+json[i].used+" projects'>" + json[i].used + "</span></a></li>";
                        }
                        content += "</ul></div>";
                        callback(content);
                    }
                });
            }
        });
    });
</script>
{% else %}
    {% include 'exception/invalid.twig' %}
{% endif %}
