<div class="main">
    <div class="form-group bg-header">
        <p></p>
        <p>
            <a href="javascript:deleteProject(this);" class="btn btn-danger">DELETE THIS PROJECT</a>
        </p>
        <p>
            When you delete this project all its data won't be accessible anymore!
        </p>

        {% if annotations | length > 0 and "admin" in app.session.get('project')["roles"]%}
        <hr>
        <p>
            <a href="javascript:deleteEvaluation();" class="btn btn-danger">DELETE ALL EVALUATIONS</a>
            {% for idx, info in annotations %}
                {# <br><button style="color: #fff; cursor: pointer" onclick="javascript:deleteEvaluation('{{ info["user"] }}');">
                    <i class="fa fa-trash-o"></i>
                </button>#}
                <li>
                {% set num = info["num"] %}
                {% transchoice num %}
                    {0} no evaluation
                    |]0,Inf[ <label class="badge">%num%</label>
                {% endtranschoice %}
                by {{ users[info["user"]] }} </li>
            {% endfor %}
        </p>
        <p>
            When you delete evaluations all the data produced by evaluators will be lost!
        </p>
        {% endif %}
    </div>
</div>

<script>
    //Alertify init;
    alertify.defaults.transition = "fade";
    alertify.confirm().setting('modal', true);
    alertify.confirm().setting('defaultFocus', 'cancel');
    //alertify.confirm().setting('reverseButtons', true);

    function deleteEvaluation(userid) {
        var mesg = "Do you really want to remove ALL evaluations?";
        if (userid) {
            mesg = "Do you really want to remove the evaluations of this user?";
        }
        var confirm = alertify.confirm('', "<span style='color: red'>ATTENTION!</span> "+mesg, null, null).set('labels', {
            cancel: 'Cancel',
            ok: 'OK'
        });
        confirm.set('onok', function () { //callback to OK button
            window.open("{{ path('api_evaluations_delete') }}?userid="+userid, "_self");
            //alertify.success('Removing user roles');
        });
    }


    function deleteProject(submit) {
        var confirm = alertify.confirm('', "<span style='color: red'>ATTENTION!</span> Do you really want to REMOVE this project?", null, null).set('labels', {
            cancel: 'Cancel',
            ok: 'OK'
        });
        confirm.set('onok', function () { //callback to OK button
            window.open("{{ path('delete_project') }}", "_self");
            //alertify.success('Removing user roles');
        });
    }
</script>
