<div class="main">
    <form class="form-horizontal cardgrey" action="{{path('app_user_invite')}}" method="GET" autocomplete="on">
        <input type=hidden name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div class="ui-widget larger">
                Search a user by <input id="search" name="search" required="required" size="25" placeholder="username or email" value="" onkeyup="checkUser()">
                and <select id="byrole" name="byrole" class="selectpicker" data-width="fit" onchange="checkUser()"></select> role
            <input type="submit" id="add" class="btn btn-small" value="Add">
        </div>
        <div id="matchedUser"></div>
    </form>

    <div style="max-width: 100px; height: 100%">
        <table class="table table-condensed" id="users"></table>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>

<style>
    .ui-autocomplete {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        float: left;
        max-height: 200px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
        *border-right-width: 2px;
        *border-bottom-width: 2px;
    }
    /* IE 6 doesn't support max-height
     * we use height instead, but this forces the menu to always be this tall
     */
    * html .ui-autocomplete {
        height: 200px;
    }
</style>
<script>
    //enable the add button if and only if an username or email belongs to a registered user
    $('#search').autocomplete({
        source: []
    });
    $("#add").prop( "disabled", true );

    var roletypes = [];
    $.ajax({
        type: 'GET',
        url: "{{ path('api_roletype_report') }}",
        async: false,
        cache: false,
        success: function (json) {
            roletypes = json;
            var menu = '<option value="">any</option>';
            for (var i in json) {
                if (json[i].name != "owner" && json[i].name != "admin") {
                    menu += '<option value="' +json[i].name+ '">' + json[i].name + '</option>\n';
                }
            }
            $("#byrole").html(menu);
        },
        error: function (response, xhr, err) {
            alertify.alert("No role available!");
        }
    });

    $.ajax({
        type: "GET",
        url: "{{ path('project_users') }}",
        cache: false,
        beforeSend: function () {
            $("#users").html("<img src=\"{{ asset('bundles/app/img/loading.gif') }}\" alt='Loading...' width='16' />");
        },
        success: function (data) {
            var users = "";
            var curr_username = "";
            var curr_userid = "";
            var status_roles = {};

            var roles = data["roles"];
            for (var i in roles) {
                if (curr_userid != roles[i].id) {
                    if (curr_userid != "") {
                        users += renderUserRole(curr_userid, curr_username, status_roles, roletypes, data["myroles"], data["disableinvitation"]);
                    }
                    status_roles = {};
                    curr_userid = roles[i].id;
                    curr_username = roles[i].username;

                }
                status_roles[roles[i].role] = [roles[i].status, data["users"][roles[i].inviter]];
            }
            users += renderUserRole(curr_userid, curr_username, status_roles, roletypes, data["myroles"], data["disableinvitation"]);
            $("#users").html("<tbody>"+users+"</tbody>");
        },
        error: function (response, xhr, err) {
            $("#users").html("ERROR! " + err);
        }
    });

    //Alertify init;
    alertify.defaults.transition = "fade";
    alertify.confirm().setting('modal', true);
    alertify.confirm().setting('defaultFocus', 'cancel');
    //alertify.confirm().setting('reverseButtons', false);

    function removeUser (userid) {
        var confirm = alertify.confirm('','Do you really want to remove this user from the project?',null,null).set('labels', {cancel:'Cancel', ok:'OK'});
        confirm.set('onok', function(){ //callback to OK button
            $("#remove_"+userid).append("<img src=\"{{ asset('bundles/app/img/loading.gif') }}\" alt='Loading...' width='16' />");
            window.open("{{ path('app_user_revokeall') }}?userid="+userid+"&_csrf_token={{ csrf_token('authenticate') }}", "_self");
            //alertify.success('Removing user roles');
        });
        /*confirm.set('oncancel', function(){ //callback
         alertify.error('All roles from the user have been removed.');
         });*/
    }

    function renderUserRole (curr_userid, curr_username, status_roles, roletypes, myroles, disableinvitation) {
        var btn_class = "btn btn-mte-invite nowrap block";
        var is_owner = 0;
        var user_title = "";
        var active_roles = 0;
        var userLabel = curr_username;
        var inviterLabel = "";
        var removeButton = "";
        if ("owner" in status_roles) {
            is_owner = 1;
            user_title = "owner";
        }
        if (is_owner != 1 && curr_userid == "{{ app.session.get('mysession')['userid'] }}") {
            userLabel = "YOU";
            if ("vendor" in status_roles) {
                if (status_roles["vendor"][0] == "accepted") {
                    user_title = "vendor";
                    inviterLabel = "<br><small><i>by</i> " + status_roles["vendor"][1] + "</small>";
                }
            }
        }
        if (is_owner == 1) {
            userLabel += "&nbsp; (<label><code>owner</code></label>)";
        }
        if (user_title != "" && is_owner == 0) {
            userLabel += " <i>("+ user_title +")</i>";
            if (inviterLabel != "") {
                userLabel += inviterLabel;
            }
        }

        var roles = "<th class='nowrap'><i class='fa fa-user'></i> "+userLabel+ "</th>";
        for (var r in roletypes) {
            if (roletypes[r].name != "owner") {
                var btnClass = btn_class;
                var btnTitle = "";
                var btnLabel = roletypes[r].name;

                inviterLabel = "";
                if (roletypes[r].name in status_roles) {
                    if (status_roles[roletypes[r].name][0] == "accepted") {
                    	active_roles++;
                        btnClass += " btn-success";
                        btnTitle = "Click to revoke this invitation";
                    } else if (status_roles[roletypes[r].name][0] == "revoked") {
                        btnClass += " btn-danger";
                        btnTitle = "Click to send an invitation as " + roletypes[r].name;
                    } else if (status_roles[roletypes[r].name][0] == "declined") {
                        btnClass += " btn-danger";
                        btnLabel += " <i class='fa fa-info-circle' data-toggle='tooltip' data-placement='right' title='The user already declined once the invitation to this role'></i>";
                        btnTitle = "Click to send an invitation as " + roletypes[r].name;
                    } else if (status_roles[roletypes[r].name][0] == "pending") {
                        active_roles++;
                        btnClass += " btn-warning";
                        btnTitle = "Click to revoke this invitation";
                    }
                    if (status_roles[roletypes[r].name][1] != curr_username && status_roles[roletypes[r].name][1] !== undefined) {
                        inviterLabel += "<br><small><i>by</i> " + status_roles[roletypes[r].name][1] + "</small>";
                    }
                } else {
                    btnClass += " btn-default";
                    if (curr_userid == "{{ app.session.get('mysession')['userid'] }}") {
                        btnTitle = "Click to assign the role " + roletypes[r].name + " to me";
                    } else {
                        btnTitle = "Click to send an invitation as " + roletypes[r].name;
                    }
                }

                // (completed_tasks[roletypes[r].name + "_invitation"] == 1) ||
                //(roletypes[r].name == "admin" && completed_tasks["admin_invitation"] == 1) ||
                //(completed_tasks["check_corpus"] == 0 && roletypes[r].name != "admin")
                if (roletypes[r].name != "admin") {
                    if (disableinvitation) {
                        btnClass += " disabled";
                        btnTitle = "This role cannot be assigned because the check corpus is not completed yet";
                    }
                }

                if (myroles.indexOf("admin") >= 0 ||
                        myroles.indexOf("owner") >= 0 ||
                        (myroles.indexOf("vendor") >= 0 &&
                            (roletypes[r].name == "evaluator"))) {
                    //invitation button
                    var buttId = curr_userid + "_" + r;
                    roles += "<td class='nowrap'><div style='display: inline-block;' data-toggle='tooltip' data-placement='bottom' title=\""+btnTitle+"\">";
                    //button label
                    roles += "<a id='" + buttId + "' onClick=\"inviteUser('" + curr_userid + "','" + roletypes[r].name + "','" + buttId + "');\" class='" + btnClass + "'>" + btnLabel + "</a>";
                    roles += inviterLabel + "</div></td>";
                }
            }
        }
        
        if ((myroles.indexOf("owner") >= 0 || myroles.indexOf("admin") >= 0) && !is_owner) {
        	var title = 'remove this user';
            var disabled = '';
            if (active_roles > 0) {
            	disabled = " disabled";
            	title = 'this user cannot be removed because there are some active roles';
            }
            removeButton = "<button id='remove_"+curr_userid+"' onclick=\"removeUser('"+curr_userid+"')\" class='btn btn-default"+disabled+"' data-toggle='tooltip' data-placement='right' title='"+title+"'><i class='fa fa-trash-o'></i></button>";
        }
        
        return "<tr>" + roles + "<td class='nowrap'>" + removeButton + "</td></tr>";
    }

    function inviteUser(userid, role, elId) {
        if ($("#" + elId).hasClass("btn-success") || $("#" + elId).hasClass("btn-warning")) {
            var confirm2 = alertify.confirm("", "Do you really want to revoke this user's role from the project?", null, null).set('labels', {
                cancel: 'Cancel',
                ok: 'OK'
            });
            confirm2.set('onok', function () { //callback to OK button
                requestInvitation(userid, role, elId, "remove", false);
            });
        } else {
            var confirm3 = alertify.confirm("", "Do you want to activate this user's role for the project?", null, null).set('labels', {
                cancel: 'Cancel',
                ok: 'OK'
            });
            confirm3.set('onok', function () { //callback to OK button
                requestInvitation(userid, role, elId, "add", false);
            });
        }
        return false;
    }

    function requestInvitation(userid, role, elId, action, force) {
        var btnLabel = $("#"+elId).text();
        $.ajax({
            type: "GET",
            url: "{{ path('app_user_invite') }}",
            data: {
                "userid": userid,
                "role": role,
                "_csrf_token": "{{ csrf_token('authenticate') }}",
                "force": force
            },
            cache: false,
            beforeSend: function () {
                $("#"+elId).append("<img src=\"{{ asset('bundles/app/img/loading.gif') }}\" alt='Loading...' width='16' />");
            },
            success: function (json) {
                var data = jQuery.parseJSON(json);
                if (data.sentmail !== undefined && data.sentmail != "") {
                    notify("An email has been sent to " + data.sentmail, "success");
                }
                if (data.status) {
                    if (data.status == "userwithevals") {
                        var valtype = "evaluations";
                        if (role == "reviewer") {
                            valtype = "reviews";
                        }
                        var confirm = alertify.confirm("", "<span style='color: red'>WARNING!</span> This user has already got some "+valtype+". Do you really want to remove this user and delete own "+valtype+"?", null, null).set('labels', {
                            cancel: 'Cancel',
                            ok: 'OK'
                        });
                        confirm.set('onok', function () { //callback to OK button
                            requestInvitation(userid, role, elId, action, true);
                        });
                    } else if (data.status == "error") {
                        alertify.alert("", data.message);
                    } else if (data.status == "pending") {
                        $("#" + elId).removeClass("btn-default").removeClass("btn-danger").removeClass("btn-success").addClass("btn-warning");
                        $("#" + elId).attr("title", "Click to revoke this invitation");
                    } else if (data.status == "accepted") {
                        $("#" + elId).removeClass("btn-warning").removeClass("btn-danger").addClass("btn-success");
                        $("#" + elId).attr("title", "Click to revoke this invitation");
                    } else if (data.status == "revoked") {
                        $("#" + elId).removeClass("btn-warning").removeClass("btn-success").addClass("btn-danger");
                        $("#" + elId).attr("title", "Click to send a new invitation");
                    } else {
                        $("#" + elId).removeClass("btn-danger").removeClass("btn-warning").removeClass("btn-success");
                        $("#" + elId).attr("title", "Click to send an invitation");
                    }
                    if (data.refresh) {
                        window.open("{{ path('admin') }}?pid={{ app.session.get('project')["id"] }}&view=settings.access", "_self");
                    } else {
                        refreshProgress();
                    }

                    //check active roles (pending or accepted)
                    var active_roles = 0;
                    for (var r in roletypes) {
                        var btnClasses = $("#" + userid + "_" + r).prop("classList");
                        if (btnClasses !== undefined) {
                            btnClasses = btnClasses.toString();
                            if (btnClasses.indexOf("btn-success") >= 0 || btnClasses.indexOf("btn-warning") >= 0) {
                                active_roles = 1;
                                break;
                            }
                        }
                    }

                    if (active_roles == 1) {
                        $("#remove_" + userid).prop("disabled", true);
                    } else {
                        $("#remove_" + userid).prop("disabled", false);
                    }
                }
                $("#" + elId).html(btnLabel);
            },
            error: function () {
                notify("Sorry! An error occurred on the server.", 'error');
                $("#" + elId).html(btnLabel);
            }
        });
    }

    function refreshProgress() {
        $.ajax({
            url: "{{ path('project_monitor') }}",
            type: 'GET',
            async: true,
            cache: false,
            crossDomain: false,
            beforeSend: function () {
                $("#projectMonitor").html("<br><img class='pull-right' src=\"{{ asset('bundles/app/img/loading.gif') }}\" alt='Loading...' width='16' />");
            },
            success: function (html) {
                $("#projectMonitor").html(html);
            }
        });
    }

    function getType(obj) {
        if(obj && obj.constructor && obj.constructor.name) {
            return obj.constructor.name;
        }
        return Object.prototype.toString.call(obj).slice(8, -1).toLowerCase();
    }

    function checkUser() {
        $("#add").prop("disabled", true ).removeClass("btn-primary");

        var search = $('#search').val().trim();
        var role = $('#byrole').val().trim();
        if ((search + role).length > 0) {
            $.ajax({
                type: "GET",
                url: "{{ path('api_user_find') }}",
                data: {search: search, role: role},
                cache: false,
                beforeSend: function () {
                    $("#log").html("...searching");
                    setTimeout('$("#log").html("")',3000);
                },
                success: function (json) {
                    var data = [];
                    for (var i in json) {
                        data.push(json[i].username);
                    }
                    if (data.length == 0) {
                        $('#matchedUser').html("<code>0 match</code>");
                    } else {
                        $('#matchedUser').html("<code>"+data.length + " matches</code>");
                    }

                    $('#search').autocomplete({
                        source: data,
                        minLength: 0,
                        select: function (event, ui) {
                            $("#add").prop("disabled", false).addClass("btn-primary");
                        }
                    }).autocomplete("search", "");
                    event.stopImmediatePropagation();
                    /*    $('#search').focus();
                     $("#add").prop("disabled", false );
                     */
                    if (data == "used") {
                        var selectedRole = $('#byrole option:selected').val();
                        if (selectedRole != undefined && selectedRole != "") {
                            $("#add").prop("disabled", false).addClass("btn-primary");
                        }
                    }
                },
                error: function (response, xhr, err) {
                    $("#log").html("WARNING! An error occurred on the server ("+err+")!");
                }
            });
        } else {
            $('#matchedUser').html("");
            $('#search').autocomplete({
                source: []});
        }
    }
</script>
