<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/css/jquery.fileupload.css') }}" />
<!-- The basic File Upload plugin -->
<script type="text/javascript" src="{{ asset('bundles/app/js/jquery.fileupload.js') }}" ></script>

<div class="row">
    <div class="col-md-4">
        <div id="upfilediv" class="main">
            <span class="btn btn-success fileinput-button main">
                <i class="fa fa-plus-circle"></i>
                <span>Upload files...</span>
                <!-- The file input field used as target for the file upload widget -->
                <input id="fileupload" type="file" name="upfile" multiple>
            </span>
        </div>
    </div>
    <div class="col-md-8">
        <div class="main">
            <div id="clear-report" class="import-report" style="display: none; background: #f7efff">
                <a class="reportclose" id="reportclose" href="javascript:resetReport();"></a>
                <div id="import-report"></div>
                <div id="import-suggest"></div>
            </div>
        </div>
    </div>
</div>


<div class="main" id="files"></div>
<div class="navbar-fixed-bottom">
    <div id="fileQueue" class="pull-right" style="max-height: 200px"></div>
</div>
<!-- The global progress bar -->


<div class="footer" style="height: 8px">
    <div id="progress" class="progress">
        <div class="progress-bar progress-bar-success"></div>
    </div>
</div>

<script>
    alertify.defaults.transition = "fade";
    alertify.confirm().setting('modal', true);
    alertify.confirm().setting('defaultFocus', 'cancel');

    var waitUploading = 0;
    function deleteFiles () {
        var fList = "";
        $('input[type=checkbox]').each(function () {
            if (this.checked && $(this).val() != "on") {
                fList += (fList == "" ? $(this).val() : "," + $(this).val());
            }
        });

        if (fList.length > 0) {
            var confirm = alertify.confirm('', 'Do you really want to remove these file?', null, null).set('labels', {
                cancel: 'Cancel',
                ok: 'OK'
            });
            confirm.set('onok', function () {
                //callback to OK button
                window.open("{{ path('corpus_delete') }}?flist=" + fList, "_self");
            });
        }
        return false;
    }

    function listUploadedCorpus () {
        $.ajax({
            url: "{{ path('corpus_index') }}",
            type: 'GET',
            async: false,
            cache: false,
            crossDomain: false,
            success: function (html) {
                $("#files").html(html).focus();
            }
        });
    }


    function parseCorpus (corpusid) {
        var xhr = $.ajax({
            url: "{{ path('corpus_parse') }}",
            data: {"id": corpusid},
            type: 'GET',
            async: true,
            cache: false,
            crossDomain: false,
            beforeSend: function () {
                $("#log").html(" saving.");
            }});

        (function loop() {
            //$("#log").append(xhr.readyState);
            $("#log").append(".");
            if (xhr.readyState < 4) {
                setTimeout(loop, 1000);

                /*var xhr2 = $.getJSON("{{ path('corpus_check') }}", {id: corpusid}, function (data) {
                    $("#log").html("stored "+data.sentnum + " TUs");
                    setTimeout(loop, 0);
                });*/

                /*$.ajax({
                    url: "{{ path('corpus_check') }}",
                    data: {"id": corpusid},
                    type: 'GET',
                    async: true,
                    cache: false,
                    crossDomain: false,
                    beforeSend: function () {
                        $("#log").append(" check " + corpusid);
                    },
                    success: function (response) {
                        data = jQuery.parseJSON(response);
                        if (data.success) {
                            $("#log").html("stored "+data.sentnum + " TUs");
                            loop();
                        }
                    }
                });*/
            } else {
                listUploadedCorpus();
                setTimeout('$("#log").html("")', 2000);
            }
        }());

        /*
        $.ajax({
            url: "{{ path('corpus_parse') }}",
            data: {"id": corpusid},
            type: 'GET',
            async: true,
            cache: false,
            crossDomain: false,
            beforeSend: function () {
                $("#log").html(" parsing");
            },
            success: function (response) {
                waitUploading = 0;
                data = jQuery.parseJSON(response);
                if (data.success) {
                    //$("#log").append(", sentences: "+data.sentences);
                } else {
                    notify(data.message,"error");
                }
                listUploadedCorpus();
                setTimeout('$("#log").html("")',3000);
            },
            error: function () {
                waitUploading = 0;
            }
        });
        */
    }

    function checkCorpus (corpusid) {
        if (waitUploading == 1) {
            $.ajax({
                url: "{{ path('corpus_check') }}",
                data: {"id": corpusid},
                type: 'GET',
                async: false,
                cache: false,
                crossDomain: false,
                beforeSend: function () {
                    $("#log").append(" check " + corpusid);
                },
                success: function (response) {
                    data = jQuery.parseJSON(response);
                    if (data.success) {
                        $("#log").html("stored "+data.sentnum + " TUs");
                        //setTimeout("checkCorpus('"+corpusid+"')", 100);
                    }
                }
            });
        }
    }

    function resetReport () {
        $('#import-report').html("");
        $('#clear-report').hide();
    }

    $(function () {
        $('#fileupload').fileupload({
            url: '{{ path('corpus_new') }}?pid={{ app.session.get('project')['id'] }}&_csrf_token={{ csrf_token('authenticate') }}',
            //dataType: 'json',
            //acceptFileTypes: /(\.|\/)(csv|tsv|txt)$/i,
            maxFileSize: 999000,
            done: function (e, data) {
                $('#progress .progress-bar').css('width', '0%');
            },
            success: function (json) {
                data = jQuery.parseJSON(json);
                if (!data.success) {
                    //$('#fileQueue').html("");
                    $('#clear-report').show();
                    $('#import-report').append(data.alert);
                    if(data.suggest) {
                        $('#import-suggest').html(data.suggest);
                    }
                    setTimeout('$("#log").html("")', 2000);
                } else {
                    //$('#clear-report').show();
                    /*
                     $('#import-report').append("- <b>" + data.message + "</b> ");
                     for (var i = 0; i < data.message.length; i++) {
                     $('#import-report').append(data.message[i] + "<br>");
                     }
                     $('#import-report').append('<hr>');
                     */
                    //listUploadedCorpus();
                    //waitUploading = 1;
                    //setTimeout("checkCorpus('"+data.corpusid+"')", 100);
                    parseCorpus(data.corpusid);
                }
            }
        }).on('fileuploadfail', function (e, data) {
            $('#clear-report').show();
            $.each(data.files, function (index, file) {
                $('#import-report').append("<b>"+file.name +"</b> - File upload failed.<br>");
            });
        }).on('fileuploadprogressall', function (e, data) {
            $("#log").html("...uploading");
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
                    'width',
                    progress + '%'
            );
        });
    });

    listUploadedCorpus();
    checkTask("import_corpus", "{{ "import_corpus" | trans }}");
</script>
