{% if app.session.get('project') is defined  %}
    {% set name = app.session.get('project')["name"] %}
    {% set description = app.session.get('project')["description"] %}
{% else %}
    {% set name = "" %}
    {% set description = "" %}
{% endif %}
<div class="main">
    <form class="form-horizontal cardgrey" action="{{ path('project_update') }}" method="POST">
        <input type=hidden name="view" value="{{ view }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <p>
        </p>
        <div class="container-fluid larger">
            <p>
                <label>Project name:</label>
                <input type="text" required="required" class="form-control" name="name" id="name" value="{{ name }}" />
            </p>
        </div>

        <div class="container-fluid">
            <p>
                <label>Description:</label>
                <textarea rows="4" class="form-control" name="description" id="description">{{ description }}</textarea>
            </p>
        </div>

        <div class="block">
            <input type="submit" class="btn btn-primary" value="Save">
            <input type="reset" class="btn btn-default" value="Reset">
        </div>
    </form>
</div>

<script>
    String.prototype.lines = function() { return $('#description').text().split(/\r*\n/); }
    String.prototype.lineCount = function() { return $('#description').text().lines().length; }
    $('#description').css('height', ($('#description').text().lineCount() + 4) + 'em');
</script>